<html>
<body style="background-color:#e5e5e5">

    <table bgcolor="#e5e5e5" cellpadding="0" cellspacing="0" style="background-color:#e5e5e5" width="100%">
        <tbody><tr>
            <td align="center" style="padding-top: 20px; text-align: left;">
                <table align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0" style="background-color:#ffffff; width:593px; margin:0 auto;" width="593">
                    <tbody>
                        <tr>
                            <td width="100%" height="54" >
                                <table bgcolor="#2b2b2b" cellpadding="0" cellspacing="0" style="background-color:#2b2b2b; width:100%; margin:0 auto;" width="100%">
                                    <tbody><tr>
                                        <td width="100%" height="54" style="vertical-align: center;">
                                            <img style="color: #ffffff; font-size: 12px;" alt="MYARTISTDNA" src="http://www.madd3v.com/images/email_mad_header.jpg" />
                                        </td>
                                    </tr></tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 40px; padding-left: 124px; padding-right: 143px; color: #000000; font-size: 30px; font-family: 'Trebuchet MS', Helvetica, sans-serif;">
                            
                                Welcome <span style="color: #00cdca;">Young Fonz</span>, Thank you for signing up for a beta account.
                            
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 30px; padding-left: 35px; padding-right: 35px; color: #000000; font-size: 14px; font-family: 'Trebuchet MS', Helvetica, sans-serif;" >
                            
                                Our top priority is to make it easy for you to professionally display your work to the public.
                                There are several ways to get started so take a look around, make yourself at home.
                            
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" style="padding-top: 35px;">
                                <table cellpadding="0" cellspacing="0" style="width:100%; margin:0 auto;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="216" style="width: 216px; padding-left: 59px; color: #000000; font-size: 14px;  font-family: 'Trebuchet MS', Helvetica, sans-serif; font-weight: bold;" >
                                                YOUR LOGIN EMAIL:
                                            </td>
                                            <td style="color: #00cdca; font-size: 14px;  font-family: 'Trebuchet MS', Helvetica, sans-serif; font-weight: bold; text-transform: uppercase;">
                                                YOUNGFONZ@GMAIL.COM
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="216" style="padding-top: 17px; width: 216px; padding-left: 59px; color: #000000; font-size: 14px;  font-family: 'Trebuchet MS', Helvetica, sans-serif; font-weight: bold;" >
                                                YOUR FREE ADDRESS:
                                            </td>
                                            <td style="padding-top: 17px; color: #00cdca; font-size: 14px;  font-family: 'Trebuchet MS', Helvetica, sans-serif; font-weight: bold; text-transform: uppercase;">
                                                <a href="http://youngfonz.madd3v.com" style="color: #00cdca; text-decoration: none;">HTTP://YOUNGFONZ.MADD3V.COM/</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="216" style="padding-top: 17px; width: 216px; padding-left: 59px; color: #000000; font-size: 14px;  font-family: 'Trebuchet MS', Helvetica, sans-serif; font-weight: bold;" >
                                                EDITING YOUR ACCOUNT:
                                            </td>
                                            <td style="padding-top: 17px; color: #00cdca; font-size: 14px;  font-family: 'Trebuchet MS', Helvetica, sans-serif; font-weight: bold; text-transform: uppercase;">
                                                <a href="http://www.madd3v.com/manage" style="color: #00cdca; text-decoration: none;">HTTP://WWW.MADD3V.COM/MANAGE</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 35px; padding-bottom: 25px; padding-left: 81px; padding-right: 100px; color: #000000; font-size: 32px; font-family: 'Trebuchet MS', Helvetica, sans-serif;">
                                
                                + Click <a href="http://www.madd3v.com/manage" style="color: #00cdca; text-decoration: none;">here</a> to get started,
                                and create your first page!
                                
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" height="10" >
                                <table bgcolor="#c3c3c3" cellpadding="0" cellspacing="0" style="background-color: #c3c3c3; width: 569px; margin: 0 auto;" width="569">
                                    <tbody><tr>
                                        <td width="100%" height="10">
                                            <img src="http://www.madd3v.com/images/email_slashes_sep.jpg" />
                                        </td>
                                    </tr></tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" style="padding-top: 20px;">
                                <table cellpadding="0" cellspacing="0" style="width:100%; margin:0 auto;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="182" height="144" style="width: 182px; height: 144px;">
                                                <a href="http://www.madd3v.com/faq.php" style="text-decoration: none; outline: 0;">
                                                    <img src="http://www.madd3v.com/images/email_film_icon.jpg" />
                                                </a>
                                            </td>
                                            <td style="padding-top: 4px; color: #000000; font-size: 16px;  font-family: 'Trebuchet MS', Helvetica, sans-serif;">
                                                <b>Setup Instructions:</b><br/>
                                                <br/>
                                                + We have crafted a simple video for you to see just how easy it is to have your page up and running!
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="182" height="132" style="width: 182px; height: 132px;">
                                                <a href="http://www.madd3v.com/faq.php" style="text-decoration: none; outline: 0;">
                                                    <img src="http://www.madd3v.com/images/email_info_icon.jpg" />
                                                </a>
                                            </td>
                                            <td style="color: #000000; font-size: 16px;  font-family: 'Trebuchet MS', Helvetica, sans-serif;">
                                                <b>How to Embed your player:</b><br/>
                                                <br/>
                                                + See how you can use our embed widget to port your account on blogs or your own website.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 15px; color: #000000; font-size: 13px; font-family: 'Trebuchet MS', Helvetica, sans-serif; text-align: center;">
                                Thanks for the support. The MyArtistDNA Team!
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" height="10" >
                                <table bgcolor="#c3c3c3" cellpadding="0" cellspacing="0" style="background-color: #c3c3c3; width: 569px; margin: 0 auto;" width="569">
                                    <tbody><tr>
                                        <td width="100%" height="10">
                                            <img src="http://www.madd3v.com/images/email_slashes_sep.jpg" />
                                        </td>
                                    </tr></tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 11px; padding-bottom: 17px; padding-left: 27px; padding-right: 35px; color: #000000; font-size: 12px; font-family: 'Trebuchet MS', Helvetica, sans-serif;">
                                Questions or suggestions for MyArtistDNA? Be Sure to post them in our feedback section.
                                We are here to help. Contact us by sending an email to our support team at
                                <a href="mailto:info@myartistdna.com" style="text-decoration: none; color: #000000; outline: 0;" >info@myartistdna.com</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" style="padding-bottom: 15px;">
                                <table cellpadding="0" cellspacing="0" style="width:100%; margin:0 auto;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="512" style="width: 512px; padding-top: 7px; padding-left: 27px; color: #000000; font-size: 12px; font-family: 'Trebuchet MS', Helvetica, sans-serif;">
                                                If you want to keep up with us you can follow us on Twitter and like us on Facebook.
                                            </td>
                                            <td width="30" style="padding-right: 13px; text-align: right;">
                                                <a href="http://twitter.com/myartistdna" style="text-decoration: none; outline: 0;">
                                                    <img alt="twitter" src="http://www.madd3v.com/images/email_twitter_icon.jpg" />
                                                </a>
                                            </td>
                                            <td width="18" style="padding-top: 7px; color: #aaa; font-size: 12px; font-family: 'Trebuchet MS', Helvetica, sans-serif; text-align: center;">
                                            //
                                            </td>
                                            <td width="24" style="">
                                                <a href="http://www.facebook.com/myartistdna" style="text-decoration: none; outline: 0;">
                                                    <img alt="facebook" src="http://www.madd3v.com/images/email_facebook_icon.jpg" />
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" height="35" >
                                <table bgcolor="#2b2b2b" cellpadding="0" cellspacing="0" style="background-color:#2b2b2b; width:100%; margin:0 auto;" width="100%">
                                    <tbody><tr>
                                        <td width="100%" height="35" style="vertical-align: center;">
                                            <img style="color: #ffffff; font-size: 12px;" alt="MYARTISTDNA" src="http://www.madd3v.com/images/email_mad_footer.jpg" />
                                        </td>
                                    </tr></tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%" height="5" bgcolor="#000000">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr></tbody>
    </table>
    
</body>
</html>
