<!DOCTYPE html>
<html>
    <head>
        <title>MyArtistDNA | Be Heard. Be Seen. Be Independent.</title>

        <!--[if lt IE 9]>
         <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <link href="/css/error.css" rel="stylesheet" type="text/css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div class='big_mad_logo'></div>
        <div class='error_text'>
            <div class='line'>Sorry, MyArtistDNA is currently under maintenance.  </div>
            <div class='line'>Please check back again shortly.</div>
        </div>
    </body>
</html>
