<div id="footer">
    <div class='pad'></div>
    <footer>
        <aside>
            <div class='list_head'>ARTIST</div>
            <ul>
                <li><a href="/community.php">All</a></li>
            </ul>
        </aside>
        <aside>
            <div class='list_head'>SUPPORT</div>
            <ul>
                <li><a href="/faq.php">FAQ</a></li>
                <li><a href="/tour.php">Contact Us</a></li>
            </ul>
        </aside>
        <aside>
            <div class='list_head'>MAD NETWORK</div>
            <ul>
               <li><a href="http://myartistdna.com/fan">MAD Fan</a></li>
    <li><a href="http://myartistdna.tumblr.com">MAD Blog</a></li>
    <li><a href="http://myartistdna.is">MAD.is</a></li>
    <li><a href="http://myartistdna.fm">MAD.fm</a></li>
    <li><a href="http://myartistdna.tv">MAD.tv</a></li>                
            </ul>
        </aside>
        
        <article>
            <div class='list_head'>STAY CONNECTED</div>
            <ul>
                <li>
                    <a href="http://facebook.com/pages/MyArtistDNA/106114012796731" target="_blank">
                        <span><img src="/images/facebook.gif" alt="Facebook"></span>
                        Become a fan on Facebook
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/myartistdna" target="_blank">
                        <span><img src="/images/twitter.gif" alt="Twitter"></span>
                        Follow us on Twitter
                    </a>
                </li>
                          </ul>
        </article>
        
        <div class="logo">
            <a href="/home.php">
                <img src="/images/MYARTISTDNA_footer.gif" alt="MYARTISTDNA">
            </a>
        </div>
        <p>&copy; 2012 Powered by MyArtistDNA</p>
    </footer>
</div>
