
<div id='footer2'>
    <div class='bottom_bar'>
        <div class='left'>
            <div class='copyright'>&copy; 2012 Powered by MyArtistDNA</div>
            <div class='slashes'>//</div>
            <a href="/terms_service.php">TERMS OF USAGE</a>
            <div class='slashes'>//</div>
            <a href="/faq.php">SUPPORT / HELP</a>
            <div class='slashes'>//</div>
            <a href="/tour.php">CONTACT</a>
        </div>
        <div class='right'>
            <a class='facebook' href="http://www.facebook.com/pages/MyArtistDNA/106114012796731"></a>
            <div class='slashes'>//</div>
            <a class='twitter' href="http://twitter.com/myartistdna"></a>
        </div>
    </div>
</div>
