<!DOCTYPE html>
<html>
    <head>
        <title>MyAritstDNA | Be Heard. Be Seen. Be Independent.</title>
        <!--[if lt IE 9]>
         <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
         <![endif]-->
        <link href="/css/signup.css" rel="stylesheet" type="text/css"/>
        <link href="/css/header2.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
        
        <script src="/js/jquery.jplayer.js" type="text/javascript"></script>
        <script src="/js/string.utils.js" type="text/javascript"></script>
        <script src="/js/login_signup.js" type="text/javascript"></script>
        
        <script type="text/javascript">
            var g_trueSiteUrl = "<?=trueSiteUrl();?>";
        </script>
    </head>
    
    <body class='forgot_password_page'>
        <div id='body_wrap'><div id='main_content'>

            <?php include "header2.html"; ?>

            <div id='signup_container'>
            
                <div id='signup'>
                    <div class='header'>
                        <div class='text'>PASSWORD RECOVERY</div>
                    </div>
                    <div class='credential_container'>
                        <div class='credentials'>
                            <div class='title'>LOGIN TO MYARTISTDNA</div>
                            <div class='detail'>
                                Forgot your password?  Enter your email address below and we will send you a link to update your password.
                                Just click on the link and you will be able to choose a new password.
                            </div>
                            <div class='input_container email'>
                                <div class='label'>Email Address</div>
                                <input id='login_username' type='text'/>
                            </div>
                            <div class='submit_container'>
                                <div class='submit' onclick='forgotPasswordSubmit();'>Send Email</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>
        
        <?php include "footer2.html"; ?>
        
    </body>
</html>
