<div id='top_bar_nav' class='idle_hide'>
    <img class='upper_left_logo idle_hide'
        src="<?=$template_params['upper_left_logo']['image'];?>" />

    <?php foreach( $tab_list as $k => $tab ): ?>
        <div class='tab button' onclick='navToggleTab(this,<?=$k;?>);'>
            <div class='text'><?=$tab['title'];?></div>
            <div class='icon'></div>
        </div>
    <?php endforeach; ?>

    <?php if( $store_enabled ): ?>
        <div class='store button' onclick='navToggleStore(this);'>
            <div class='icon'></div>
        </div>
    <?php endif; ?>
    <div class='social button facebook' onclick='navToggleFacebook(this);'>
        <div class='icon'></div>
    </div>
    <div class='social button twitter' onclick='navToggleTwitter(this);'>
        <div class='icon'></div>
    </div>
    <div class='social button instagram' onclick='navToggleInstagram(this);'>
        <div class='icon'></div>
    </div>
</div>

<?php foreach( $tab_list as $k => $tab ): ?>
    <div id='user_tab_<?=$k;?>' class='content_tab user_tab'>
        <div class='close' onclick='navHideTab(this);'>
            <div class='icon'></div>
            <div class='name'>CLOSE</div>
        </div>
        <div class='content_container'>
            <?=$tab['content'];?>
        </div>
    </div>
<?php endforeach; ?>

<div class='twitter social_item content_tab'></div>
<div class='facebook social_item content_tab'></div>
<div class='instagram social_item content_tab'>
    <ul class="instagram-lite"></ul>
</div>

<div id='store_tab' class='content_tab'>
    <div class='right scrollbar-pane'>
        <div class='nav'>
            <div id='store_back' class='store_back' onclick='storeShowProductList();' style='display: none'>
                <div class='arrow'></div>
                <div class='text'>BACK TO LIST</div>
            </div>
            <div class='store_close' onclick='navHideTab(this);'>
                <div class='icon'></div>
                <div class='text'>CLOSE</div>
            </div>
            <div class='view_cart' onclick='storeViewCart();'>
                <div class='arrow'></div>
                <div class='text'>VIEW CART</div>
            </div>
        </div>
        <div id='product_list' class='product_list store_content'>
            <?=$product_list_html;?>
        </div>
        <div id='product_info' class='product_info store_content'>
            <div class='pi_right'>
                <div class='name'></div>
                <div class='hsep'></div>
                <div class='price_share'>
                    <div class='dollar_price'><span class='dollar'>$</span><span class='price'></span></div>
                    <div class='sizes'>
                        <select id='product_size'>
                            <option value='small'>Small</option>
                            <option value='medium'>Medium</option>
                            <option value='large'>Large</option>
                            <option value='x-large'>X-Large</option>
                        </select>
                    </div>
                </div>
                <div class='hsep'></div>
                <div class='stock_count in_stock'>
                    <span class='count'></span> IN STOCK
                </div>
                <div class='hsep in_stock'></div>
                <div class='stock_count out_stock'>
                    OUT OF STOCK
                </div>
                <div class='hsep out_stock'></div>
                <button class='buy' onclick='storeBuyProduct();'>BUY NOW</button>
                <button class='buy_free' onclick='storeBuyFreeProduct();'>DOWNLOAD</button>
                <div class='description'></div>
            </div>
            <div class='pi_left'>
                <div class='img_holder'>
                    <img src=''/>
                </div>
            </div>
        </div>
        <div id='buy_now_result' class='buy_now_result buy_result store_content'>
            <div class='name'></div>
            <div class='hsep'></div>
            <div class='text'>PRODUCT ADDED TO CART.</div>
            <div class='return_to_store button' onclick='storeShowProductList();'>RETURN TO STORE</div>
            <div class='view_cart button' onclick='storeViewCart();'>VIEW CART</div>
            <div class='checkout button' onclick='storeCheckout();'>CHECKOUT NOW</div>
        </div>
        <div id='free_product_success' class='free_product_success buy_result store_content'>
            <div class='name'></div>
            <div class='hsep'></div>
            <div class='text'>Product added to your fan account!</div>
            <div class='return_to_store button' onclick='storeShowProductList();'>RETURN TO STORE</div>
            <div class='go_to_fan button' onclick='storeGoToFan();'>GO TO FAN PAGE</div>
        </div>
        <div id='free_product_need_fan' class='free_product_need_fan buy_result store_content'>
            <div class='name'></div>
            <div class='hsep'></div>
            <div class='text'>You need to signup for a MyArtistDNA fan account to download this item.</div>
            <div class='fan_signup button' onclick='storeFanSignup();'>SIGNUP</div>
            <div class='fan_login button' onclick='storeFanLogin();'>LOGIN</div>
        </div>
    </div>
    <?=build_scrollbar();?>
</div>