
<div id='header2'>
    <div class='left'>
        <a href="/home.php">
            <div class='mad_icon'></div>
        </a>
    </div>
    <div class='right'>
        <div class='mad_blog trap_button'>
            <a href="http://myartistdna.tumblr.com">
                <div class='inner'>
                    <div class='label'>MAD BLOG</div>
                </div>
            </a>
        </div>
        <div class='mad_tv trap_button'>
            <a href="http://www.myartistdna.tv">
                <div class='inner'>
                    <div class='icon'></div>
                    <div class='label'>MAD.TV</div>
                </div>
            </a>
        </div>
        <div class='mad_fm trap_button'>
            <a href="http://www.myartistdna.fm">
                <div class='inner'>
                    <div class='icon'></div>
                    <div class='label'>MAD.FM</div>
                </div>
            </a>
        </div>
    </div>
</div>
