<!DOCTYPE html>
<html>
<head>
    <title><?=$template_params['page_title'];?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link href="http://fonts.googleapis.com/css?family=Lato:200,300,400,700,300italic,400italic|Montserrat:200,300,400,700" rel="stylesheet" type="text/css"/>
    <link href="<?=static_file_url('/css/video-js.css');?>" rel="stylesheet" type="text/css"/>
    <link href="<?=static_file_url('/css/mychannel.css');?>" rel="stylesheet" type="text/css"/>
    
    <!--[if lt IE 9]>
     <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
     <script src="<?=static_file_url('/js/css3-mediaqueries.js');?>"></script>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/moment.min.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/video.js');?>"></script>

    <script src="<?=static_file_url('/js/jquery.mousewheel.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/jquery.jplayer.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/instagramLite.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/string.utils.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/mad.scrollbar.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/mad.swipe.js');?>" type="text/javascript"></script>

    <script src="<?=static_file_url('/js/mychannel/player_general.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/mychannel/player_common.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/mychannel/player_image.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/mychannel/player_social.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/mychannel/player_store.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/mychannel/player_playlist.js');?>" type="text/javascript"></script>

    <script src="<?=static_file_url('/js/mychannel/mychannel.js');?>" type="text/javascript"></script>
    <script type="text/javascript">
        var g_jplayerSWF = "<?=static_file_url('/js/Jplayer.swf');?>";
    
        var g_tabList = <?=$tab_list_json;?>;
        var g_productList = <?=$product_list_json;?>;
        var g_totalPageViews = <?=$artist_views;?>;
        var g_playlistList = <?=$playlist_list_json;?>;
        
        var g_trueSiteUrl = "<?=trueSiteUrl();?>";
        var g_cartBaseUrl = "<?=cart_base_url();?>";
        var g_apiBaseUrl = "<?=api_base_url();?>";
        var g_fanBaseUrl = "<?=fan_base_url();?>";
        var g_artistFileBaseUrl = "<?=artist_file_base_url();?>";

        var g_artistName = "<?=$artist_name;?>";
        var g_artistId = <?=$artist_id;?>;
        var g_artistBaseUrl = "<?=$artist_base_url;?>";
        var g_pageUrl = "<?=$page_url;?>";
        
        var g_fanEmail = "<?=$fan_email;?>";
        
        var g_startMediaType = "<?=$start_media_type;?>";
        
        var g_templateParams = <?=$template_params_json;?>;
    </script>
</head>

<body class='<?=$body_style;?>'>
    <div id="fb-root"></div>
    <div id="jquery_jplayer" class="jp-jplayer"></div>

    <div class='right_tab content_list_tab play_list_tab'>
        <div class='mobile_header'>
            <div class='side_menu_button' onclick='clickMenu();'>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class='title'>CONTENT</div>
        </div>
        <div class='desktop_header'>
            <div class='icon_close' onclick='clickCloseAll();'></div>
        </div>
        <div class='top_line_holder_holder'>
            <div class='top_line_holder'>
                <div class='top_line'></div>
            </div>
        </div>
        <div class='content_list_holder'>
            <div class='content_list'>
                <?php
                    foreach( $playlist_list as $i => $playlist ):
                        foreach( $playlist['items'] as $j => $item ):
                            $name = $item['name'];
                            $description = $item['description'];
                            $img_url = get_image_thumbnail($item['image'],$item['image_extra'],500);
                            $action = "clickContentListItem($i,$j);";
                            $video_url = $item['media_url'];
                            $video_id = "video_${i}_${j}";
                ?>
                    <div class='content_item'>
                        <div class='left'>
                            <div class='type'>VIDEO</div>
                            <div class='title'><?=$name;?></div>
                            <div class='description'><?=$description;?></div>
                        </div>
                        <div class='right'>
                            <div class='image_container' onclick='<?=$action;?>'>
                                <img src='<?=$img_url;?>'/>
                                <div class='play_button'>
                                    <div></div>
                                </div>
                                <video id="<?=$video_id;?>" src="<?=$video_url;?>" preload="none"/>
                            </div>
                        </div>
                    </div>
                <?php endforeach; endforeach; ?>
            </div>
        </div>
    </div>
    <div class='signup signup_bg'></div>
    <div class='signup signup1 content_tab'>
        <div class='header'></div>
        <div class='middle'>
            THE LEADING<br/>
            PERSONALIZED<br/>
            CONSUMER EXPERIENCE
            <div class='next_arrow' onclick='clickSignup1Next();'>
                <div class='arrow'></div>
            </div>
        </div>
    </div>
    <div class='signup signup2 content_tab'>
        <div class='header'></div>
        <div class='middle'>
            NEW CHANNEL<br/>
            <div class='button' onclick='clickSignup2Next();'>CREATE</div>
        </div>
    </div>
    <div class='signup signup3 content_tab'>
        <div class='header'></div>
        <div class='middle'>
            Pick Type of Channel
            <div class='pick_list'>
                <div class='item'>
                    <input id="channel_type_personal" type="radio" name="channel_type" value="personal">
                    <label for="channel_type_personal"><span><span></span></span>Personal</label>
                </div>
                <div class='item'>
                    <input id="channel_type_group" type="radio" name="channel_type" value="group">
                    <label for="channel_type_group"><span><span></span></span>Group</label>
                </div>
                <div class='item'>
                    <input id="channel_type_company" type="radio" name="channel_type" value="company">
                    <label for="channel_type_company"><span><span></span></span>Company</label>
                </div>
            </div>
            <div class='next_arrow' onclick='clickSignup3Next();'>
                <div class='arrow'></div>
            </div>
        </div>
    </div>
    <div class='signup signup4 content_tab'>
        <div class='header'></div>
        <div class='middle'>
            Signup for a new channel<br/>
            <input type="text" placeholder="Phone Number"/><br/>
            <div class='button' onclick='clickSignup4Next();'>SIGN UP</div>
        </div>
    </div>
    <div class='signup signup5 content_tab'>
        <div class='header'></div>
        <div class='middle'>
            Name Your Channel<br/>
            <input type="text" placeholder="First Name"/><br/>
            <div class='button' onclick='clickSignup5Next();'>SUBMIT</div>
        </div>
    </div>
    <div class='signup signup6 content_tab'>
        <div class='header'></div>
        <div class='middle'>
            Personalize Your Channel<br/>
            <div class='subtitle'>Add the topics that interest you</div>
            <div class='pick_list'>
                <div class='item'>
                    <input id="channel_interest_1" type="checkbox" class='small'>
                    <label for="channel_interest_1"><span><span></span></span>Hypertension</label>
                </div>
                <div class='item'>
                    <input id="channel_interest_2" type="checkbox" class='small'>
                    <label for="channel_interest_2"><span><span></span></span>Diabetes</label>
                </div>
                <div class='item'>
                    <input id="channel_interest_3" type="checkbox" class='small'>
                    <label for="channel_interest_3"><span><span></span></span>Wellness Lifestyle</label>
                </div>
                <div class='item'>
                    <input id="channel_interest_4" type="checkbox" class='small'>
                    <label for="channel_interest_4"><span><span></span></span>Current News</label>
                </div>
                <div class='item'>
                    <input id="channel_interest_5" type="checkbox" class='small'>
                    <label for="channel_interest_5"><span><span></span></span>Your Wearables Info</label>
                </div>
                <div class='item'>
                    <input id="channel_interest_6" type="checkbox" class='small'>
                    <label for="channel_interest_6"><span><span></span></span>Your Social Media Info</label>
                </div>
            </div>
            <div class='button' onclick='clickSignup6Next();'>ENGAGE</div>
        </div>
    </div>
    <div class='welcome welcome1 content_tab'>
        <div class='header'></div>
        <div class='date'></div>
        <div class='middle'>
            HELLO
            <div class='user_first_name'>Larry</div>
            <div class='next_arrow' onclick='clickWelcome1Next();'>
                <div class='arrow'></div>
            </div>
        </div>
    </div>
    <div class='welcome welcome2 content_tab'>
        <div class='header'></div>
        <div class='date'></div>
        <div class='middle'>
            <div class='user_first_name'>Larry</div>
            <div class='question'>
                <div class='behind'>?</div>
                HOW ARE YOU<br/>
                FEELING TODAY
            </div>
            <input type='text'/>
            <div class='next_arrow' onclick='clickWelcome2Next();'>
                <div class='arrow'></div>
            </div>
        </div>
        <div class='daily_goal'>
            <div class='label'>DAILY GOAL<div class='percent'>34%</div></div>
            <div class='bar'>
                <div class='whole_bar'>
                    <div class='filled_bar'></div>
                </div>
            </div>
        </div>
    </div>
    <div class='home_tab content_tab'>
        <div class='top_items home_tab_item'>
            <div class='side_menu_button' onclick='clickMenu();'>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class='share_star'>
                <div class='share'>SHARE</div>
                <div class='star'>
                    <div class='icon'></div>
                </div>
            </div>
        </div>
        <div class='controls home_tab_item'>
            <div class='tracker_bar'>
                <div class='whole_bar'>
                    <div class='filled_bar'></div>
                    <div class='current_pos'></div>
                </div>
            </div>
            <div class='info_bar'>
                <div class='now_playing'>
                    <div class='label'>NOW PLAYING</div>
                    <div class='track_title'>The One Great Stretch</div>
                </div>
                <div class='play_pause track_play_pause_control paused' onclick='playlistPlayPause();'>
                </div>
                <div class='next' onclick='playlistNext();'>
                </div>
                <div class='volume'>
                </div>
                <div class='info'>
                    INFO
                </div>
            </div>
        </div>
    </div>
    <div class='side_menu'>
        <div class='cover' onclick='clickCloseAll();'></div>
        <div class='shown_menu'>
            <div class='logo'>
                <div></div>
            </div>
            <div class='close_holder'>
                <div class='icon_close' onclick='clickCloseAll();'></div>
            </div>
            <div class='menu_item_list'>
                <div class='menu_item' onclick="slideInRightTab('.news_tab',this);">NEWS</div>
                <div class='menu_item' onclick="slideInRightTab('.play_list_tab',this);">CONTENT</div>
                <div class='menu_item'>STORE</div>
                <div class='menu_item'>ANALYTICS</div>
                <div class='menu_item'>SOCIAL MEDIA</div>
                <div class='menu_item last'>PREFERENCES</div>
            </div>
        </div>
    </div>
    <div class='right_tab content_list_tab news_tab'>
        <div class='mobile_header'>
            <div class='side_menu_button' onclick='clickMenu();'>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class='title'>NEWS</div>
        </div>
        <div class='desktop_header'>
            <div class='icon_close' onclick='clickCloseAll();'></div>
        </div>
        <div class='top_line_holder_holder'>
            <div class='top_line_holder'>
                <div class='top_line'></div>
            </div>
        </div>
        <div class='content_list_holder'>
            <div class='content_list'>

                <?php
                    foreach( $tab_list as $i => $tab ):
                        $title = $tab['title'];
                        $dt = $tab['item_datetime'];
                        echo $dt;
                        $time = strtotime($dt);
                        echo $time;
                        $dt_string = strftime("%m/%d/%y",$time);
                        echo $dt_string;
                        $content = $tab['content'];
                ?>
                    <div class='content_item'>
                        <div class='top_line'>
                            <div class='title'><?=$title;?></div>
                            <div class='date'><?;<?=$dt_string;?></div>
                        </div>
                        <div class='summary'>
                            <?=$content;?>
                        </div>
                        <div class='read_more_container'>
                            <div class='read_more'>Read More &gt;</div>
                        </div>
                    </div>
                <?php endforeach; ?>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', "<?=$template_params['ga_account_id'];?>"]);
        _gaq.push(['_trackPageview']);
        
        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
    </script>
    <script>
        (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=256680924395123";
         fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
</body>
</html>
