
<? if( $artist_twitter ): ?>
<div class='button twitter' onclick='clickTwitterButton();'>
    <div class='icon'></div>
    <div class='label'>TWITTER</div>
</div>
<div class='sep'></div>
<? endif; ?>
<? if( $artist_facebook_page ): ?>
<div class='button facebook' onclick='clickFacebookButton();'>
    <div class='icon'></div>
    <div class='label'>FACEBOOK</div>
</div>
<div class='sep'></div>
<? endif; ?>
<div class='button share' onclick='clickShareButton();'>
    <div class='icon'></div>
    <div class='label'>SHARE</div>
</div>
<div class='sep'></div>
<div class='button email' onclick='clickEmailButton();'>
    <div class='icon'></div>
    <div class='label'>EMAIL LIST</div>
</div>
