<!DOCTYPE html>
<html>
<head>
    <title><?=$template_params['page_title'];?></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="/js/css3-mediaqueries.js"></script>
    <![endif]-->
    
    <link href="<?=static_file_url('/css/splash_audio.css');?>" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>

    <script src="<?=static_file_url('/js/jquery.mousewheel.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/jquery.jplayer.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/string.utils.js');?>" type="text/javascript"></script>

    <script src="<?=static_file_url('/js/player_image.js');?>" type="text/javascript"></script>
    <script src="<?=static_file_url('/js/splash_audio.js');?>" type="text/javascript"></script>

    <script type="text/javascript">
        var g_trueSiteUrl = "<?=trueSiteUrl();?>";
        var g_cartBaseUrl = "<?=cart_base_url();?>";
        var g_apiBaseUrl = "<?=api_base_url();?>";
        var g_artistBaseUrl = "<?=$artist_base_url;?>";
        var g_artistFileBaseUrl = "<?=artist_file_base_url();?>";
        
        var g_artistId = <?=$artist_id;?>;
        
        var g_eventDate = new Date("<?=$template_params['countdown_date'];?>");
        var g_templateParams = <?=$template_params_json;?>;
        
        var g_musicList = <?=$music_list_json;?>;
    </script>

    <script>
        <?=get_ga_code();?>
    </script>
    
</head>

<body class='splash_audio'>
    <div id='body_wrap'><div id='main_content'>
        <div id='splash_bg' class='full_screen_bg'>
            <div id='image_holder_0' class='image_holder'></div>
        </div>
        <div class='top_spacer'></div>
        <div class='title'><?=$template_params['top_title1'];?></div>
        <div class='title'><?=$template_params['top_title2'];?></div>
        <div class='top_sub_spacer'></div>
        <div class='subtitle'><?=$template_params['top_subtitle'];?></div>
        <div class='play_top_space'></div>
        <div id='big_play_icon' onclick='clickVideoPlay();'>
            <div class='inner'></div>
            <div class='triangle'></div>
        </div>
        <div class='play_bottom_space'></div>
        <div class='subtitle'><?=$template_params['bottom_subtitle'];?></div>
        <div id='top_container'>
            <div class='top_line'>
                <div class='days item'>
                    <div class='time'></div>
                    <div class='unit'>DAYS</div>
                </div>
                <div class='colon item'>:</div>
                <div class='hours item'>
                    <div class='time'></div>
                    <div class='unit'>HOURS</div>
                </div>
                <div class='colon item'>:</div>
                <div class='minutes item'>
                    <div class='time'></div>
                    <div class='unit'>MINUTES</div>
                </div>
                <div class='colon item'>:</div>
                <div class='seconds item'>
                    <div class='time'></div>
                    <div class='unit'>SECONDS</div>
                </div>
            </div>
        </div>
        <div class='bottom_title'><?=$template_params['bottom_title'];?></div>
    </div></div>
    <div id='footer'>
        <div class='audio_player'>
            <div class='album_image'></div>
            <div class='title'>Wale FT Tiara Thomas - Bad</div>
            <div class='sep'></div>
            <div class='time'>00:34</div>
        </div>
    </div>
</body>
</html>