@charset "UTF-8";

/* BASIC RESET */
* {margin: 0px; padding: 0px; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}
ul,ol { list-style: none; }


/* CUSTOM FONTS */
@font-face { font-family: 'BebasNeueRegular'; src: url("fonts/bebasneue-webfont.eot"); src: local("BebasNeueRegular"), url("fonts/bebasneue-webfont.woff") format("woff"), url("fonts/bebasneue-webfont.ttf") format("truetype"), url("fonts/bebasneue-webfont.svg#webfontTRIx6ZGq") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HattoriHanzoLightItalic'; src: url('fonts/hattori_hanzo_italic-webfont.eot#') format('embedded-opentype'), url('fonts/hattori_hanzo_italic-webfont.woff') format('woff'), url('fonts/hattori_hanzo_italic-webfont.ttf') format('truetype'), url('fonts/hattori_hanzo_italic-webfont.svg#webfontcNsGe3Rz') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HattoriHanzoLight'; src: url('fonts/hattori_hanzo-webfont.eot#') format('embedded-opentype'), url('fonts/hattori_hanzo-webfont.woff') format('woff'), url('fonts/hattori_hanzo-webfont.ttf') format('truetype'), url('fonts/hattori_hanzo-webfont.svg#webfontbrBDfpL8') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Teletex Light'; src: url('fonts/Teletex_Light.eot#') format('opentype'), url('fonts/Teletex_Light.otf') format('woff'); font-weight: normal; font-style: normal; }

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('/css/Neuzeit-Grotesk.eot');
    src: local('Neuzeit-Grotesk'), url('/css/Neuzeit-Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuzeit Grotesk Light';
    src: url('/css/Neuzeit-Grotesk-Light.eot');
    src: local('Neuzeit-Grotesk-Light'), url('/css/Neuzeit-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* HTML ELEMENTS */
body { background-color: black; font-size: 12px; color: #fff; font-family: Helvetica, Arial, sans-serif; }
p { line-height: 14px; margin-bottom: 12px; letter-spacing: 0.5px; }
a { text-decoration: none; color: #333; }
h1, h2, h3 { font-family: Arial,Helvetica,sans-serif; margin-bottom: 5px; text-transform: uppercase; color:#fff; letter-spacing:0.5px; }
h1 { font-size: 14px; } /* 20 */
h2 { font-size: 11px; } /* 24 */
h3 { font-size: 10px; } /* 18 */
button::-moz-focus-inner {  border: 0;}


/* STANDARD ELEMENTS */
.clear { clear: both; }
.topspace { height: 1000px; clear: both; float: none; display: block; width: 100%; }
#image { background-repeat: no-repeat; background-position: center top; position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: -2; }
#image img{ position:absolute; left:0px; top:0px; }

#login_signup, #login_signup button 
{ 
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 8px; 
    border: none; 
    cursor: pointer; 
    color: white; 
    background-color: transparent; 
} 

#login_signup a 
{ 
    text-decoration: none;
    color: white;
}

/* PAGE */
.anchor { display: block; width: 100px; height: 1px; text-indent: -9999px; }
.space { width: 100%; height: 70px; }
.page, .comments, .videos {max-height:500px; display:none; position:relative; -webkit-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; z-index: 1; padding: 25px; width: 600px; margin: -5px auto 100px auto; background-color: rgba(0, 0, 0, 0.9); }
/*.comments .customScrollBox { max-height:100px; padding: 25px; }*/

.page h1, .comments h1, .store h1, .contact h1, .videos h1 { color: #fff; }
.page p, .comments p, .store p, .contact p, .videos p { color: #fff; font-size: 11px; } /* #ccc // 14 */
.aClose { cursor: pointer; z-index: 46; position: absolute; top: 143px; left: 50%; padding: 0px; width: 45px; height: 45px; margin: -45px 0px 0px 300px; background: url('images/close.png') 0px 0px no-repeat; }
.image {  margin: 0px auto 0px 100px;}
.video { display: block; padding: 15px 0px; width: 600px; }
.pageload { margin: 0px auto; padding: 25px; width: 16px; height: 11px; }


.videos ul { list-style: none; }
.videos ul li { float: left; padding: 0px; margin: 10px 26px 10px 0; overflow: hidden; background: url('images/box/white_50.png') repeat; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; padding:11px; }
.videos ul li div { cursor: pointer; }
.videos ul li img { width: 175px; height:105px; padding: 0px; /*margin: -5px 0px 0px -5px;*/ }
.videos ul li:hover img { opacity:0.7;filter:alpha(opacity=30); }
.videos .playlist_video {width:175px; height:105px; }
.videos ul li.last { margin-right:0; }

/* Video Overlay Pagination Styling */

.videos { padding:3px; width:644px; }
.videos { background:url('images/box/white_50.png') repeat; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.videos h1 { padding-left:20px; background:url('images/box/white_70.png') repeat; text-transform:uppercase; font-size:18px; color:#000; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.videos .video-row { display:none;}
.videos .video-row-1 { display:block; }
.videos .row-button { background:url('images/video_row_button.png') no-repeat center top; width:7px; height:8px; display:inline-block; margin-right:10px; cursor:pointer; }
.videos .row-button-1 { background-position:center bottom; }
.videos .row-buttons { float:right; margin-top:7px; margin-right:40px; }
.videos .row-buttons span { display:none; }
.videos .left-arrow, .videos .right-arrow { display:block; height:45px; width:45px; position:absolute; top:75px; z-index:-1; }
.videos .left-arrow { background:url('images/video_left_arrow.png') no-repeat; left:-20px; }
.videos .right-arrow { background:url('images/video_right_arrow.png') no-repeat; right:-20px; }
.videos .nav-arrows .active { cursor:pointer; }
.videos .nav-arrows div span { display:none; }

/* Contact Overlay Styling */

.contact 
{ 
    max-height:650px; display:none; position:relative; 
    -webkit-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; 
    z-index: 1; width: 750px; margin: -5px auto 100px auto; 
    padding-left: 25px; padding-right: 25px; padding-top: 25px; padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.9); 
    font-family:Helvetica, Arial, sans-serif; 
}

.contact_Close 
{ 
    cursor: pointer; z-index: 46; position: absolute; 
    top: 143px; left: 50%; padding: 0px; width: 45px; height: 45px; 
    margin: -45px 0px 0px 375px; 
    background: url('images/close.png') 0px 0px no-repeat; 
}

.contact .red { color:#ff0000; }
.contact table tr td:first-child { text-align:right; font-size:11px; padding-right:5px; padding-left:5px; }
.contact table tr td.message { vertical-align:top; }
.box-header, .box-footer { position:absolute; left:0; width:100%; }
.box-header { background:url('images/box/header.png') no-repeat; top:-8px; height:8px; background-size: 100%; }
.box-footer { background:url('images/box/footer.png') no-repeat; bottom:-14px; height:14px;  background-size: 100%; }
#contact_submit { border:2px solid #292929; background-color:#000; font-size:11px; text-align:center; width:100px; padding:5px 0; 
    -moz-border-radius: 5px; border-radius: 5px; color: white; cursor: pointer;}
#contact_submit:hover { background: #ff0000; }

#contact_clear { float:right; text-decoration:underline; color:#fff; font-weight:bold; font-size:11px; 
    cursor: pointer; background: transparent; border: 0; display: none; }

.contact h1 { margin-left:80px; }
.contact .right 
{ 
    float:right; 
    border-left:1px solid #3c3c3c; 
    padding-left:20px; 
    width:350px;
    padding-bottom: 0px;
}
.contact h1, .contact h2, .contact h3 { text-transform:none; margin-bottom:5px; font-weight:bold; color:#fff; letter-spacing:0.5px; }
.contact table { width:330px; }
.contact table tr td { padding-bottom:8px; }
.contact h1 { font-size:14px; }
.contact h2 { font-size:11px; }
.contact .right ul span { color:#666; }
.contact .right ul li { margin-bottom:2px; font-size:11px;}
.contact .slashes { color:#666; }
.contact input, .contact .textarea { background:url('images/box/input_bg.png') repeat-y right; border:2px solid #060606; -moz-border-radius: 4px; border-radius: 4px; color:#fff; font-size:11px; font-weight:bold; padding:5px; letter-spacing:0.5px; width:100%; }

.contact select { width:220px; display:block; padding:2px 3px; margin:5px auto; }

#contact_thanks 
{
    padding-top: 40px;
    padding-left: 40px;
}

/* Store Stuff */

.store { max-height:650px; display:none; position:relative; 
        -webkit-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; 
        z-index: 1; padding: 25px; width: 900px; margin: -5px auto 100px auto; 
        background-color: rgba(0, 0, 0, 0.9);
}

.store_Close { cursor: pointer; z-index: 46; position: absolute; 
        top: 143px; left: 50%; padding: 0px; width: 45px; height: 45px; 
        margin: -45px 0px 0px 450px; 
        background: url('images/close.png') 0px 0px no-repeat; }

ul.products { list-style: none; }
ul.products li { color: #ccc; width: 250px; border: 5px solid #fff; background: #000; padding: 10px; margin: 10px; float: left; }
ul.products li h2 { color: #fff; }
div.productimage { height: 170px; margin-bottom: 10px; text-align: center;  }
ul.products li img { height: 170px; }
ul.products li div.price { width: 125px; float: left; font-size: 18px; font-weight: 400; color: #fff; }
ul.products li div.addtocart { display: block; width: 109px; height: 23px; background: url('images/addtocart.jpg') 0 0 no-repeat; float: right; cursor: pointer; text-indent: -9999px; }

.cartnav { margin: 5px 35px 5px 0px; }
.cartnav span { font-size: 14px; color: #fff; font-weight: 400; text-decoration: underline; margin-left: 15px; cursor: pointer;}


ul.products .option { display: block; padding: 3px; width: 250px; margin: 5px 0px; }
.productdetails { height: 80px; }

.remove { width: 47px; height: 23px; display: block; background: url('images/remove.jpg') 0 0 no-repeat; text-indent: -9999px; margin: 0 auto; cursor: pointer; }

.shoppingcartstyle { width: 97%; background: #000; padding: 15px; }
.shoppingcartstyle span { display: block; }
.shoppingcartstyle p, .shoppingcartstyle .two p { color: #eee !important; }
.shoppingcartstyle .productimage { width: 45px; }
.shoppingcartstyle .clear { clear: both; }
.shoppingcartstyle .left { text-align: left; }
.shoppingcartstyle .right { text-align: right; }
.shoppingcartstyle .center { text-align: center; }
.shoppingcartstyle .one { float: left; width: 65px; padding: 5px; margin: 0px; border-top: 1px solid #555; color: #eee; }
.shoppingcartstyle .two { float: left; width: 585px; padding: 5px; border-top: 1px solid #555; color: #eee; }
.shoppingcartstyle .three { float: left; width: 100px; padding: 5px; border-top: 1px solid #555; color: #eee;  }
.shoppingcartstyle .one img { border: 1px solid #ccc; }
.shoppingcartstyle .four { float: left; width: 80px; padding: 5px; text-align: center; border-top: 1px solid #555; }
.shoppingcartstyle .half { float: left; width: 265px; padding: 5px; margin: 0px; border-top: 1px solid #999; }
.shoppingcartstyle .half { float: left; width: 265px; padding: 5px; margin: 0px; border-top: 1px solid #999; }
.shoppingcartstyle .full { clear: both; width: 97%; padding: 5px; margin: 0px; border-top: 1px solid #999; }
.shoppingcartstyle .heading { font-weight: 700; font-size: 14px; color: #333; background: #ccc; border-bottom: 1px solid #777; margin: 0px; padding: 5px; }
.shoppingcartstyle .paypal { float: none; clear: both; border: 0; width: 565px; }
.shoppingcartstyle .paypal .submit { margin: 0px 210px; display: block; }
.shoppingcartstyle .totals span { padding: 5px 0px 10px 0px; font-size: 14px; color: #fff; }
.shoppingcartstyle .totals span.total { font-size: 18px; color: #fff; }
.shoppingcartstyle .submit { padding: 5px 10px; background: #990000; color: #fff; border: 1px solid #fff; cursor: pointer; float: right; margin: 5px 0px 0px 0px; }
.shoppingcartstyle .submit:hover { background: #FF0000; }


/* Close the pages */
.aClose { display: none; }
.comments { display: none; }
.store { display: none; }
.page { display: none; }
#image { display: none; }
/* Close the pages */



/* NAVIGATION */
#navigation { 
    background-color: rgba(0,0,0,0.7); 
    position: fixed; 
    top: 54px; 
    left: 0; 
    width: 100%; 
    height: 30px;
    padding: 10px 10px 5px 170px; 
}
#navigation ul { list-style: none; }
#navigation ul li { padding: 0px; margin: 0px 5px; float: left; }
#navigation ul li a { 
    padding: 5px; 
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: normal; 
    text-transform: uppercase; 
    color: #fff; 
    text-decoration: none; 
    display: block; 
}
#navigation ul li a:hover { color: #ccc; }



#progressbg { position: fixed; top: 12px; left: 57px; z-index: 1; width: 753px; height: 15px; background: url('images/new/progressbg.jpg') 0 0 no-repeat; }



/* CONTROLS */
ul { padding: 0px; margin: 0px; }
ul li { padding: 0px; margin: 0px; }
ul li a { padding: 5px; font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #fff; text-decoration: none; display: block; float: left; }
ul li a:hover { color: #ccc; }
.jp-current-time { z-index: 12; position: fixed; top: 13px; left: 70px; color: #777; font-size: 10px; }
.jp-duration { z-index: 12; position: fixed; top: 13px; left: 107px; color: #777; font-size: 10px; }
.slash { z-index: 12; position: fixed; top: 13px; left: 100px; color: #444; font-size: 10px; }

.jp-previous { z-index: 22 !important; padding: 0px; margin: 0px; width: 200px; height: 71px; top: 360px; left: -169px; background: url('images/new/nextprev.png') -172px 0px no-repeat; position: fixed; text-indent: -9999px; }
.jp-next { z-index: 22 !important; padding: 0px; margin: 0px; width: 170px; height: 71px; top: 360px; right: -138px; background: url('images/new/nextprev.png') 0px 0px no-repeat; position: fixed; display: block; text-indent: -9999px; }


div.top-bg { z-index: 1; display: block; position: fixed; top: 0px; left: 0px; width: 100%; height: 55px; background-color: #101011; }
div#playlister { width: 165px; display: block; z-index: 1; position: fixed; top: 0; left: 0; height: 114px; }
div#playlister .playlist-main { width: 165px; height: 100px; background: #101011; }
div#playlister .playlist-bottom { width: 165px; height: 14px; background: url('images/new/playlistBottom.png') 0 0 no-repeat; }
div.jp-progress { 
    position: fixed; 
    z-index: 100; 
    overflow: hidden; 
    top: 17px; 
    left: 147px; 
    display: block; 
    width: 595px; 
    height: 4px;
    border: 1px solid #444;
}
div.jp-progress div.jp-seek-bar { width:0px; height:100%; cursor: pointer; }
div.jp-progress div.jp-play-bar { background: #fff; width:0px; height:100%; }
div.jp-progress div.jp-seeking-bg {  }

a.jp-play, a.jp-play-fake   { padding: 0px; margin: 0px; position: fixed; top: 60px; left:  47px; z-index: 9; width: 36px; height: 36px; display: block; text-indent: -9999px; overflow: hidden; background: url('images/new/playPauseStop.jpg') 0px -36px no-repeat; }
a.jp-play:hover, a.jp-play-fake { background: url('images/new/playPauseStop.jpg') 0px 0px no-repeat; }
a.jp-pause, a.jp-pause-fake { padding: 0px; margin: 0px; position: fixed; top: 60px; left:  83px; z-index: 9; width: 36px; height: 36px; display: block; text-indent: -9999px; overflow: hidden; background: url('images/new/playPauseStop.jpg') -36px -36px no-repeat; }
a.jp-pause:hover, a.jp-pause-fake { background: url('images/new/playPauseStop.jpg') -36px 0px no-repeat; }
a.jp-stop { padding: 0px; margin: 0px; position: fixed; top: 60px; left: 119px; z-index: 9; width: 36px; height: 36px; display: block; text-indent: -9999px; overflow: hidden; background: url('images/new/playPauseStop.jpg') -72px -36px no-repeat; }
a.jp-stop:hover { background: url('images/new/playPauseStop.jpg') -72px 0px no-repeat; }

a.jp-play-fake, a.jp-pause-fake { z-index: 2 !important; }

/* FACEBOOK COMMENTS */
#fb_comments_container { width: 575px; background: #eee; border: 1px solid #888; padding: 10px; display: block; max-height: 470px; }




/* Loader */
div#loader { position: fixed; top: 50%; left: 50%; margin: -16px -16px 0px 0px; width: 32px; height: 32px; z-index: -3; }



/* LOGO */
/* div#logo { padding: 10px; background: url('images/new/logo_closed.png') no-repeat center bottom; position: fixed; overflow: hidden; padding-bottom:30px; top: 10px; left: 100%; width: 155px; color: #fff; margin: 0px 0px 0px -200px; z-index: 5; } */
div#logo { padding: 10px; background: url('images/new/logo_open_close.png') no-repeat left bottom; position: fixed; overflow: hidden; padding-bottom:30px; top: 10px; left: 100%; width: 155px; color: #fff; margin: 0px 0px 0px -200px; z-index: 5; }

div#logo p { font-size: 10px; margin-bottom: 0px; }
div#logo.openlogo { background: url('images/new/logo_opened.png') no-repeat center bottom; }
div#logo #makeroomforlogo { width: 100%; height: 0px; overflow: hidden; border-left: 0px solid #fff; }
div#logo #makeroomfordetails { width: 100%;overflow: hidden; border-right: 0px solid #fff; }
div#logo .bottom { width: 100%; height: 25px; cursor: pointer; border-left: 0px solid #fff; position:absolute; bottom:0; }
div#logo img { width: 145px; margin: 0px  0px 20px 7px;  }
div#logo .buynow { width: 65px; height: 25px; background: url('images/new/buynow_spot.png') -12px 0 no-repeat; float: left; }
div#logo .show_mystore { width: 25px; height: 25px; float: left; display: block; }
div#logo .mystore { width: 25px; height: 25px; background: url('images/new/buynow_spot.png') -75px 0 no-repeat; float: left; }
div#logo .showamazon { width: 25px; height: 25px; float: left; display: block; }
div#logo .amazon { width: 25px; height: 25px; background: url('images/new/buynow_spot.png') -103px 0 no-repeat; float: left; display: block; }
div#logo .showitunes { width: 25px; height: 25px; float: left; display: block; }
div#logo .itunes { width: 25px; height: 25px; background: url('images/new/buynow_spot.png') -132px 0 no-repeat; float: left; display: block; }
div#logo .mighthide { display:none; }


/* Get Social */
div#getsocial { display: none; position: fixed; top: 100%; right: 0; margin: -75px 0px 0px 0px; height: 20px; padding: 5px; background-image: url('images/bg.png'); }
a.facebook { margin: 0px 5px; filter:alpha(opacity=60); opacity:0.6; display: block; float: left; width: 20px; height: 20px; text-indent: -9999px; background: url('images/facebookicon.png') 0 0 no-repeat; }
a.facebook:hover { filter:alpha(opacity=100); opacity:1.0; }
a.twitter { margin: 0px 5px; filter:alpha(opacity=60); opacity:0.6; display: block; float: left; width: 20px; height: 20px; text-indent: -9999px; background: url('images/twittericon.png') 0 0 no-repeat; }
a.twitter:hover { filter:alpha(opacity=100); opacity:1.0; }
a.www { margin: 0px 5px; filter:alpha(opacity=60); opacity:0.6; display: block; float: left; width: 20px; height: 20px; text-indent: -9999px; background: url('images/webicon.png') 0 0 no-repeat; }
a.www:hover { filter:alpha(opacity=100); opacity:1.0; }


div.footerfade { z-index: 2; position: fixed; width: 100%; height: 200px; top: 100%; left: 0; margin: -50px 0 0 0; background: url('images/bg.png'); }

div.footerfade .logo_img { float:right; }
div.footerfade .logo_img a { width:176px; height:34px; display:block; background: url('images/new/footer_logo.png') no-repeat center top; margin:8px; }
div.footerfade .logo_img a:hover { background-position:center bottom; }


div.facebookstream { z-index: 0; position: fixed; width: 200px; padding: 0px; top: 100%; left: 0; margin: -40px 0px 0px 40px; }
div.facebookstreamshow, div.facebookstreamhide { cursor: pointer; background: url('images/new/facebook.png') 0 0 no-repeat; width: 200px; height: 40px; }

div.twitterstream { z-index: 0; position: fixed; width: 200px; padding: 0px; top: 100%; left: 0; margin: -40px 0px 0px 350px; }
div.twitterstreamshow, div.twitterstreamhide { cursor: pointer; background: url('images/new/twitter.png') 0 0 no-repeat; width: 200px; height: 40px; }

/* New Socialize Area Styling */
div.socialize { background: url("images/new/socialize_bg.png") repeat scroll 0 0 transparent; bottom: -361px; height: 400px; margin-left: 40px; position: fixed; width: 300px; z-index: 3; }
div.socialize .title { background: url('images/new/socialize.png')  no-repeat; height:16px; width:78px; display:inline-block; margin: 12px 0 0 8px; vertical-align:top; cursor:pointer; }
div.socialize .buttons { display: inline-block; margin-left: 9px; }
div.socialize .buttons div.holder { background: url('images/button_fade.png') no-repeat left top; height:43px; width:46px; float:left; cursor:pointer; }
div.socialize .buttons div.holder div { height:26px; width:26px; display:inline-block; margin-left:10px; margin-top:8px; }
div.socialize .buttons .facebook div { background: url('images/new/socialize_facebook.png') no-repeat; }
div.socialize .buttons .twitter div { background: url('images/new/socialize_twitter.png') no-repeat; }
div.socialize .buttons .email div { background: url('images/new/socialize_email.png') no-repeat; }
div.socialize .buttons .share div { background: url('images/new/socialize_share.png') no-repeat; }
div.socialize .buttons .share div { background: url('images/new/socialize_share.png') no-repeat; }
div.socialize .sub-title { background: url("images/new/sub_title_bg.png") no-repeat scroll 0 0 transparent !important; padding-top:9px; height: 21px; margin-left: -5px; margin-bottom:10px; margin-top: -18px; width: 288px; z-index: -1; }
div.socialize .sub-title h1 { float:left; margin-left:10px; }
div.socialize #share a.facebook, div.socialize #share a.twitter { margin:0px; } 
div.socialize #share a.facebook { margin-left:6px; background: url("images/new/socialize_fb_small.png") no-repeat; height:15px; width:15px; display:inline-block; }
div.socialize #share a.twitter { margin-left:6px; background: url("images/new/socialize_twitter_small.png") no-repeat; height:15px; width:15px; display:inline-block; }
div.socialize #share .required { float:right; float: right; font-size: 11px; margin: 10px 33px 0 0; }
div.socialize a { color:#fff; }
div.socialize .small { font-size: 10px; letter-spacing: 0; line-height: 110%; }
div.socialize .tab p { width:95%; }
div.socialize .buttons .active { background: url('images/new/socialize_active.png') no-repeat !important; }

div.socialize .body .tab { display:none; }
div.socialize .body #facebook { display:block; }
div.socialize #email label, div.socialize #share label { width:65px; font-size:11px; margin-top:3px; }

div.socialize .body { margin-top:10px; }
div.socialize .body > div { margin-left:12px; }

div.socialize input, div.socialize textarea { background:url('images/new/socialize_form_bg.png') left top; border-width:1px; }

div.socializestream { width: 100px; height: 40px; cursor: pointer; border-bottom: 0px solid #fff; float: left; }
div.socializehide { width: 100px; height: 40px; cursor: pointer; border-bottom: 0px solid #fff; float: left; }
a.showfacebook, a.showtwitter, a.showemail, a.showgoogle { display: block; text-indent: -9999px; width: 35px; height: 40px; border-bottom: 0px solid #fff; float: left; }
div.socialize div.padthis { padding: 5px; }
p.pad { padding: 5px 0; }
.hide { display: none; }


.vote { position: fixed; top: 15px; left: 750px; width: 12px; height: 13px; cursor: pointer; margin: 0px 5px 0px 5px; text-indent: -9999px; background-repeat: no-repeat; float: left; }
.nay { left: 783px; background-position: -13px 0px !important; }



#results { width:176px; height:176px; background: url('images/thank_you_for_your_vote.png') center; position: fixed; top: 50%; left: 50%; margin: -88px 0px 0px -88px; display: none; text-align: center; }

hr { color: #333; background: #333; height: 0px; border: 1px solid #333; margin: 5px 0px; }







.notify { background: #000; border: 3px solid #111; padding: 10px; color: #fff; font-weight: bold; display: none; margin: 0px 0px 15px 0px; width: 290px; }
#successMessage { background: #000; border: 3px solid #111; padding: 10px; color: #fff; font-weight: bold; display: none; margin: 0px 0px 15px 0px; width:200px; }
label { float: left; width: 70px; padding: 5px; text-align: right; }
.input { color: #fff; float: left; width: 150px; padding: 5px; background: #333; border: 2px solid #000; -webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px; }
.submitNewsletter, .submitShare { display:inline-block; margin-left:75px; font-weight: bold; color: #fff; padding: 3px 38px; background: #ce1b1a url('images/new/submit_bg.png'); border: 2px solid #2d2d2d; -webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px; }
.submitShare { background: #ce1b1a url('images/new/submit_share_bg.png'); margin-top:10px; }
/*a.submitNewsletter:hover { background: #167a27; }*/
#emaillist .clear { height: 10px; }

.form {  }
.form input { padding: 3px; background: #fff; color: #333; width: 300px; font-family: Helvetica, Arial, sans-serif; }
.form .textarea { padding: 3px; background: #fff; color: #333; width: 300px; height: 75px; font-family: Helvetica, Arial, sans-serif; }
.form .clear { height: 10px; }
.form .submitform { background: #990000; color: #fff; font-weight: bold; padding: 10px 20px; cursor: pointer; width: 75px; }
.form .submitform:hover { background: #ff0000; }






/* Container DIV - automatically generated */
.simply-scroll-container {  position: relative; }
/* Clip DIV - automatically generated */
.simply-scroll-clip {  position: relative; overflow: hidden; z-index: 2; }
/* UL/OL/DIV - the element that simplyScroll is inited on
Class name automatically added to element */
.simply-scroll-list { position: absolute; top: 0; left: 0; z-index: 1; overflow: hidden; margin: 0; padding: 0; list-style: none; }	
.simply-scroll-list li { padding: 0; margin: 0; list-style: none; }
.simply-scroll-list li img { border: none; display: block; }
.simply-scroll-btn { position: absolute; background-image: url('images/new/updown.jpg'); background-repeat: no-repeat; width: 20px; height: 20px; z-index:10; cursor: pointer; }
/* SCROLL UP!!! */
.simply-scroll-btn-up { right: 0px; top: 0px; margin: 15px 5px 0px 0px; background-position: 0px 0px; }
.simply-scroll-btn-up.disabled { background-position: 0px 0 !important; }
.simply-scroll-btn-up:hover { background-position: 0px 0px; }
/* GO DOWN!!! */
.simply-scroll-btn-down { right: 0px; bottom: 0px; margin: -15px 5px 0px 0px; background-position: 0px -25px; }
.simply-scroll-btn-down.disabled { background-position: 0px -25px !important; }
.simply-scroll-btn-down:hover { background-position: 0px -25px; }
/* Container DIV */
.vert { width: 263px; /* wider than clip for custom button pos. */ height: 210px; margin-bottom: 1.5em; }
/* Clip DIV */
.vert .simply-scroll-clip { width: 233px; height: 210px; }
/* Explicitly set height/width of each list item */
.vert .simply-scroll-list li { width: 233px; height: 35px; }
/* Modified button positions, overriding previous styles */
.vert .simply-scroll-btn-up { right: 0; top: 0; }
.vert .simply-scroll-btn-down { right: 0; top: 52px; }



div.jp-type-single div.jp-playlist li { padding: 0px !important; }
div.jp-playlist-player div.jp-playlist li { padding: 0px 10px 0px 0px !important; border-bottom: 1px solid #333; }
div.jp-playlist-player div.jp-playlist li.jp-playlist-last { padding: 0px 10px 0px 0px !important; border-bottom:none; }
div.jp-playlist-player div.jp-playlist a { color: #555 !important; text-decoration: none; }
div.jp-playlist-player div.jp-playlist a:hover { color:#fff !important; }
div.jp-playlist-player div.jp-playlist a.jp-playlist-current { color:#FF0000 !important; }
div.current-track { position: fixed; top: 33px; left: 60px; z-index: 12; font-size: 12px; font-weight: normal; color: #fff; }

.current-track .track_label {
    color: #777;
    padding-right: 2px;
}

.current-track .track_slashes {
    color: #444;
    padding-left: 4px;
    padding-right: 4px;
}


.song_buy_icon { float: right; position: relative; margin-right: 8px; margin-top: 4px; cursor: pointer; width: 25px; height: 25px; }
#song_buy_popup { position: absolute; display: none; background: black; z-index: 100; 
    padding-top: 5px; padding-left: 10px; padding-right: 0px; padding-bottom: 3px; 
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;}

#song_buy_popup_mystore { background: url('images/new/buynow_spot.png') -75px 0 no-repeat; }
#song_buy_popup_amazon { background: url('images/new/buynow_spot.png') -103px 0 no-repeat; }
#song_buy_popup_itunes { background: url('images/new/buynow_spot.png') -132px 0 no-repeat; }

.store_icon { width: 30px; height: 26px; float: left; }


a.jp-volume-min { top: 22px; left: 110px; background: #ffffff; width: 4px; height: 57px; }
a.jp-volume-max { top: 22px; left: 110px; background: #ff9900; width: 4px; height: 57px; }
div.jp-volume-bar { position: relative; top: 27px; left: 22px; width: 4px; height: 57px; cursor: pointer; z-index: 100; background: #555; }
div.jp-volume-bar-value { position: absolute; width: 4px; background: #fff; bottom: 0px; }


div#volumebg { position: fixed; top: 20px; left: 15px; z-index: 3; width: 19px; height: 87px; display: block; background: url('images/new/volumeBg.jpg') 0 0 no-repeat; }



/* Video Player Stuff */
.close_button { 
position: fixed; z-index: 300; font-size: 18px; font-weight: bold; color: #fff; position: fixed; top: 20px; right: 240px; cursor: pointer; display: none; }

#player_bg { 
position: fixed; background: url('images/bg.png'); top: 0px; left: 0px; width: 100%; height: 100%; z-index: 200; display: none; }

.player_holder{
position:fixed; z-index: 265; left:0px; top:40px; width:25px; height:25px; background-color:#000; display: none; }

.video_player{
position:relative; width:100%; height:100%; padding:0px 0px 0px 0px; margin:0px auto; text-align:center; background-color:#FC0;}

.html5video_overlay{
position:absolute; top:0px; width:100%; height:60px; background-color:#000; opacity:.75}

.html5video_avatar_image{
position:absolute; width:90px; height:60px; top:0px;}

.html5video_title{
position:absolute; padding-left:100px; top:10px; width:100%; height:20px; color:#FFF; font-family: Arial, Helvetica, sans-serif; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; text-align:left; background-color:transparent;}

.html5video_desc{
position:absolute; padding-left:100px; top:40px; width:100%; height:20px; color:#FFF; font-family: Arial, Helvetica, sans-serif; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:left; background-color:transparent;}

.html5video_topkey{
position:absolute; width:100%; height:2px; top:33px; background-color:#000;}

.html5_video{
width:100%; height:100%;}

#supersized-loader { display:none; }


/* Searchbox Styling */
 
#theSearchBox { float: right; margin-right: 10px; margin-top: 11px; padding-bottom:4px; position: relative; z-index: 10; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
div.searchBox {display:block; width:220px; height:26px; }
input.searchText { float:left; width:212px; height:23px; font-size: 11px; font-weight: bold; letter-spacing: 0.5px; font-family: Helvetica, Arial, sans-serif; padding-left:5px; color: #fff; border: 2px solid #060606; border-radius: 4px 4px 4px 4px; background:url('images/search_bg.png') no-repeat right center; }
input.searchText:focus { }

div.searchList { display:none; width:220px; background-color:#d2d2d2; text-align:left; }

div.searchListItemMatch { }
div.search_text { height:64px; width:144px; text-align:left; float:right; font-size:11px; color:#fff; }

#div_searchList_theSearchBox { position:absolute; bottom:30px; left:0px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
#theSearchBox, #div_searchList_theSearchBox { background-color:#121212; padding: 3px; }
.searchListItemCategory { text-transform:uppercase; color:#fff; font-size:12px; text-align:center; padding:4px; letter-spacing:0.5px; }
img.search_thumbnail { width:55px; height:55px; display:inline-block; border:1px solid #000; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.searchListItem:hover, .searchListItemMatch:hover { background:url('images/highlighted_search.png') repeat-y left top; }
.searchListItem, .searchListItemMatch { cursor:pointer; letter-spacing:0.5px; background:url('images/search_border.png') no-repeat center top; padding:5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color:#363636; }
.searchListItem .heading, .searchListItemMatch .heading { color:#999; display:inline-block; }

/*for FireFox*/
    input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
    {   
        border : 0px;
    } 
/*for IE8 */
    input[type="submit"]:focus, input[type="button"]:focus
    {     
        outline : none; 
    }


/*
 ----------------------------------------
 13. signup -- Pop up
 ----------------------------------------
 */

#mask { background:#080808; position:absolute; left:0; top:0; z-index:10; display: none; }
#signup_dialog { position:absolute; left:0; top:0; width:462px; z-index: 11; display: none; }
#boxes #dialog { width:462px; height:auto; z-index: 11; }

#popup { width:462px; float:left; background:#FFFFFF; }
#popup h5 {font-size:14px; font-weight:bold; color:#248079; text-transform:uppercase}
#popup p { font-family:Arial, Helvetica, sans-serif; font-size:12px}
#popup p a{color:#4ecdc4}

#popup .topbox { width:462px; height:50px; float:left; background: url('/images/bg_login01.gif') repeat-x}
#popup .topbox h3 { float:left; font-family: "Teletex Light", Arial,Helvetica,sans-serif; font-size:20px; color: #FFFFFF; text-transform:uppercase; padding:15px 0 0 20px}
#popup .topbox .close { float:right; font-size:12px; font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif; color:#4ecdc4}
#popup .topbox .close a { width:43px; height:33px; float:right; background:url('/images/bg_close.gif') no-repeat; color:#4ecdc4; text-decoration:none; text-transform:uppercase; padding: 17px 0 0 14px; border: none; cursor: pointer; }

#popup .offer { width:418px; height:40px; float:left;background:#4ecdc4; padding:10px 20px 0 24px}
#popup .offer.middlepack {background:#c7f465}
#popup .offer h2 { float:left; font-size:18px; line-height:.9em; font-family:Arial, Helvetica, sans-serif; color:#556270}
#popup .offer h2 span {font-size:12px; text-transform:none}
#popup .offer h3 { float:right; font-size:30px; font-family:Arial, Helvetica, sans-serif; color:#556270; padding-top:3px}
#popup .offer h3 span {font-size:18px}
#popup .offer p {font-size:12px; color:#556270; font-weight:bold; padding:10px 0 0 0}

#popup label { width:376px; float:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#556270; padding-bottom:7px; text-align: left; }
#popup .input { width:312px; float:left; border:1px solid #cdcdcd; font-size:13px; font-family: Arial, Helvetica, sans-serif; color:#1e2226; box-shadow:inset #E9E9E9 -2px 2px 3px; box-shadow:inset #E9E9E9 -2px 2px 3px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; behavior: url(PIE.htc); position:relative; padding:3px 5px; background-color: white;}
#popup .button {float:left; font-size:14px}
#popup .button a {float:left; color:#4ecdc4; text-decoration:none; background:#1e2226; font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif; padding:10px 20px; text-transform:uppercase; border:1px solid #a0a1a3}
#popup .socialmedia { float:left}
#popup .socialmedia ul { float:left}
#popup .socialmedia ul li { float:left; line-height:.5em; padding-right:15px}

#popup .error { color:red; }

#popup .sign_up { width:376px; float:left; padding:0 22px 0 50px}
#popup .sign_up article{width:376px; float:left; padding-top:25px}
#popup .sign_up p {float:left; padding:5px 0 0 0; color: black;}
#popup .sign_up .socialmedia { float:left; padding:10px 0 25px 0}
#popup .sign_up .or { width:418px; height:22px; float:left; background:#e9e9ea; font-size:14px; color:#556270; font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif; text-align:center; text-transform:uppercase; margin-left:-42px; position:relative; padding-top:7px}

#popup .sign_up fieldset { width:376px; float:left; border: 0px;}
#popup .sign_up fieldset ul { width:376px; float:left; padding-top:15px; }
#popup .sign_up fieldset ul li {width:376px; float:left; padding-bottom:10px; text-align: left;}
#popup .sign_up fieldset label {width:376px; text-align: left; }
#popup .sign_up fieldset .button {padding:15px 0 40px 85px}
#popup .sign_up fieldset ul li span {color:#556270; font-size:12px; font-family:Arial, Helvetica, sans-serif}
#popup .sign_up fieldset ul li span a {color:#4ecdc4; text-decoration:none}
#popup .sign_up fieldset ul li span a:hover {color:#4ecdc4; text-decoration:underline}


#popup .payments { width:304px; float:left; padding:30px 79px 20px 79px}
#popup .payments h5 { padding-bottom:5px}
#popup .payments p span {font-weight:bold; font-style:italic}

#popup .payments ul {float:left; padding:10px 0 0 0}
#popup .payments ul li { width:304px; float:left; padding-bottom:13px}
#popup .payments ul li.date {width:190px}
#popup .payments ul li.cw {width:88px; float:right}
#popup .payments ul li.accept span { float:left; font-size:12px; color:#556270; font-family:Arial, Helvetica, sans-serif; padding-right:6px}
#popup .payments ul li.accept img {margin-top:-5px; position:relative}

#popup .payments label {padding-bottom:2px}
#popup .payments label span { float:none; color:#FF0000; text-transform:uppercase; font-weight:bold}
#popup .payments .input { width:302px; border:1px solid #d2d2d2; font-size:14px; padding:6px 5px}
#popup .payments .input.date { width:78px; margin-right:5px}
#popup .payments .button {float:left; padding:10px 0 6px 10px}
#popup .payments .button a {padding:10px 27px}
#popup .payments .button.cancel {float:left; padding-left:2px}
#popup .payments .button.cancel a {background:#e6e8ea; border:none; padding:11px 28px}

#popup .payments p.go { width:304px; float:left; text-align:center; color:#4ecdc4; padding:0 0 0 0}
#popup .payments p.go a {background:url('/images/arrow_go_back.gif') no-repeat 0 5px; padding:0 0 0 10px}

#popup .payments article { width:304px; float:left}
#popup .payments article h3 {font-size:20px; color:#248079; padding-bottom:3px}
#popup .payments article p span {font-style:normal}
#popup .payments article .button {float:left; padding:15px 0 0 47px}
#popup .payments article .button a {padding:10px 19px}

    
/*
 ----------------------------------------
 13. login -- Pop up
 ----------------------------------------
 */

#login_dialog { position: absolute; z-index: 11; display: none; }

#validate-login { color: red; font-weight: bold; font-size: 13px; }

#popup .loginpop { width:418px; float:left; padding:28px 22px; z-index: 11;}
#popup .loginpop fieldset { width:304px; float:left; padding:0 57px 25px 57px; border: 0px;}
#popup .loginpop fieldset.yet {padding-bottom:42px}

#popup .loginpop ul {float:left}
#popup .loginpop ul li { float:left; padding-bottom:12px; text-align: left; }
#popup .loginpop label { padding-bottom:2px;  text-align: left; }
#popup .loginpop .input { width:289px; background-color: white; }
#popup .loginpop p.password { width:304px; float:left; text-align:right; font-size:12px; color:#4ecdc4; margin-top:-8px; position:relative; padding:0}
#popup .loginpop .button {float:left; padding:17px 0 0 68px}
#popup .loginpop .button a {padding:10px 60px}
#popup .loginpop .option {width:418px; float:left; background:#e9e9ea; font-size:14px; color:#556270; text-align:center; padding:6px 0}

#popup .loginpop article { width:377px; float:left; padding:15px 0 20px 41px}
#popup .loginpop article h5 { padding-bottom:5px; }
#popup .loginpop article p { padding-bottom:20px; color: black; }

#popup .loginpop .reset { width:304px; float:left}
#popup .loginpop .reset fieldset {padding-bottom:10px}
#popup .loginpop .reset .input { font-size:14px; padding:6px 5px}
#popup .loginpop .reset .button {padding-top:5px}
#popup .loginpop .reset .button a {padding:10px 20px}
#popup .loginpop .reset p.go { width:304px; float:left; text-align:center; color:#4ecdc4; padding:5px 0 0 0}
#popup .loginpop .reset p.go a {background:url('/images/arrow_go_back.gif') no-repeat 0 5px; padding:0 0 0 10px}

#popup .bottombox { width:410px; float:left; background:url('/images/bg_login02.gif') repeat-x; position:relative}
#popup .bottombox h3 { float:left; font-family: "Teletex Light", Arial,Helvetica,sans-serif; font-size:20px; color:#FFFFFF; text-transform:uppercase; padding:15px 0 0 20px}
#popup .bottombox .buttonsignup {float:right}
#popup .bottombox .buttonsignup a { width:60px; height:32px; float:right; background:url('/images/arrow_signup.gif') no-repeat; font-size:14px;font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif; color:#f5f5f5 ; padding:18px 0 0 18px; text-decoration:none}


#playlist {
    position: absolute;
    top: 119px;
    left: -280px;
    width: 310px;
    height: 200px;
    padding-top: 4px;
    padding-bottom: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #DDD;
}
#playlist .song_list {
    float: left;
    width: 280px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
#playlist .song_list_item {
    height: 19px;
    width: 270px;
    padding-top: 5px;
    color: #666;
    font-family: 'Helvetica',sans-serif;
    font-size: 15px;
    font-weight: lighter;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #ddd;
	overflow: hidden;
}
#playlist .song_list_item:hover {
    background-color: rgba(200,200,200, 0.8);
    color: #ddd;
}
#playlist .song_list_item.first {
    border-top: none;
    border-top-right-radius: 4px;
}
#playlist .song_list_item.current {
    background-color: white;
    font-weight: bold;
    color: black;
}
#playist .song_list_item.current:hover {
    background-color: white;
    font-weight: bold;
    color: black;
}
#playlist .song_name_only {
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis; -o-text-overflow: ellipsis;
}
#playlist .song_name_store {
    float: left;
    width: 230px;
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
}
#playlist .song_store {
    float: right;
    height: 100%;
}
#playlist .song_store a {
    margin-right: 5px;
    cursor: pointer;
}
#playlist .song_store a img {
    margin-top: -3px;
}
#playlist .song_name_free {
    float: left;
    width: 200px;
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
}
#playlist .song_free {
    float: right;
    width: 55px;
    padding-right: 5px;
}
#playlist .song_free a {
    background-color: black;
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    border-radius: 9px;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 1px;
    cursor: pointer;
    font-weight: lighter;
}
#playlist .scroll_label_bar {
    float: right;
    width: 22px;
    height: 100%;
    border-radius: 5px;
    background-color: #eee;
    margin-right: 4px;
}
#playlist .scroll_up {
    width: 100%;
    height: 25px;
    margin-top: 6px;
    margin-left: 2px;
    cursor: pointer;
    background: transparent url('/images/playlist_up_down.png') no-repeat 0px 0px;
}
#playlist .scroll_down {
    width: 100%;
    height: 25px;
    cursor: pointer;
    background: transparent url('/images/playlist_up_down.png') no-repeat 0px -25px;
    margin-left: 2px;
}
#playlist .playlist_label {
    width: 100%;
    height: 140px;
    cursor: pointer;
    background: transparent url('/images/playlist_text.png') no-repeat bottom;
    /*
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    margin-left: -60px;
    margin-top: 65px;
    
    color: black;
    font-family: 'Helvetica',sans-serif;
    font-size: 20px;
    background-color: #DDD;
    content: 'PLAYLIST';
    */
}

