@charset "UTF-8";

/* BASIC RESET */
* {margin: 0px; padding: 0px; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}
ul,ol { list-style: none; }


/* CUSTOM FONTS */
@font-face { font-family: 'BebasNeueRegular'; src: url("fonts/bebasneue-webfont.eot"); src: local("BebasNeueRegular"), url("fonts/bebasneue-webfont.woff") format("woff"), url("fonts/bebasneue-webfont.ttf") format("truetype"), url("fonts/bebasneue-webfont.svg#webfontTRIx6ZGq") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HattoriHanzoLightItalic'; src: url('fonts/hattori_hanzo_italic-webfont.eot#') format('embedded-opentype'), url('fonts/hattori_hanzo_italic-webfont.woff') format('woff'), url('fonts/hattori_hanzo_italic-webfont.ttf') format('truetype'), url('fonts/hattori_hanzo_italic-webfont.svg#webfontcNsGe3Rz') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HattoriHanzoLight'; src: url('fonts/hattori_hanzo-webfont.eot#') format('embedded-opentype'), url('fonts/hattori_hanzo-webfont.woff') format('woff'), url('fonts/hattori_hanzo-webfont.ttf') format('truetype'), url('fonts/hattori_hanzo-webfont.svg#webfontbrBDfpL8') format('svg'); font-weight: normal; font-style: normal; }


/* HTML ELEMENTS */
body { background: #fff; font-size: 12px; color: #fff; font-family: Helvetica, Arial, sans-serif; }
p { line-height: 14px; margin-bottom: 12px; letter-spacing: 0.5px; }
a { text-decoration: none; color: #333; }
h1, h2, h3 { font-family: Helvetica, Arial, sans-serif; font-weight: bold; margin-bottom: 5px; text-transform: uppercase; color:#fff; letter-spacing:0.5px; }
h1 { font-size: 14px; } /* 20 */
h2 { font-size: 11px; } /* 24 */
h3 { font-size: 10px; } /* 18 */


/* STANDARD ELEMENTS */
.clear { clear: both; }
.topspace { height: 1000px; clear: both; float: none; display: block; width: 100%; }
#image { background-repeat: no-repeat; background-position: center top; position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: -2; }
#image img{ position:absolute; left:50%; top:50%; }



/* PAGE */
.anchor { display: block; width: 100px; height: 1px; text-indent: -9999px; }
.space { width: 100%; height: 100px; }
.page, .comments, .store, .contact, .videos { display:none; position:relative; -webkit-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; z-index: 22; padding: 25px; width: 600px; margin: 0px auto 100px auto; background:url('images/box/bg.png') repeat-y center top; }
.page h1, .comments h1, .store h1, .contact h1, .videos h1 { color: #fff; }
.page p, .comments p, .store p, .contact p, .videos p { color: #fff; font-size: 11px; } /* #ccc // 14 */
.aClose { cursor: pointer; z-index: 46; position: absolute; top: 75px; left: 50%; padding: 0px; width: 45px; height: 45px; margin: 0px 0px 0px 300px; background: url('images/close.png') 0px 0px no-repeat; }
.image { width: 600px; margin-bottom: 15px; }
.video { display: block; padding: 15px 0px; width: 600px; }
.pageload { margin: 0px auto; padding: 25px; width: 16px; height: 11px; }


.videos ul { list-style: none; }
.videos ul li { float: left; padding: 0px; margin: 10px 26px 10px 0; overflow: hidden; background: url('images/box/white_50.png') repeat; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; padding:11px; }
.videos ul li div { cursor: pointer; }
.videos ul li img { width: 175px; height:105px; padding: 0px; /*margin: -5px 0px 0px -5px;*/ }
.videos ul li:hover img { opacity:0.7;filter:alpha(opacity=70); }
.videos .playlist_video {width:175px; height:105px; }
.videos ul li.last { margin-right:0; }

.videos { padding:3px; width:644px; }
.videos { background:url('images/box/white_50.png') repeat; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.videos h1 { padding-left:20px; background:url('images/box/white_70.png') repeat; text-transform:uppercase; font-size:18px; color:#000; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.videos .video-row { display:none;}
.videos .video-row-1 { display:block; }
.videos .row-button { background:url('images/video_row_button.png') no-repeat center top; width:7px; height:8px; display:inline-block; margin-right:10px; cursor:pointer; }
.videos .row-button-1 { background-position:center bottom; }
.videos .row-buttons { float:right; margin-top:7px; margin-right:40px; }
.videos .row-buttons span { display:none; }
.videos .left-arrow, .videos .right-arrow { display:block; height:45px; width:45px; position:absolute; top:75px; z-index:-1; }
.videos .left-arrow { background:url('images/video_left_arrow.png') no-repeat; left:-20px; }
.videos .right-arrow { background:url('images/video_right_arrow.png') no-repeat; right:-20px; }
.videos .nav-arrows .active { cursor:pointer; }
.videos .nav-arrows div span { display:none; }

.contact { background:url('images/box/bg.png') repeat-y center top; position:relative; font-family:Helvetica, Arial, sans-serif; -webkit-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; }
.contact .red { color:#ff0000; }
.contact .left table tr td:first-child { text-align:right; font-size:11px; padding-right:5px; padding-left:5px; }
.contact .left table tr td.message { vertical-align:top; }
.box-header, .box-footer { position:absolute; left:0; width:100%; }
.box-header { background:url('images/box/header.png') no-repeat; top:-8px; height:8px; }
.box-footer { background:url('images/box/footer.png') no-repeat; bottom:-14px; height:14px; }
.contact .submitform {
	border:2px solid #292929;
	background-color:#000;
	font-size:11px;
	text-align:center;
	width:100px;
	padding:5px 0;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.contact .clearform {
	float:right;
	text-decoration:underline;
	color:#fff;
	font-weight:bold;
	font-size:11px;
}
.contact .left h1 {
	margin-left:80px;
}
.contact .right {
	float:right;
	border-left:1px solid #3c3c3c;
	padding-left:20px;
	width:195px;
}
.contact h1, .contact h2, .contact h3 {
	text-transform:none;
	margin-bottom:5px;
	font-weight:bold;
	color:#fff;
	letter-spacing:0.5px;
}
.contact table {
	width:330px;
}
.contact table tr td {
	padding-bottom:8px;
}
.contact h1 {
	font-size:14px;
}
.contact h2 {
	font-size:11px;
}
.contact .right ul span {
	color:#666;
}
.contact .right ul li {
	margin-bottom:2px;
	font-size:11px;
}
.contact .slashes {
	color:#666;
}
.contact .left input, .contact .textarea {
background:url('images/box/input_bg.png') repeat-y right;
border:2px solid #060606;
/*border:10px solid red;*/
-moz-border-radius: 4px;
border-radius: 4px;
color:#fff;
font-size:11px;
font-weight:bold;
padding:5px;
letter-spacing:0.5px;
width:100%;
}

.contact select {
	width:220px;
	display:block;
	padding:2px 3px;
	margin:5px auto;
}

/* Close the pages */
.aClose { display: none; }
.comments { display: none; }
.store { display: none; }
.page { display: none; }
#image { display: none; }
/* Close the pages */



/* NAVIGATION */
#navigation { background: url('images/bg.png'); position: fixed; top: 54px; left: 0; width: auto; padding: 7px 10px 5px 170px; }
#navigation ul { list-style: none; }
#navigation ul li { padding: 0px; margin: 0px 5px; float: left; }
#navigation ul li a { padding: 5px; font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: 100; letter-spacing: -1px; text-transform: uppercase; color: #fff; text-decoration: none; display: block; }
#navigation ul li a:hover { color: #ccc; }



#progressbg { position: fixed; top: 12px; left: 57px; z-index: 1; width: 753px; height: 15px; background: url('images/new/progressbg.jpg') 0 0 no-repeat; }



/* CONTROLS */
ul { padding: 0px; margin: 0px; }
ul li { padding: 0px; margin: 0px; }
ul li a { padding: 5px; font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #fff; text-decoration: none; display: block; float: left; }
ul li a:hover { color: #ccc; }
.jp-current-time { z-index: 12; position: fixed; top: 13px; left: 70px; color: #777; font-size: 10px; }
.jp-duration { z-index: 12; position: fixed; top: 13px; left: 107px; color: #777; font-size: 10px; }
.slash { z-index: 12; position: fixed; top: 13px; left: 100px; color: #444; font-size: 10px; }

.jp-previous { z-index: 22 !important; padding: 0px; margin: 0px; width: 200px; height: 71px; top: 360px; left: -169px; background: url('images/new/nextprev.png') -172px 0px no-repeat; position: fixed; text-indent: -9999px; }
.jp-next { z-index: 22 !important; padding: 0px; margin: 0px; width: 170px; height: 71px; top: 360px; right: -138px; background: url('images/new/nextprev.png') 0px 0px no-repeat; position: fixed; display: block; text-indent: -9999px; }


div.top-bg { z-index: 1; display: block; position: fixed; top: 0px; left: 0px; width: 100%; height: 55px; background-color: #101011; }
div#playlister { width: 165px; display: block; z-index: 1; position: fixed; top: 0; left: 0; height: 114px; }
div#playlister .playlist-main { width: 165px; height: 100px; background: #101011; }
div#playlister .playlist-bottom { width: 165px; height: 14px; background: url('images/new/playlistBottom.png') 0 0 no-repeat; }
div.jp-progress { position: fixed; z-index: 100; overflow: hidden; top: 17px; left: 147px; display: block; width: 595px; height: 4px; }
div.jp-progress div.jp-seek-bar { width:0px; height:100%; cursor: pointer; }
div.jp-progress div.jp-play-bar { background: #fff; width:0px; height:100%; }
div.jp-progress div.jp-seeking-bg {  }

a.jp-play, a.jp-play-fake   { padding: 0px; margin: 0px; position: fixed; top: 60px; left:  47px; z-index: 9; width: 36px; height: 36px; display: block; text-indent: -9999px; overflow: hidden; background: url('images/new/playPauseStop.jpg') 0px -36px no-repeat; }
a.jp-play:hover, a.jp-play-fake { background: url('images/new/playPauseStop.jpg') 0px 0px no-repeat; }
a.jp-pause, a.jp-pause-fake { padding: 0px; margin: 0px; position: fixed; top: 60px; left:  83px; z-index: 9; width: 36px; height: 36px; display: block; text-indent: -9999px; overflow: hidden; background: url('images/new/playPauseStop.jpg') -36px -36px no-repeat; }
a.jp-pause:hover, a.jp-pause-fake { background: url('images/new/playPauseStop.jpg') -36px 0px no-repeat; }
a.jp-stop { padding: 0px; margin: 0px; position: fixed; top: 60px; left: 119px; z-index: 9; width: 36px; height: 36px; display: block; text-indent: -9999px; overflow: hidden; background: url('images/new/playPauseStop.jpg') -72px -36px no-repeat; }
a.jp-stop:hover { background: url('images/new/playPauseStop.jpg') -72px 0px no-repeat; }

a.jp-play-fake, a.jp-pause-fake { z-index: 2 !important; }

/* FACEBOOK COMMENTS */
div#fb-root { width: 575px; background: #eee; border: 1px solid #888; padding: 10px; display: block; }




/* Loader */
div#loader { position: fixed; top: 50%; left: 50%; margin: -16px -16px 0px 0px; width: 32px; height: 32px; z-index: -3; }



/* LOGO */
div#logo { padding: 10px; background: url('images/new/logo_closed.png') no-repeat center bottom; position: fixed; overflow: hidden; padding-bottom:30px; top: 10px; left: 100%; width: 155px; color: #fff; margin: -175px 0px 0px -200px; z-index: 5; }
div#logo p { font-size: 10px; margin-bottom: 0px; }
div#logo.openlogo { background: url('images/new/logo_opened.png') no-repeat center bottom; }
div#logo #makeroomforlogo { width: 100%; height: 160px; overflow: hidden; border-left: 0px solid #fff; }
div#logo #makeroomfordetails { width: 100%;overflow: hidden; border-right: 0px solid #fff; }
div#logo .bottom { width: 100%; height: 25px; cursor: pointer; border-left: 0px solid #fff; position:absolute; bottom:0; }
div#logo img { width: 145px; margin-bottom: 20px;  }
div#logo .buynow { width: 65px; height: 25px; background: url('images/new/buynow_spot.png') -12px 0 no-repeat; float: left; }
div#logo .mystore { width: 30px; height: 25px; background: url('images/new/buynow_spot.png') -75px 0 no-repeat; float: left; }
div#logo .showamazon { width: 30px; height: 25px; float: left; display: block; }
div#logo .amazon { width: 30px; height: 25px; background: url('images/new/buynow_spot.png') -105px 0 no-repeat; float: left; display: block; }
div#logo .showitunes { width: 25px; height: 25px; float: left; display: block; }
div#logo .itunes { width: 25px; height: 25px; background: url('images/new/buynow_spot.png') -135px 0 no-repeat; float: left; display: block; }




/* Get Social */
div#getsocial { display: none; position: fixed; top: 100%; right: 0; margin: -75px 0px 0px 0px; height: 20px; padding: 5px; background-image: url('images/bg.png'); }
a.facebook { margin: 0px 5px; filter:alpha(opacity=60); opacity:0.6; display: block; float: left; width: 20px; height: 20px; text-indent: -9999px; background: url('images/facebookicon.png') 0 0 no-repeat; }
a.facebook:hover { filter:alpha(opacity=100); opacity:1.0; }
a.twitter { margin: 0px 5px; filter:alpha(opacity=60); opacity:0.6; display: block; float: left; width: 20px; height: 20px; text-indent: -9999px; background: url('images/twittericon.png') 0 0 no-repeat; }
a.twitter:hover { filter:alpha(opacity=100); opacity:1.0; }
a.www { margin: 0px 5px; filter:alpha(opacity=60); opacity:0.6; display: block; float: left; width: 20px; height: 20px; text-indent: -9999px; background: url('images/webicon.png') 0 0 no-repeat; }
a.www:hover { filter:alpha(opacity=100); opacity:1.0; }


div.footerfade { z-index: -1; position: fixed; width: 100%; height: 200px; top: 100%; left: 0; margin: -50px 0 0 0; background: url('images/bg.png'); }

div.footerfade .logo_img { float:right; }
div.footerfade .logo_img a { width:176px; height:34px; display:block; background: url('images/new/footer_logo.png') no-repeat center top; margin:8px; }
div.footerfade .logo_img a:hover { background-position:center bottom; }


div.facebookstream { z-index: 0; position: fixed; width: 200px; padding: 0px; top: 100%; left: 0; margin: -40px 0px 0px 40px; }
div.facebookstreamshow, div.facebookstreamhide { cursor: pointer; background: url('images/new/facebook.png') 0 0 no-repeat; width: 200px; height: 40px; }

div.twitterstream { z-index: 0; position: fixed; width: 200px; padding: 0px; top: 100%; left: 0; margin: -40px 0px 0px 350px; }
div.twitterstreamshow, div.twitterstreamhide { cursor: pointer; background: url('images/new/twitter.png') 0 0 no-repeat; width: 200px; height: 40px; }

/* socialize */
div.socialize {
background: url("images/new/socialize_bg.png") repeat scroll 0 0 transparent;
    bottom: -361px;
    height: 400px;
    margin-left: 40px;
    position: fixed;
    width: 246px;
    z-index: 2;
}
div.socialize .title {
	background: url('images/new/socialize.png')  no-repeat;
	height:16px;
	width:78px;
	display:inline-block;
	margin: 12px 0 0 16px;
	vertical-align:top;
	cursor:pointer;
}
div.socialize .buttons {
    display: inline-block;
    margin-left: 9px;
    margin-top: 6px;
}
div.socialize .buttons div {
	height:26px;
	width:26px;
	display:inline-block;
	margin-left:3px;
	cursor:pointer;
}
div.socialize .buttons .facebook {
	background: url('images/new/socialize_facebook.png') no-repeat;
}
div.socialize .buttons .twitter {
	background: url('images/new/socialize_twitter.png') no-repeat;
}
div.socialize .buttons .email {
	background: url('images/new/socialize_email.png') no-repeat;
}

div.socialize .body .tab {
	display:none;
}
div.socialize .body #facebook {
	display:block;
}
div.socialize #email label {
	width:40px;
}

div.socialize .body {
	margin-top:10px;
}
div.socialize .body > div {
	margin-left:12px;
}

div.socializestream { width: 100px; height: 40px; cursor: pointer; border-bottom: 0px solid #fff; float: left; }
div.socializehide { width: 100px; height: 40px; cursor: pointer; border-bottom: 0px solid #fff; float: left; }
a.showfacebook, a.showtwitter, a.showemail, a.showgoogle { display: block; text-indent: -9999px; width: 35px; height: 40px; border-bottom: 0px solid #fff; float: left; }
div.socialize div.padthis { padding: 5px; }
p.pad { padding: 15px 15px; }
.hide { display: none; }


.vote { position: fixed; top: 15px; left: 750px; width: 12px; height: 13px; cursor: pointer; margin: 0px 5px 0px 5px; text-indent: -9999px; background-repeat: no-repeat; float: left; }
.nay { left: 783px; background-position: -13px 0px !important; }



#results { width:176px; height:176px; background: url('images/thank_you_for_your_vote.png') center; position: fixed; top: 50%; left: 50%; margin: -88px 0px 0px -88px; display: none; text-align: center; }

hr { color: #333; background: #333; height: 0px; border: 1px solid #333; margin: 5px 0px; }


ul.products { list-style: none; }
ul.products li { color: #ccc; width: 250px; border: 5px solid #fff; background: #000; padding: 10px; margin: 10px; float: left; }
ul.products li h2 { color: #fff; }
div.productimage { height: 170px; margin-bottom: 10px; text-align: center;  }
ul.products li img { height: 170px; }
ul.products li div.price { width: 125px; float: left; font-size: 18px; font-weight: 400; color: #fff; }
ul.products li div.addtocart { display: block; width: 109px; height: 23px; background: url('images/addtocart.jpg') 0 0 no-repeat; float: right; cursor: pointer; text-indent: -9999px; }

.cartnav { float: right; margin: 10px 15px 0px 0px; }
.showstore, .showcart { font-size: 14px; color: #fff; font-weight: 400; text-decoration: underline; margin: 5px 0px 5px 10px; float: right; cursor: pointer;}


ul.products .option { display: block; padding: 3px; width: 250px; margin: 5px 0px; }
.productdetails { height: 80px; }

.remove { width: 47px; height: 23px; display: block; background: url('images/remove.jpg') 0 0 no-repeat; text-indent: -9999px; margin: 0 auto; cursor: pointer; }

.shoppingcartstyle { width: 570px; background: #000; padding: 15px; }
.shoppingcartstyle span { display: block; }
.shoppingcartstyle p, .shoppingcartstyle .two p { color: #eee !important; }
.shoppingcartstyle .productimage { width: 45px; }
.shoppingcartstyle .clear { clear: both; }
.shoppingcartstyle .left { text-align: left; }
.shoppingcartstyle .right { text-align: right; }
.shoppingcartstyle .center { text-align: center; }
.shoppingcartstyle .one { float: left; width: 65px; padding: 5px; margin: 0px; border-top: 1px solid #555; color: #eee; }
.shoppingcartstyle .two { float: left; width: 285px; padding: 5px; border-top: 1px solid #555; color: #eee; }
.shoppingcartstyle .three { float: left; width: 100px; padding: 5px; border-top: 1px solid #555; color: #eee;  }
.shoppingcartstyle .one img { border: 1px solid #ccc; }
.shoppingcartstyle .four { float: left; width: 80px; padding: 5px; text-align: center; border-top: 1px solid #555; }
.shoppingcartstyle .half { float: left; width: 265px; padding: 5px; margin: 0px; border-top: 1px solid #999; }
.shoppingcartstyle .half { float: left; width: 265px; padding: 5px; margin: 0px; border-top: 1px solid #999; }
.shoppingcartstyle .full { clear: both; width: 565px; padding: 5px; margin: 0px; border-top: 1px solid #999; }
.shoppingcartstyle .heading { font-weight: 700; font-size: 14px; color: #333; background: #ccc; border-bottom: 1px solid #777; margin: 0px; padding: 5px; }
.shoppingcartstyle .paypal { float: none; clear: both; border: 0; width: 565px; }
.shoppingcartstyle .paypal .submit { margin: 0px 210px; display: block; }
.shoppingcartstyle .totals span { padding: 5px 0px 10px 0px; font-size: 14px; color: #fff; }
.shoppingcartstyle .totals span.total { font-size: 18px; color: #fff; }
.shoppingcartstyle .submit { padding: 5px 10px; background: #990000; color: #fff; border: 1px solid #fff; cursor: pointer; float: right; margin: 5px 0px 0px 0px; }
.shoppingcartstyle .submit:hover { background: #FF0000; }







.notify { background: #000; border: 3px solid #111; padding: 10px; color: #fff; font-weight: bold; display: none; margin: 0px 0px 15px 0px; width: 290px; }
#successMessage { background: #000; border: 3px solid #111; padding: 10px; color: #fff; font-weight: bold; display: none; margin: 0px 0px 15px 0px; width:200px; }
label { float: left; width: 70px; padding: 5px; text-align: right; }
.input { color: #fff; float: left; width: 150px; padding: 5px; background: #333; border: 2px solid #000; -webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px; }
a.submitNewsletter { font-weight: bold; color: #fff; padding: 5px 15px; background: #056715; border: 2px solid #777; -webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px; }
a.submitNewsletter:hover { background: #167a27; }
#emaillist .clear { height: 10px; }

.form {  }
.form input { padding: 3px; background: #fff; color: #333; width: 300px; font-family: Helvetica, Arial, sans-serif; }
.form .textarea { padding: 3px; background: #fff; color: #333; width: 300px; height: 75px; font-family: Helvetica, Arial, sans-serif; }
.form .clear { height: 10px; }
.form .submitform { background: #990000; color: #fff; font-weight: bold; padding: 10px 20px; cursor: pointer; width: 75px; }
.form .submitform:hover { background: #ff0000; }






/* Container DIV - automatically generated */
.simply-scroll-container {  position: relative; }
/* Clip DIV - automatically generated */
.simply-scroll-clip {  position: relative; overflow: hidden; z-index: 2; }
/* UL/OL/DIV - the element that simplyScroll is inited on
Class name automatically added to element */
.simply-scroll-list { position: absolute; top: 0; left: 0; z-index: 1; overflow: hidden; margin: 0; padding: 0; list-style: none; }	
.simply-scroll-list li { padding: 0; margin: 0; list-style: none; }
.simply-scroll-list li img { border: none; display: block; }
.simply-scroll-btn { position: absolute; background-image: url('images/new/updown.jpg'); background-repeat: no-repeat; width: 20px; height: 20px; z-index:10; cursor: pointer; }
/* SCROLL UP!!! */
.simply-scroll-btn-up { right: 0px; top: 0px; margin: 15px 5px 0px 0px; background-position: 0px 0px; }
.simply-scroll-btn-up.disabled { background-position: 0px 0 !important; }
.simply-scroll-btn-up:hover { background-position: 0px 0px; }
/* GO DOWN!!! */
.simply-scroll-btn-down { right: 0px; bottom: 0px; margin: -15px 5px 0px 0px; background-position: 0px -25px; }
.simply-scroll-btn-down.disabled { background-position: 0px -25px !important; }
.simply-scroll-btn-down:hover { background-position: 0px -25px; }
/* Container DIV */
.vert { width: 263px; /* wider than clip for custom button pos. */ height: 210px; margin-bottom: 1.5em; }
/* Clip DIV */
.vert .simply-scroll-clip { width: 233px; height: 210px; }
/* Explicitly set height/width of each list item */
.vert .simply-scroll-list li { width: 233px; height: 35px; }
/* Modified button positions, overriding previous styles */
.vert .simply-scroll-btn-up { right: 0; top: 0; }
.vert .simply-scroll-btn-down { right: 0; top: 52px; }





/* Playlist */
div.jp-playlist { z-index: 1; position: fixed; top: 125px; left: -233px; padding: 0px; height: 211px; width: 262px; margin: 0px; border: 0px solid #000; }
div.jp-playlist #retract { float: left; width: 233px; height: 210px; background: url('images/new/whiteBG.png'); }
div.jp-playlist #playlistaction, div.jp-playlist #playlisthide { z-index: 8; position: relative; float: left; width: 29px; background: url('images/new/playlistAction.png') 0 0 no-repeat; height: 211px; cursor: pointer; }
div.jp-playlist #playlisthide { display: none; }
div.jp-playlist ul#playlist { line-height: 14px; list-style-type: none; margin:0; padding:0px; font-size: 12px; height: 233px; overflow: hidden; } /* overflow-y: auto; */
div.jp-playlist ul#playlist li { line-height: 12px; height: 27px; border-bottom: 1px solid #dedede; margin: 3px 0px 0px 5px !important; padding: 0px !important; }
div.jp-playlist ul#playlist li a { display: block; width: 180px; float: left; font-size: 14px; height: auto; margin: 0px; padding: 5px 0 0 1px; }
div.jp-playlist ul#playlist li a.plus { display: none; text-indent: -9999px; cursor: pointer; z-index: 100; background: url('images/new/plus.png') 0 0 no-repeat; display: block; width: 25px; height: 25px; float: left; }
div.jp-playlist ul#playlist li div.metadata { display: none; color: #333; width: 220px; height: 150px; clear: both; position: relative; background: #fff; }
div.jp-playlist ul#playlist li a.download { float: left; margin: 5px 5px 0px 0px; filter:alpha(opacity=60); opacity:0.6; display: block; width: 44px; height: 18px; text-indent: -9999px; background: url('images/new/free.png') 0px 0px no-repeat; } /* background: url('images/download.png') 0 0 no-repeat; */
div.jp-playlist ul#playlist li a.download:hover { filter:alpha(opacity=100); opacity:1.0; }


div.jp-type-single div.jp-playlist li { padding: 0px !important; }
div.jp-playlist-player div.jp-playlist li { padding: 0px 10px 0px 0px !important; border-bottom: 1px solid #333; }
div.jp-playlist-player div.jp-playlist li.jp-playlist-last { padding: 0px 10px 0px 0px !important; border-bottom:none; }
div.jp-playlist-player div.jp-playlist a { color: #555 !important; text-decoration: none; }
div.jp-playlist-player div.jp-playlist a:hover { color:#fff !important; }
div.jp-playlist-player div.jp-playlist a.jp-playlist-current { color:#FF0000 !important; }
div.current-track { position: fixed; top: 33px; left: 60px; z-index: 12; font-size: 12px; font-weight: bold; color: #fff; }



a.jp-volume-min { top: 22px; left: 110px; background: #ffffff; width: 4px; height: 57px; }
a.jp-volume-max { top: 22px; left: 110px; background: #ff9900; width: 4px; height: 57px; }
div.jp-volume-bar { position: fixed; overflow: hidden; top: 27px; left: 22px; width: 4px; height: 57px; cursor: pointer; z-index: 100; }
div.jp-volume-bar-value { width: 4px; height: 57px; background: #fff; }

div#volumebg { position: fixed; top: 20px; left: 15px; z-index: 3; width: 19px; height: 87px; display: block; background: url('images/new/volumeBg.jpg') 0 0 no-repeat; }



/* Video Player Stuff */
.close_button { 
position: fixed; z-index: 300; font-size: 18px; font-weight: bold; color: #fff; position: fixed; top: 10px; right: 240px; cursor: pointer; display: none; }

#player_bg { 
position: fixed; background: url('images/bg.png') #000; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 200; display: none}

.player_holder{
position:fixed; z-index: 265; left:0px; top:40px; width:25px; height:25px; background-color:#000; display: none; }

.video_player{
position:relative; width:100%; height:100%; padding:0px 0px 0px 0px; margin:0px auto; text-align:center; background-color:#FC0;}

.html5video_overlay{
position:absolute; top:0px; width:100%; height:60px; background-color:#000; opacity:.75}

.html5video_avatar_image{
position:absolute; width:90px; height:60px; top:0px;}

.html5video_title{
position:absolute; padding-left:100px; top:10px; width:100%; height:20px; color:#FFF; font-family: Arial, Helvetica, sans-serif; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; text-align:left; background-color:transparent;}

.html5video_desc{
position:absolute; padding-left:100px; top:40px; width:100%; height:20px; color:#FFF; font-family: Arial, Helvetica, sans-serif; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:left; background-color:transparent;}

.html5video_topkey{
position:absolute; width:100%; height:2px; top:33px; background-color:#000;}

.html5_video{
width:100%; height:100%;}

#supersized-loader { display:none; }


/*
 searchbox related stuff
*/

#theSearchBox { float: right; margin-right: 10px; margin-top: 11px; padding-bottom:4px; position: relative; z-index: 10; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
div.searchBox {display:block; width:220px; height:26px; }
input.searchText { float:left; width:212px; height:23px; 
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
	font-family: Helvetica, Arial, sans-serif;
	padding-left:5px;
    color: #fff;
    border: 2px solid #060606;
    border-radius: 4px 4px 4px 4px;
	background:url('images/search_bg.png') no-repeat right center;
}
input.searchText:focus { }

div.searchList {display:none; width:220px; background-color:#d2d2d2; text-align:left; }

div.searchListItemMatch { }
div.search_text {height:64px; width:144px; text-align:left; float:right; font-size:11px; color:#fff; }

#div_searchList_theSearchBox { position:absolute; bottom:30px; left:0px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
/*#div_searchList_theSearchBox { position:absolute; bottom:30px; left:0px; -moz-border-radius-topright: 10px; border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px; }*/
#theSearchBox, #div_searchList_theSearchBox { background-color:#121212; padding: 3px; }
.searchListItemCategory {
	text-transform:uppercase;
	color:#fff;
	font-size:12px;
	text-align:center;
	padding:4px;
	letter-spacing:0.5px;
}
img.search_thumbnail {width:55px; height:55px; display:inline-block; border:1px solid #000; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.searchListItem:hover, .searchListItemMatch:hover { background:url('images/highlighted_search.png') repeat-y left top; }
.searchListItem, .searchListItemMatch {
	cursor:pointer;
	letter-spacing:0.5px;
	background:url('images/search_border.png') no-repeat center top;
	padding:5px;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	background-color:#363636;
}
.searchListItem .heading, .searchListItemMatch .heading { color:#999; display:inline-block; }