<!DOCTYPE html>
<html>
    <head>
        <title>MyArtistDNA | Be Heard. Be Seen. Be Independent.</title>
        <!--[if lt IE 9]>
         <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
         <![endif]-->
        <link href="/css/fan.css" rel="stylesheet" type="text/css"/>
        <link href="/css/fan_header_footer.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
        
        <script src="/js/jquery.jplayer.js" type="text/javascript"></script>
        <script src="/js/string.utils.js" type="text/javascript"></script>
        
        <script src="/js/fan.js" type="text/javascript"></script>
        
        <script type="text/javascript">
            var g_trueSiteUrl = "<?=trueSiteUrl();?>";
            var g_userInfo = <?=$fan_user_info_json;?>;
        </script>
    </head>
    
    <body>
        <div id='body_wrap'><div id='main_content'>

            <?php include_once '../templates/fan_header.html'; ?>
            
            <div id='fan_button_bar'>
                <div class='change_pass_button' onclick='showChangePass();'>
                    <div class='icon'></div>
                    <div class='label'>Change Password</div>
                </div>
            </div>
            <div id='fan_home'>
                <div class='main_title'>My Profile</div>
                <div class='main_title_underbar'></div>
                <div class='left'>
                    <div class='downloads'>
                        <div class='header'>
                            <div class='left_header'>Downloads</div>
                        </div>
                        <div class='file_list'>
                            <?=$fan_files_html;?>
                        </div>
                    </div>
                    <div class='orders'>
                        <div class='header'>
                            <div class='left_header'>My Orders</div>
                        </div>
                        <div class='order_list'>
                            <?=$order_list_html;?>
                        </div>
                    </div>
                </div>
                <div class='right'>
                    <div class='loved_art'>
                        <div class='header'>
                            <div class='left_header'>Loved Art</div>
                            <div class='right_header'>
                                <div class='left_arrow' onclick='loveScrollLeft();'></div>
                                <div class='right_arrow' onclick='loveScrollRight();'></div>
                            </div>
                        </div>
                        <div id='love_list' class='love_list'>
                            <?=$love_list_html;?>
                        </div>
                    </div>
                </div>
                <div style='clear:both'></div>
            </div>
        </div></div>
        
        <div id='popup_mask'></div>
        <div id='change_pass_popup' class='popup_wrapper'>
            <div class='popup'>
                <div class='top_bar'>
                    <div class='title'>CHANGE PASSWORD</div>
                    <div class='close' onclick='closePopup();'>CLOSE</div>
                </div>
                <div class='spacer'></div>
                <div class='input_container'>
                    <div class='label'>Old Password</div>
                    <input id='old_password' type="password" class='text' />
                </div>
                <div class='input_container'>
                    <div class='label'>New Password</div>
                    <input id='new_password' type="password" class='text' />
                </div>
                <div class='input_container'>
                    <div class='label'>Confirm Password</div>
                    <input id='confirm_password' type="password" class='text' />
                </div>
                <div class='submit_container'>
                    <button class="submit" onclick='fanChangePass();'>Submit</button>
                </div>
            </div>
        </div>
        
        <?php include_once 'fan_welcome_popup.html'; ?>

        <?php include_once '../templates/footer.html'; ?>

    </body>
</html>

