<!DOCTYPE html>
<html>
    <head>
        <title>MyAritstDNA | Be Heard. Be Seen. Be Independent.</title>
        <!--[if lt IE 9]>
         <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
         <![endif]-->
        <link href="/css/fan.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
        
        <script src="/js/jquery.jplayer.js" type="text/javascript"></script>
        <script src="/js/string.utils.js" type="text/javascript"></script>
        
        <script src="/js/fan_login_signup.js" type="text/javascript"></script>
        <script src="/js/fan.js" type="text/javascript"></script>
        
        <script type="text/javascript">
            var g_trueSiteUrl = "<?=trueSiteUrl();?>";
        </script>
    </head>
    
    <body>
        <div id='body_wrap'><div id='main_content'>
            
            <div id='header'>
                <div class='top_bar'></div>
                <div class='mad_bar'>
                    <div class='logo'></div>
                </div>
            </div>
            
            <div id='fan_home'>
                <div class='main_title'>My Profile</div>
                <div class='main_title_underbar'></div>
                <div class='left'>
                    <div class='downloads'>
                        <div class='header'>
                            <div class='left_header'>Downloads</div>
                        </div>
                        <div class='file_list'>
                            <?=$fan_files_html;?>
                        </div>
                    </div>
                    <div class='orders'>
                        <div class='header'>
                            <div class='left_header'>My Orders</div>
                        </div>
                        <div class='order_list'>
                            <?=$order_list_html;?>
                        </div>
                    </div>
                </div>
                <div class='right'>
                    <div class='loved_art'>
                        <div class='header'>
                            <div class='left_header'>Loved Art</div>
                            <div class='right_header'>
                                <div class='left_arrow' onclick='loveScrollLeft();'></div>
                                <div class='right_arrow' onclick='loveScrollRight();'></div>
                            </div>
                        </div>
                        <div id='love_list' class='love_list'>
                            <?=$love_list_html;?>
                        </div>
                    </div>
                </div>
                <div style='clear:both'></div>
            </div>
        </div></div>
        
        <div id="footer">
            <div class='pad'></div>
            <footer>
                <aside>
                    <div class='list_head'>ARTIST</div>
                    <ul>
                        <li><a href="#">All</a></li>
                        
                    </ul>
                </aside>
                
                <aside class="benefits">
                    <div class='list_head'>BENEFITS</div>
                    <ul>
                        <li><a href="/be-heard.php">Be Heard</a></li>
                        <li><a href="/be-seen.php">Be Seen</a></li>
                        <li><a href="/be-independent.php">Be Independent</a></li>
                    </ul>
                </aside>
                
                <aside>
                    <div class='list_head'>SUPPORT</div>
                    <ul>
                        <li><a href="/pricing.php">Pricing</a></li>
                        <li><a href="/faq.php">FAQ</a></li>
                        <li><a href="/tour.php">Help</a></li>
                    </ul>
                </aside>
                
                <aside>
                    <div class='list_head'>AFFILIATES</div>
                    <ul>
                        <li><a href="http://myartistdna.co">MAD.co</a></li>
                        <li><a href="http://myartistdna.is">MAD.is</a></li>
                        <li><a href="http://myartistdna.fm">MAD.fm</a></li>
                        <li><a href="http://myartistdna.tv">MAD.tv</a></li>
                        
                    </ul>
                </aside>
                
                <article>
                    <div class='list_head'>STAY CONNECTED</div>
                    <ul>
                        <li><a href="http://facebook.com/pages/MyArtistDNA/106114012796731" target="_blank"><span><img src="/images/facebook.gif" alt="Facebook"></span> Become a fan on Facebook</a></li>
                        <li><a href="http://twitter.com/myartistdna" target="_blank"><span><img src="/images/twitter.gif" alt="Twitter"></span> Follow us on Twitter</a></li>
                        <li><a onclick='showNewsletter();'><span><img src="/images/email.gif" alt="Email"></span> Join Newsletter</a></li>
                        
                    </ul>
                </article>
                <div class="logo"><a href="/home.php"><img src="/images/MYARTISTDNA_footer.gif" alt="MYARTISTDNA"></a></div>
                <p>&copy; 2012 <a href="http://myartistdna.com">MYARTISTDNA</a></p>
            </footer>
        </div>
    </body>
</html>

