<!DOCTYPE html>
<html>
    <head>
        <title>MyAritstDNA | Be Heard. Be Seen. Be Independent.</title>
        <!--[if lt IE 9]>
         <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
         <![endif]-->
        <link href="/css/fan.css" rel="stylesheet" type="text/css"/>
        <link href="/css/fan_header_footer.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
        
        <script src="/js/jquery.jplayer.js" type="text/javascript"></script>
        <script src="/js/string.utils.js" type="text/javascript"></script>
        
        <script src="/js/fan.js" type="text/javascript"></script>
        
        <script type="text/javascript">
            var g_trueSiteUrl = "<?=trueSiteUrl();?>";
        </script>
    </head>
    
    <body>
        <div id='body_wrap'><div id='main_content'>
            
            <?php
            
                $show_fan_login = TRUE;
            
                include_once '../templates/fan_header.html';
            
            ?>
            
            <div id='fan_login'>
                <div class='whats_new'>
                    <div class='left_arrow'></div>
                    <div class='right_arrow'></div>
                    <div class='title'>WHATS NEW</div>
                    <div class='detail'>
                        Jay-Z and Beyonce Celebrate The Good Life With Nas!
                    </div>
                    <div class='dots'>
                        <div class='dot'></div>
                        <div class='dot'></div>
                        <div class='dot'></div>
                        <div class='dot'></div>
                        <div class='dot'></div>
                    </div>
                </div>
                <div class='editor_pick'>
                </div>
                <div class='most_loved'>
                    <div class='red_circle'></div>
                    <div class='title'>MOST LOVED</div>
                    <div class='media_title'>Mercy</div>
                    <div class='media_artist'>Kanye West</div>
                    <div class='love_icon'></div>
                </div>
                <div class='twitter_center twitter_box'>
                    <div class='twitter_icon'></div>
                    <div class='content'>
                        <div class='title'>MyArtistDNA - City Rominiecki</div>
                        <div class='other'>
                            <a href='#'>http://champcity.myartistdna.com</a> #myartistdna via @myartistdna</a>
                        </div>
                    </div>
                </div>
                <div class='tumblr'>
                    
                </div>
                <div class='store_item'>
                </div>
                <div class='twitter_left twitter_right_arrow twitter_box'>
                    <div class='twitter_icon'></div>
                    <div class='content'>
                        <div class='title'>MyArtistDNA - City Rominiecki</div>
                        <div class='other'>
                            <a href='#'>http://champcity.myartistdna.com</a> #myartistdna via @myartistdna</a>
                        </div>
                    </div>
                </div>
                <div class='center_pict'>
                </div>
                <div class='twitter_right twitter_right_arrow twitter_box'>
                    <div class='twitter_icon'></div>
                    <div class='content'>
                        <div class='title'>MyArtistDNA - City Rominiecki</div>
                        <div class='other'>
                            <a href='#'>http://champcity.myartistdna.com</a> #myartistdna via @myartistdna</a>
                        </div>
                    </div>
                </div>
                <div class='events'>
                    <div class='right_arrow'></div>
                    <div class='left_arrow'></div>
                    <div class='title'>EVENTS</div>
                    <div class='event_details'>
                        <div class='name'>Raekwon</div>
                        <div class='date'>Thursday, July 26th 9:00PM</div>
                        <div class='location'>Best Buy Theater, New York</div>
                    </div>
                    <div class='dots'>
                        <div class='dot'></div>
                        <div class='dot'></div>
                        <div class='dot'></div>
                        <div class='dot'></div>
                    </div>
                </div>
                <div class='play_song'>
                </div>
                <div class='play_song2'>
                </div>
                <div class='mad_tv'>
                    <div class='play'></div>
                    <div class='artist'>Kool G Rap</div>
                    <div class='title'>Fast Life</div>
                </div>
                <div class='mad_fm'>
                    <div class='play'></div>
                    <div class='artist'>Usher</div>
                    <div class='title'>Looking for Myself</div>
                </div>
            </div>
        </div></div>
        
        <div id='popup_mask'></div>
        <div id='login_popup' class='popup_wrapper'>
            <div class='popup'>
                <div class='top_bar'>
                    <div class='title'>LOGIN TO MYARTISTDNA</div>
                    <div class='close' onclick='closePopup();'>CLOSE</div>
                </div>
                <div class='spacer'></div>
                <div class='input_container'>
                    <div class='label'>Email Address</div>
                    <input id='login_email' type="text" name="email" value="" class='text' />
                </div>
                <div class='input_container'>
                    <div class='label'>Password</div>
                    <input id='login_password' type="password" name="password" value="" class='text' />
                </div>
                <div class='forgot' onclick='onForgotPassword();'>Forgot your password?</div>
                <div class='submit_container'>
                    <button class="submit" onclick='fanLogin();'>Login</button>
                </div>
            </div>
        </div>
        
        <?php include_once '../templates/footer.html'; ?>
        
    </body>
</html>

