@charset "utf-8";
/* CSS Document */

/*
----------------------------------------
01. default elements
----------------------------------------
*/

html, body, p, div, input, textarea, select, option, fieldset, label, h1, h2, h3, h4, h5, h6, img, a, a:link, a:active, a:hover, a:visited, form, ul, ol, li, dl, dt, dd   { margin:0;  padding:0;  text-align:left;}

img,fieldset { border:none}

ul, li { list-style:none}
h1,h2,h3,h4,h5,h6 { font-weight:normal}

@font-face {
 font-family: 'Neuzeit Grotesk';
 src: url('Neuzeit-Grotesk.eot');
 src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Neuzeit Grotesk Light';
 src: url('Neuzeit-Grotesk-Light.eot');
 src: local('Neuzeit-Grotesk-Light'), url('Neuzeit-Grotesk-Light.otf') format('opentype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Teletex Light';
 src: url('Teletex_Light.eot');
 src: local('Teletex_Light'), url('Teletex_Light.otf') format('opentype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'GothicCGNo2';
 src: url('GothicCGNo2.eot');
 src: local('GothicCGNo2'), url('GothicCGNo2.otf') format('opentype');
 font-weight: normal;
 font-style: normal;
}

body { font-family:"Neuzeit Grotesk Light", Verdana, Arial, Helvetica, sans-serif; background:#415f8b}

p {font-size:16px; color:#5e5f5f; line-height:1.6em}
p a { color:#246ead; text-decoration:none}
p a:hover { text-decoration:underline}

h2 { font-size:35px; color:#000000; line-height:1.2em; font-family:"Teletex Light",Arial, Helvetica, sans-serif; text-transform:uppercase}
h2 a { color:#000000; text-decoration:none}
h2 a:hover { text-decoration:underline}

/*
----------------------------------------
02. container and wrapper
----------------------------------------
*/

#container { width:100%; float:left; background:#021225 url(../images/container_home.jpg) no-repeat top center; border-top:8px solid #415f8b; padding-bottom:146px; position:relative; z-index:50}

#wrapper { width:960px; margin:0 auto}

/*
----------------------------------------
03. header
----------------------------------------
*/

#header { width:960px; height:66px; float:left; padding:32px 0}

#header .logo { float:left}
#header .logo a { width:194px; height:65px; float:left; background:url(../images/logo.gif) no-repeat; text-indent:-9999px}

.nav { float:right; padding:24px 0 0 0}
.nav ul { float:right; font-size:16px; font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif}
.nav ul li { float:left; background:url(../images/divider01.png) no-repeat top right; padding:0 42px}
.nav ul li.first { background:none; padding-right:0}
.nav ul li a { float:left; color:#FFFFFF; text-decoration:none; text-transform:uppercase; font-weight:bold}
.nav ul li a:hover { color:#246ead}
.nav ul li a.active { color:#246ead}

/*
----------------------------------------
05. banner
----------------------------------------
*/

#banner { width:960px; height:529px; float:left}

#banner .photo { width:960px; height:529px; float:left}

/*
----------------------------------------
05. content
----------------------------------------
*/

#bgcontent { width:959px; float:left; background:#FFFFFF; padding:32px 0 52px 0}
#content {width:887px; float:left; background:url(../images/bg_content.gif) repeat-y top left; padding:20px 36px 15px 36px}

.column1 {width:169px; float:left; padding:5px 38px 0 0}
.column1 .logo { width:169px; float:left; line-height:.5em}

.column2 {width:680px; float:right}
.column2 h2 { padding-bottom:30px}
.column2 h2 span { color:#246ead}
.column2 h2 a { color:#246ead}

.column2 p { padding-right:15px; padding-bottom:20px}
.column2 p span { font-weight:bold}
.column2 .link { width:680px; float:right; font-size:18px; text-align:right; font-family:"Teletex Light",Arial, Helvetica, sans-serif; text-transform:uppercase; padding:10px 40px 0 0}
.column2 .link a { float:right; background:url(../images/arrow01.png) no-repeat right center; padding:6px 30px 5px 0}

/*
----------------------------------------
05. footer
----------------------------------------
*/

#bgfooter { width:100%; float:left; position:relative}
#footer { width:960px; margin:0 auto}

#footer p { float:left; font-size:11px; color:#dddee0; line-height:1.3em; text-transform:uppercase; font-family:"GothicCGNo2",Arial, Helvetica, sans-serif; padding:20px 0 15px 0}
#footer p a { color:#dddee0}
#footer .right { float:right}

#footer .info { float:left; padding:0 15px 0 0; position:relative}
#footer .info a { width:59px; height:49px; float:left; background:url(../images/arrow_down.png) no-repeat 0 19px; padding:0 0 0 16px}
#footer .info a:hover { background:url(../images/arrow_up.png) no-repeat 0 19px}
#footer .info:hover > a { background:url(../images/arrow_up.png) no-repeat 0 19px}

#footer .info:hover .others { opacity: 1; -webkit-transition: 0.4s 0s; -moz-transition: 0.4s 0s; -ms-transition: 0.4s 0s; -o-transition: 0.4s 0s; transition: 0.4s 0s; visibility: visible ; z-index:600}
#footer .info .others {position:absolute; opacity: 0; top:-160px; left:16px; width:200px; float:left}
#footer .info .others a { width:auto; height:auto; background:none; padding:0}
#footer .info .others a:hover { background:none}
#footer .info .others:hover > a { background:none}

#footer .info .others ul { width:200px; float:left}
#footer .info .others ul li { width:200px; height:40px; float:left; font-size:14px; position:relative}
#footer .info .others ul li img { float:left; line-height:.5em}
#footer .info .others ul li a { height:40px; float:left; color:#FFFFFF; text-decoration:none; position:relative}
#footer .info .others ul li a span { height:26px; display:none; position:absolute; top:0; left:59px; float:left; background:url(../images/bg_trans1.png) repeat; padding:14px 10px 0 10px}
#footer .info .others ul li a:hover span { position:absolute; display:block}

html* #bgfooter { position:relative; z-index:100}
html* #footer .info:hover .others { display:block; position:absolute}
html* #footer .info .others { position:absolute; display:none}

/*
----------------------------------------
06. inner - page1
----------------------------------------
*/

#containerinner1 { width:100%; float:left; background:#340004 url(../images/container_inner1.jpg) no-repeat top center; border-top:8px solid #80030b; padding-bottom:146px; position:relative; z-index:50}

#containerinner1 .nav ul li a:hover { color:#bc0f1a}
#containerinner1 .nav ul li a.active { color:#bc0f1a}

#containerinner1 .column2 h2 span { color:#b62d3b}
#containerinner1 .column2 h2 a { color:#b62d3b}
#containerinner1 .column2 .link a { color:#b62d3b; background:url(../images/arrow02.png) no-repeat right center}

/*
----------------------------------------
06. inner - page2
----------------------------------------
*/

#containerinner2 { width:100%; float:left; background:#090f15 url(../images/container_inner2.jpg) no-repeat top center; border-top:8px solid #545353; padding-bottom:146px; position:relative; z-index:50}

#containerinner2 .nav ul li a:hover { color:#696969}
#containerinner2 .nav ul li a.active { color:#696969}

#containerinner2 .column2 h2 span { color:#616161}
#containerinner2 .column2 h2 a { color:#616161}
#containerinner2 .column2 .link a { color:#616161; background:url(../images/arrow03.png) no-repeat right center}

/*
----------------------------------------
06. inner - page3
----------------------------------------
*/

#containerinner3 { width:100%; float:left; background:#1c1239 url(../images/container_inner3.jpg) no-repeat top center; border-top:8px solid #574b86; padding-bottom:146px; position:relative; z-index:50}

#containerinner3 .nav ul li a:hover { color:#9985e4}
#containerinner3 .nav ul li a.active { color:#9985e4}

#containerinner3 .column2 h2 span { color:#705dbc}
#containerinner3 .column2 h2 a { color:#705dbc}
#containerinner3 .column2 .link a { color:#705dbc; background:url(../images/arrow04.png) no-repeat right center}

/*
----------------------------------------
06. inner - page4
----------------------------------------
*/

#containerinner4 { width:100%; float:left; background:#03282c url(../images/container_inner4.jpg) no-repeat top center; border-top:8px solid #3a7f86; padding-bottom:146px; position:relative; z-index:50}

#containerinner4 .nav ul li a:hover { color:#52c0cb}
#containerinner4 .nav ul li a.active { color:#52c0cb}

#containerinner4 .column2 h2 span { color:#2f9697}
#containerinner4 .column2 h2 a { color:#2f9697}
#containerinner4 .column2 .link a { color:#2f9697; background:url(../images/arrow05.png) no-repeat right center}


