/* Content */

.view { cursor: pointer; }



.post {
	margin: 15px 0px;
	padding: 10px;
	background: #eee;
	border-bottom: 1px dashed #777;
}

.post a { text-decoration: none !important; border: 0px !important; background: none !important; }

.post a:hover { color: #000 !important; }

.post .title {
	padding: 0px 0px 0px 0px;
	letter-spacing: -1px;
	font-size: 20px;
}

.post .title a {
	text-decoration: none;
	color: #FFFFFF;
	border: none;
}

.post .entry {
	padding: 0px;
	padding-bottom: 10px;
}

.post .byline {
	clear: both;
	overflow: hidden;
}

.post .meta {
	float: left;
}

.post .links {
	float: left;
}

.links a {
}

#notify { display: block; padding: 5px; background: #ccc; color: #000; font-weight: bold; font-size: 16px; letter-spacing: -1px; border: 2px solid #999; }

label {
	float: left;
	width: 150px;
	padding: 3px 3px 3px 0px;
}

input, .textarea {
	width: 250px;
	background: #fff;
	border: 1px solid #fff;
	color: #000;
	padding: 3px;
	font-family: arial;
	font-size: 12px;
}

.textarea {
	width: 390px;
	height: 225px;
}

.submit {
	width: auto;
	padding: 7px 10px;
	background: #5f9cdf;
	font-size: 18px;
	text-transform: capitalize;
	color: #fff;
	cursor: pointer;
	border: 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.submit:hover { background: #e38f06; }

form .clear { height: 10px; }
.clear { clear: both; }

.floatbox { float: left; }
.radio { width: 15px; }

div.entry .entryfloat {
	float: left;
	width: 175px;
	padding: 0px 50px 0px 0px;
}

div.entry .entryfloat ul {
	list-style: none;
	padding: 0px; 
	margin: 0px;
}

div.entry .entryfloat ul li {
	padding: 0px;
	margin: 0px;
}
div.entry .entryfloat ul li a {
	display: block;
	text-decoration: none;
	padding: 3px 3px 3px 10px;
}

div.entry .entryfloat ul li a:hover {
	display: block;
	background: #ccc !important;
}


.messy .sep { height: 12px; }
.messy .graph { width: 970px; height: 110px; overflow: hidden; border-bottom: 2px solid #333; background: #fff; }
.messy .names { width: 970px; background: #fff; }
.messy .bar { float: left; height: 100px; background: url('images/graph.jpg') repeat-x; text-align: center; color: #000; }
.messy .download { background: url('images/graph-download.jpg') repeat-x !important; }
.messy .page { background: url('images/graph-page.jpg') repeat-x !important; }


ul#q-graph {
	width: 100%;
	height: 300px;
	list-style: none;
}

ul#q-graph li.qtr {
	width: auto;
	height: 300px;
	float: left;
	display: inline;
	margin: 5px;
}

ul#q-graph ul, ul#q-graph ul ul {
	list-style: none;
}

ul#q-graph li li.bar {
	width: 50px;
	background: #333;
}

ul#q-graph li li.bar p {
	color: #777;
	font-weight: bold;
	text-align: center;
}





/* LOVE / HATE STATS */
.voteStats { width: 65%; padding: 5px; border-bottom: 1px solid #ccc; }
.voteStats:hover { background: #fff; }
.voteName { float: left; font-weight: bold; text-align: left; width: 45%; float: left; }
.voteResult { float: left; text-align: right; width: 45%; float: right; }


ul.subscriberlist { list-style: none; }
ul.subscriberlist li div.name { padding: 5px; float: left; width: 250px; border-bottom: 1px solid #ccc; }
ul.subscriberlist li div.email { padding: 5px; float: left; width: 250px; border-bottom: 1px solid #ccc; }
ul.subscriberlist li div.options { padding: 5px; float: left; width: 50px; border-bottom: 1px solid #ccc; }


.smaller { width: 145px !important; border: 1px solid #ccc; padding: 10px !important; margin: 0px 10px !important; height: 260px; overflow-y: auto;}
.smaller img { float: right; padding-top: 2px;}
.dash { width: 175px !important; height: 55px !important; margin: 10px 0px !important; }
/*

#q-graph {position: relative; width: 600px; height: 300px; margin: 1.1em 0 3.5em; padding: 0; background: #DDD url(fade-light.png) repeat-x; border: 2px solid gray; list-style: none; font: 9px Helvetica, Geneva, sans-serif;}
#q-graph ul {margin: 0; padding: 0; list-style: none;}
#q-graph li {position: absolute; bottom: 0; width: 150px; z-index: 2; margin: 0; padding: 0; text-align: center; list-style: none;}
#q-graph li.qtr {height: 298px; padding-top: 2px; border-right: 1px dotted #C4C4C4; color: #AAA;}
#q-graph li.bar {width: 60px; border: 1px solid; border-bottom: none; color: #000;}
#q-graph li.bar p {margin: 5px 0 0; padding: 0;}
#q-graph li.sent {left: 13px; background: #DCA url(fade-dark.png) repeat-x; border-color: #EDC #BA9 #000 #EDC;}
#q-graph li.paid {left: 77px; background: #9D9 url(fade-dark.png) repeat-x; border-color: #CDC #9B9 #000 #BFB;}
#q-graph #q1 { float: left; }
#q-graph #ticks {width: 600px; height: 300px; z-index: 1;}
#q-graph #ticks .tick {position: relative; border-bottom: 1px solid #BBB; width: 600px;}
#q-graph #ticks .tick p {position: absolute; left: 100%; top: -0.67em; margin: 0 0 0 0.5em;}
*/