
/* Styles */

.overlay_container
{
    height: 100%; 
    width: 100%; 
    position: absolute; 
    z-index: 9999; 
    left: 0px; 
    top: 0px;
    background-color: #333;
}

.top_bar
{
    font-family: "Neuzeit Grotesk", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    border: solid 1px gray;
}

.submit_music
{
    float: left;    
    background-color: gray; 

    padding-top: 8px; 
    padding-bottom: 8px; 
    padding-left: 20px; 
    padding-right: 20px; 
}

.social_buttons
{
    float: right;
    padding-top: 8px; 
    padding-bottom: 8px; 
}

.social_buttons span
{
    border-left: solid 1px gray;
    padding-right: 10px;
    padding-left: 10px;
}

.bg_image
{
    height: 100%;
    width: 100%;
}

a
{
    text-decoration: none;
    color: white;
}

#player {
    position: absolute;
    height: 72px;
    width: 860px;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -430px;
    background: url("../images/grey_checked_bg.png");
    border-radius: 8px;
}
#player .progress {
    position: absolute;
    height: 59px;
    width: 470px;
    top: 6px;
    left: 129px;
    border-bottom: 1px solid #353535;  
    border-right: 1px solid #353535;  
    background-color: #202020;
    border-radius: 6px;
}
#player .progress .title {
    position: absolute;
    top: 20px;
    left: 16px;
    color: #EEE;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    background-color: transparent;
}
#player .progress .duration {
    position: absolute;
    top: 20px;
    right: 15px;
    color: #666;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: right;
    background-color: transparent;
}






