
/* Styles */

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('Neuzeit-Grotesk.eot');
    src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
}

.overlay_container
{
    height: 100%; 
    width: 100%; 
    position: absolute; 
    z-index: 9999; 
    left: 0px; 
    top: 0px;
    background: black url("../images/madfm_bg.png") center center no-repeat;
}

#player {
    position: absolute;
    height: 72px;
    width: 860px;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -430px;
    background: url("../images/grey_checked_bg.png");
    border-radius: 8px;
}
#player .progress {
    float: left;
    position: relative;
    height: 59px;
    width: 470px;
    margin-top: 6px;
    border-bottom: 1px solid #353535;  
    border-right: 1px solid #353535;  
    background-color: #202020;
    border-radius: 6px;
}
#player .progress .bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    background-color: #555;
}
#player .progress .title {
    position: absolute;
    top: 21px;
    left: 16px;
    width: 307px;
    color: #EEE;
    font-size: 20px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
}
#player .progress .title span {
    padding-left: 15px;
    padding-right: 10px;
}
#player .progress .duration {
    position: absolute;
    top: 21px;
    right: 15px;
    color: #666;
    font-size: 20px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    background-color: transparent;
}
#player .play,
#player .left_arrow,
#player .right_arrow,
#player .genre,
#player .plus,
#player .heart {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 21px;
    margin-left: 17px;
    margin-right: 16px;
    color: white;
    cursor: pointer;
}
#player .sep {
    float: left;
    width: 1px;
    height: 32px;
    margin-top: 20px;
    background-color: #292928;
    border-left: 1px solid #3c3c3a;
}
#player .right_arrow {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 21px;
    margin-left: 17px;
    margin-right: 17px;
    color: white;
    cursor: pointer;
}
#player .left_arrow {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 21px;
    margin-left: 16px;
    margin-right: 17px;
    color: white;
    cursor: pointer;
}
#player .genre {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 21px;
    margin-left: 16px;
    margin-right: 17px;
    color: white;
    cursor: pointer;    
}

#mad_fm_logo {
    position: absolute;
    top: 40px;
    left: 0px;
    height: 64px;
    width: 194px;
    background: url("../images/mad_fm_logo.png");
}

#bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 49px;
    background-color: #2e8085;
    color: white;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#bottom .copyright {
    position: absolute;
    top: 20px;
    right: 270px;
}
#bottom .be_heard {
    position: absolute;
    top: 20px;
    left: 270px;
}