* {margin: 0px; padding: 0px; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

@font-face {
 font-family: 'GothamBlack';
	src: url("fonts/GOTHAM-BK.eot"); /* IE */  
	src: local("Gotham Black"), url("../jplayer/fonts/GOTHAM-BK.ttf") format("truetype"); /* non-IE */ }
	
@font-face {
 font-family: 'GothamBold';
	src: url("fonts/GOTHAM-B.eot"); /* IE */  
	src: local("Gotham Bold"), url("../jplayer/fonts/GOTHAM-B.ttf") format("truetype"); /* non-IE */ }

@font-face {
 font-family: 'GothamBook';
	src: url("fonts/GOTHAM.eot"); /* IE */  
	src: local("Gotham Book"), url("../jplayer/fonts/GOTHAM.ttf") format("truetype"); /* non-IE */ 
}


body { background: #fff url('images/bg.jpg') 0px 0px repeat-x; font-size: 12px; color: #000; font-family: arial; }
p { line-height: 18px; margin-bottom: 12px;}
a { text-decoration: none; color: #333; }
a:hover { color: #0c9ccd; }
h1, h2, h3 { font-family: 'Arial Black'; font-weight: 400; margin-bottom: 10px;}
h1 { font-size: 40px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }


.clear { clear: both; }

#corner { position: absolute; z-index: 2; top: 0; left: 0; background: url('images/topCorner.png') 0px 0px no-repeat; width: 174px; height: 182px; }

#wrapper { width: 937px; margin: 0px auto; }

#wrapper #header {  }
#wrapper #header h1 { display: block; text-indent: -9999px; background: url('images/headline.jpg') 0px 0px no-repeat; width: 578px; height: 70px; margin: 37px 0px 20px 0px; }
#wrapper #header #controls { float: right; margin-top: -35px; text-align: right; }
#wrapper #header #controls a { font-family: 'GothamBook', 'Arial'; font-size: 18px; color: #fff; font-weight: 900; }
#wrapper #header #controls a:hover { color: #eee; }

#wrapper #main { background: url('images/artists.jpg') 0px 0px no-repeat; width: 937px; height: 543px; }

#wrapper #topten { margin: 15px 0px; }
#wrapper #topten h1 { display: block; cursor: pointer; text-indent: -9999px; background: url('images/10reasons.jpg') 0px 0px repeat-x; width: 937px; height: 63px; margin: 0px; padding: 0px; }
#wrapper #topten #toptenBody { display: none; background: #333; padding: 15px; }
#wrapper #topten #toptenBody ol { margin: 5px 45px; }
#wrapper #topten #toptenBody ol li { font-size: 16px; font-family: 'GothamBold', 'Arial'; font-style: normal; color: #fff; line-height: 28px;}


#wrapper #signup { margin: 0px 0px 15px 0px; }
#wrapper #signup h1 { display: block; cursor: pointer; text-indent: -9999px; background: url('images/signup.jpg') 0px 0px repeat-x; width: 937px; height: 63px; margin: 0px; padding: 0px; }
#wrapper #signup #signupBody { display: none; background: #fff; padding: 15px; }
#wrapper #signup #signupBody p { color: #000; font-family: 'GothamBook', 'Arial'; font-size: 14px; line-height: 20px; }

#wrapper #footer { padding: 25px 0px; width: 350px; margin: 0 auto 300px auto; }

#notify { padding: 100px; margin: 0px 0px 15px 0px; background: #04a01a; color: #fff; font-size: 30px; font-family: 'GothamBook', 'Arial'; border: 3px solid #0fa825; text-align: center; }
.error { border: 3px solid #a60c1e !important; background: #940819 !important; }



form label { float: left; width: 70px; font-family: 'GothamBook', 'Arial'; font-size: 12px; padding: 5px; }

form input { background-image: url('images/formbg.jpg'); width: 130px; background: #fff; border: 1px solid #ccc; padding: 5px; font-family: 'GothamBook', 'Arial'; font-size: 12px; border-radius: 5px; }

.submit { cursor: pointer; background: #555; color: #fff; }
.submit:hover { cursor: pointer; background: #777; color: #fff; }

.three { float: left; width: 300px; padding: 5px 0px 10px 0px; }
.three {  }



.fan { width: 220px; }
.fan label { width: 70px; }
.fan .radio { width: 15px; }
.fan .block { float: left; padding: 5px; width: 120px; }

.sxsw { width: 400px !important; }
.sxsw label { width: 280px; }
.sxsw .block { float: left; width: 50px; padding: 5px; }
.sxsw .checkbox { width: 15px; }


.csubmit { width: 100px; }

