
/*
---------------------------------------------
01. main/default elements
---------------------------------------------
*/

* {
	margin: 0;
	padding: 0;
}
ul {
	list-style:none
}
img, fieldset {
	border:none
}
/* render html5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal
}

html {overflow-x:hidden}

@font-face {
 font-family: 'Neuzeit Grotesk';
 src: url('Neuzeit-Grotesk.eot');
 src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Neuzeit Grotesk Light';
 src: url('Neuzeit-Grotesk-Light.eot');
 src: local('Neuzeit-Grotesk-Light'), url('Neuzeit-Grotesk-Light.otf') format('opentype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Teletex Light';
 src: url('Teletex_Light.eot');
 src: local('Teletex_Light'), url('Teletex_Light.otf') format('opentype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Lucida Grande';
 src: url('Lucida Grande.eot');
 src: local('Lucida Grande'), url('Lucida Grande.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}


body {
	font-family:"Lucida Grande", Verdana, Arial, Helvetica, sans-serif; background:#f6f6f6
}

p { font-size:14px; color:#556270}

h2 { font-family:"Teletex Light",Arial, Helvetica, sans-serif; font-size:30px; color:#353a3f; line-height:1em; text-transform:uppercase}
h3 { font-family:"Teletex Light",Arial, Helvetica, sans-serif; font-size:22px; color:#FFFFFF; line-height:1em; text-transform:uppercase}

h4 { font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif; font-size:28px; color:#474248; line-height:1em;}
h4 a { color:#474248; text-decoration:none}
h4 a:hover { text-decoration:underline}

h5 { font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif; font-size:15px; color:#36421b; line-height:1em}

/*
---------------------------------------------
02. header
---------------------------------------------
*/

#header {width:100%; height:50px; float:left; background:#0a0b0d; border-bottom:43px solid #FFFFFF}
header { width:940px; margin:0 auto}

header h1 { float:left; line-height:.5em; padding:14px 16px 0 0}

header nav {width:701px; height:50px; float:left; background:url(../images/bg_nav.gif) repeat-x; padding:0 20px 0 60px}
header nav ul {float:left; padding:20px 0 0 0}
header nav ul li { float:left; font-family:"Neuzeit Grotesk", "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#D5D5D5; text-transform:uppercase; background:url(../images/divider_nav.png) no-repeat right 4px; padding:0 18px; position:relative}
header nav ul li.nodivider { background:none}
header nav ul li a { float:left; color:#D5D5D5; text-decoration:none; padding-bottom:14px; z-index:10}
header nav ul li a:hover { background:url(../images/arrow_nav.gif) no-repeat bottom center}
header nav ul li:hover a { background:url(../images/arrow_nav.gif) no-repeat bottom center}
header nav ul li a.active { background:url(../images/arrow_nav.gif) no-repeat bottom center}
header nav ul li a.login {color:#4ecdc4} 

header nav ul li ul { width:500px; height:40px; float:left; color:#FFFFFF; display:none; top:26px; left:22px; position:absolute}
header nav ul li:hover ul { display:block}

header nav ul li ul li {float:left; font-size:11px; color:#556270; background:none; padding:0px 52px 0 0}
header nav ul li ul li a { color:#556270; text-decoration:none; padding:0}
header nav ul li ul li a:hover {background:none; text-decoration:underline}

header .search {float:right; padding-top:13px}
header .search fieldset { width:210px; height:24px; float:right; background:#d2d2d2}
header .search .button {float:left; line-height:.5em; padding:6px 5px 0 0}
header .search .input { width:181px; float:left; color:#595959; font-size:10px; border:none; background:none; padding:5px 6px}

/*
---------------------------------------------
03. wrapper and content
---------------------------------------------
*/

#wrapper {width:940px; margin:0 auto}
#content {width:940px; float:left}

/*
---------------------------------------------
04.1 content - features
---------------------------------------------
*/

#content .features { width:940px; float:left; padding-bottom:40px}

ul#accordion-slider { width:940px; position: relative;}
ul#accordion-slider li { width:314px; height:257px; float:left; display: block; overflow: hidden}

#content .features .caption {width:465px; height:40px; float:left; font-size:14px; color:#FFFFFF; background:url(../images/bg_bar.png) repeat; padding:0 0 0 15px; margin-top:-60px; position:relative}
#content .features .caption  span {float:left; padding-top:10px}
#content .features .caption  .go {float:right; font-size:14px; padding:0 0 0 0}
#content .features .caption  .go a { width:40px; height:30px; float:left; color:#FFFFFF; text-decoration:none; font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif; background:url(../images/button_go.png) no-repeat; padding:10px 0 0 22px}

ul#accordion-slider li .caption { display:none}
ul#accordion-slider li:hover .caption { display:block} 

/*
---------------------------------------------
04.2 content - signup
---------------------------------------------
*/

#content .signup {width:940px; height:50px; float:left; background:url(../images/bg_sign_up.gif) no-repeat; margin-bottom:40px}
#content .signup h3 {float:left; padding:14px 0 0 20px;}

#content .signup .button {float:right; font-family:"Teletex Light",Arial, Helvetica, sans-serif}
#content .signup .button a { width:242px; height:36px; float:left; color:#000000; text-decoration:none; font-size:22px; background:url(../images/button_signup.gif) no-repeat; font-weight:bold; text-align:center; padding:14px 0 0 0}


/*
---------------------------------------------
04.3 content - benefits
---------------------------------------------
*/

#benefitshome {width:940px; float:left; background:url(../images/borderdesign.gif) repeat-x bottom left; padding-bottom:51px; margin-bottom:40px}
#benefitshome h2 {width:940px; float:left; text-align:center; background:url(../images/borderdesign.gif) repeat-x; padding-top:51px; padding-bottom:38px}
#benefitshome h2 span {font-weight:bold}

#benefitshome aside { width:300px; height:115px; float:left; background:url(../images/bg_benefits_home.gif) no-repeat; padding:15px 20px 0 0}
#benefitshome ul { width:294px; float:left; padding:0px 0 5px 6px}
#benefitshome ul li { width:294px; float:left;font-family:"Teletex Light",Arial, Helvetica, sans-serif; font-size:28px; color:#FFFFFF; line-height:.9em}
#benefitshome ul li span { float:left; background:url(../images/bg_gray_home.png) repeat; padding:0 0 0px 8px}
#benefitshome ul li .be { float:left; background:url(../images/bg_blue1.png) repeat; padding:3px 6px; margin-top:-6px}
#benefitshome ul li .heard { float:left; font-size:40px; letter-spacing:-1px; background:url(../images/bg_blue1.png) repeat; padding:7px 6px; margin:0 -6px 6px 0}

#benefitshome h5 {width:260px; height:27px; float:left; background:url(../images/bg_blue1.png) repeat; padding:13px 0 0 40px; margin-top:0px}
#benefitshome h5 a {color:#36421b; text-decoration:none}
#benefitshome h5 a:hover {color:#36421b; text-decoration:underline}

#benefitshome .seen { width:300px; height:115px; float:left; background:url(../images/bg_benefits_home.gif) no-repeat; padding:15px 20px 0 0}
#benefitshome .seen ul li .be {background:url(../images/bg_green.png) repeat}
#benefitshome .seen ul li .heard {background:url(../images/bg_green.png) repeat}
#benefitshome .seen h5 {background:url(../images/bg_green1.png) repeat}

#benefitshome .independent { width:300px; height:115px; float:left; background:url(../images/bg_benefits_home.gif) no-repeat; padding:15px 0px 0 0}
#benefitshome .independent ul li .be {background:url(../images/bg_pink.png) repeat}
#benefitshome .independent ul li .heard {background:url(../images/bg_pink.png) repeat}
#benefitshome .independent h5 {background:url(../images/bg_pink1.png) repeat}


/*
---------------------------------------------
04.4 content - artisthome
---------------------------------------------
*/

#artistshome {width:940px; float:left; padding:0px 0 40px 0}
#artistshome h2 { text-align:center; padding-bottom:15px}
#artistshome h2 span {font-weight:bold}

#artistshome ul { width:960px; float:left; margin-right:-20px}
#artistshome ul li {width:300px; float:left; padding:20px 20px 0 0}
#artistshome ul li span { height:34px; float:left; font-size:14px; color:#323840; background:url(../images/bg_heading_artists.png) no-repeat top right; padding:16px 32px 0 17px; margin-top:-55px; position:relative}
#artistshome ul li a { color:#323840; text-decoration:none}

#artistshome .pagination { width:661px; float:left; padding:27px 0 0 279px}
#artistshome .pagination p {float:left; font-size:12px; padding-right:2px}
#artistshome .pagination p a { width:189px; height:17px; float:left; background:#dddee0 url(../images/arrow_previous.gif) no-repeat top left; color:#666666; text-decoration:none; text-align:right; padding:8px 14px}
#artistshome .pagination p a.next { text-align:left; background:#dddee0 url(../images/arrow_next.gif) no-repeat top right}

/*
----------------------------------------
05. footer
----------------------------------------
*/

#footer {width:100%; height:149px; float:left; background:#0a0b0d; padding-top:37px}
footer { width:940px; margin:0 auto}

footer h5 { font-size:14px; color:#f5f5f5; padding-bottom:10px}
footer aside { width:100px; float:left}

footer .benefits { width:110px; float:left}

footer aside ul {float:left}
footer aside ul li {font-size:12px; color:#4ecdc4; line-height:1.5em}
footer aside ul li a {color:#4ecdc4; text-decoration:none}
footer aside ul li a:hover {color:#4ecdc4; text-decoration:underline}

footer article { width:185px; float:left}
footer article ul li { width:185px; float:left; background:url(../images/dottedborder.gif) repeat-x bottom left; margin-bottom:3px}
footer article ul li.last {background:none; margin-bottom:0}
footer article ul li img { float:left; padding:3px 7px 7px 0}
footer article ul li a { font-size:12px; color:#4ecdc4; text-decoration:none}
footer article ul li a:hover {color:#4ecdc4; text-decoration:underline}

footer .logo {float:right; line-height:.5em; padding:0 0 43px 0}

footer p { float:right; font-size:12px; color:#FFFFFF; text-align:right}
footer p a { color:#FFFFFF; text-decoration:none}
footer p a:hover { color:#FFFFFF; text-decoration:underline}

/*
 searchbox related stuff
*/

#theSearchBox {position:absolute; top:12px; left:792px; z-index:10;}
div.searchBox {display:block; width:220px; height:26px; border:solid 1px #000; background-image:url(../images/search_back.gif);}
input.searchText { float:left; width:200px; height:23px; border:none; font-size:12px; font-family:"Courier New", Courier, monospace; color:#767676; background-color:#d2d2d2;}
input.searchText:focus { border:none;}

div.searchList {display:none; width:220px; background-color:#d2d2d2; text-align:left; border:solid 1px #000;}

div.searchListItem {background-color:#FFFFFF; border-top-style:solid; border-bottom-style:solid;  border-top-width:1px; border-bottom-width:1px; border-top-color:#fff;  border-bottom-color:#fff; font-family:"Neuzeit Grotesk", "Trebuchet MS", Arial, Helvetica, sans-serif; text-align:left;  }
div.searchListItem:hover {background-color:#0066FF; border-top-style:solid; border-bottom-style:solid;  border-top-width:1px; border-bottom-width:1px; border-top-color:#000099;  border-bottom-color:#000099;}

div.searchListItemMatch {background-color:#0066FF; border-top-style:solid; border-bottom-style:solid;  border-top-width:1px; border-bottom-width:1px; border-top-color:#000099;  border-bottom-color:#000099;font-family:"Neuzeit Grotesk", "Trebuchet MS", Arial, Helvetica, sans-serif; }


div.searchListItemCategory {background-color:#d2d2d2; border:inset 1px #CCCCCC;}

img.search_thumbnail {width:64px; height:64px;}
div.search_text {height:64px; width:156px; text-align:left; float:right;}