
<div id='add_user' class='popup_wrapper'>
<div id="popup">
    <div class='top_bar'>
        <h2>Add Artist</h2>
        <button onclick='closePopup();'>CLOSE</button>
    </div>
    
    <div class='top_blue_bar'></div>
    <div class='top_sep'></div>
    
    <div class='input_container'>
        <div class='left_label'>Artist</div>
        <input id='artist' type="text" name="artist" value="" class='right_text' />
    </div>
    <div class='input_container'>
        <div class='left_label'>URL</div>
        <input id='url' type="text" name="url" value="" class='right_text' />
    </div>
    <div class='input_container'>
        <div class='left_label'>Email</div>
        <input id='email' type="text" name="email" value="" class='right_text' />
    </div>
    <div class='input_container'>
        <div class='left_label'>Password</div>
        <input id='password' type="password" name="password" value="" class='right_text' />
    </div>
    <div class='submit_container'>
        <button id='add_user_submit' class="submit" onclick='onAddUserSubmit();'>Submit</button>
    </div>
    
    <div class='bottom_sep'></div>
    <div class='bottom_blue_bar'></div>
</div>
</div>
