
<? include_once 'header.php'; ?>

<script type="text/javascript">
    
    var g_artistList = <?=$artist_list_json;?>;
    
    $(document).ready(renderAllArtistSummary);
    
</script>

<section id="wrapper">
    <section id="content">
        
        <div id='order_list'>
            <div class='title'>Artist Summary</div>
            <table id='order_summary'>
                <thead>
                    <tr>
                        <th class='artist'>Artist</th>
                        <th class='amount'>Order Count</th>
                        <th class='amount'>Charge Total</th>
                        <th class='amount'>Payout Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
</section>

<? include_once 'footer.php'; ?>

