<?php

    $include_order = FALSE;
    $include_editor = TRUE;

    require_once 'header.php';

    require_once 'edit_page.html';
    require_once 'edit_video.html';
    require_once 'edit_photo.html';
    require_once 'edit_product.html';
    require_once 'edit_tab.html';
    require_once 'edit_social_config.html';
    require_once 'edit_profile.html';
    require_once 'edit_store.html';
    require_once 'invite_friends.html';
    require_once 'fan_connections.html';
    require_once 'first_instructions.html';
    require_once 'social_post.html';
    require_once 'account_limit.html';
    require_once 'artist_file.html';
    require_once 'edit_template.html';
    require_once 'edit_playlist.html';

    if( $_SESSION['sess_userType'] == 'SUPER_ADMIN' )
    {
        require_once 'edit_account_settings.html';
    }
?>

<script src="js/artist_management.js" type="text/javascript"></script>
<script type="text/javascript">
    
    var g_artistId = <?=$artistID?>;
    var g_facebook = <?=$facebook;?>;
    var g_twitter = <?=$twitter;?>;
    var g_artistData = <?=$artist_data_json;?>;
    
    var g_artistPageUrl = "<?=$artist_url;?>";
    
    var g_pageList = <?=$page_list_json;?>;
    var g_photoList = <?=$photo_list_json;?>;
    var g_videoList = <?=$video_list_json;?>;
    var g_tabList = <?=$tab_list_json;?>;
    var g_productList = <?=$product_list_json;?>;
    var g_fileList = <?=$file_list_json;?>;
    var g_templateList = <?=$template_list_json;?>;
    
    var g_playerUrl = "<?=playerUrl();?>";
    var g_artistFileBaseUrl = "<?=artist_file_base_url();?>";
    
    var g_isPublished = <?=json_encode($is_published);?>;
    
    var g_shouldShowFirstInstruction = <?=json_encode($show_first_instruction);?>
    
    </script>

<section id="wrapper">
    <section id="content" class='thin'>
        
        <div id="admin">
            <div class='name_publish'>
                <div class='name'>
                    <a class='artist_page_url' id='profile_name_anchor' href="<?=$artist_url;?>" target="_blank">
                        <?=$record_artistDetail['artist'];?>
                    </a>
                </div>
                <div class='publish'>
                    <div class='published'>You page is published and live at the URL below.</div>
                    <div class='not_published'>You page is not published, you can use the link below to preview your site.</div>
                    <div class='link_edit'>
                        <div class='link'>Site URL: <a class='artist_page_url' href="<?=$artist_url;?>" target="_blank"><?=$artist_url;?></a></div>
                        <div class='sep'></div>
                        <div class='edit' onclick='showEditProfile();'>Edit</div>
                    </div>
                    <div class='buttons'>
                        <div id='publish_button' class='button' onclick='publishSite();'>
                            <div class='label'>Publish</div>
                            <div class='icon'></div>
                        </div>
                        <div id='unpublish_button' class='button' onclick='confirmUnpublishSite();'>
                            <div class='label'>Unpublish</div>
                            <div class='icon'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            
            <div id="adminblock">
                <div class="column1">
                    <figure id='profile_figure'>
                        <a onclick='showEditProfile();'>
                            <img src="<?=$img_url;?>" />
                        </a>
                    </figure>
                    
                    <h6>Manage Profile</h6>
                    <ul>
                        <li><a onclick='showEditProfile();' title='Edit basic information about your profile'>Edit Profile</a></li>
                        <li><a onclick='showSocialConfigPopup();' title='Add Facebook and Twitter account information'>Social Connections</a></li>
                        <li><a onclick='showInvitePopup();' title='Invite your friends to MyArtistDNA'>Invite Friends</a></li>
                        <li>
                            <a id='view_site_anchor' class='artist_page_url no_underline' href="<?=$artist_url;?>" target="_blank" title='View your site'>
                                <div class='block_button'>
                                    <div class='icon'></div>
                                    <div class='label'>View Site</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <h6>Platform</h6>
                    <ul>
                        <li><a onclick='showPlaylistPopup();' title='Add Playlist'>Add Playlist</a></li>
                        <li><a onclick='showPagePopup(false);' title='Add audio to your site'>Add Audio</a></li>
                        <li><a onclick='showVideoPopup(false);' title='Add a video to your site'>Add Video</a></li>
                        <li><a onclick='showPhotoPopup(false);' title='Add a photo to your site'>Add Photo</a></li>
                        <li id='add_tab_list_item'><a onclick='showTabPopup(false);' title='Add a tab to your site'>Add Tab</a></li>
                        <li><a href="stats.php?userId=<?=$artistID;?>" title='View website analytics for you site'>View Analytics</a></li>
                        <li><a onclick='showFanConnections();' title='Get a list of Fans of your site'>Fan Connections</a></li>
                    </ul>
                    
                    <h6>Store</h6>
                    <ul>
                        <li><a onclick='showProductPopup(false);' title='Add a product to your store'>Add Product</a></li>
                        <li><a href="order_list.php?artist_id=<?=$artistID;?>" title='List of Customer Orders'>Order List</a></li>
                        <li><a href="artist_statement.php?artist_id=<?=$artistID;?>" title="Account Statement">Account Statement</a></li>
                    </ul>
                    <h6>Misc</h6>
                    <ul>
                        <li><a onclick='deleteAccount(<?=$artistID;?>);' title='Delete your account'>Delete Account</a></li>
                    </ul>
                    <? if( $_SESSION['sess_userType'] == 'SUPER_ADMIN' ): ?>
                    <h6>Super Admin</h6>
                    <ul>
                        <li><a onclick='showAccountSettings();'>Account Settings</a></li>
                        <li><a href="all_account_summary.php" title="Summary of Accounts">Summary of Accounts</a></li>
                    </ul>
                    <? endif; ?>
                </div>
                
                <div class="column2">
                    
                    <div class="filelist">
                        <div class="heading">
                            <div class='title'>MEDIA LIBRARY</div>
                            <a onclick='showAddArtistFilePopup(false);' title='Add files for your site'>
                                <div class="buttonadd">
                                    <div class='plus'></div>
                                    <div class='label'>Add Files</div>
                                </div>
                            </a>
                        </div>
                        <div class="list" style='display: none;'>
                            <div class='file_heading'>
                                <div class='button active'>All</div>
                                <div class='button'>Images</div>
                                <div class='button'>Music</div>
                                <div class='button'>Video</div>
                                <div class='button'>Misc</div>
                            </div>
                            <div class='tip'>You can drag and drop files for easy upload.</div>
                            <div id='file_list' class='file_list'>
                            </div>
                        </div>
                    </div>
                    <div class="playlist">
                        <div class="heading">
                            <h5>AUDIO</h5>
                            <a onclick='showPagePopup(false);' title='Add a song to your site'>
                                <div class="buttonadd">
                                    <div class='plus'></div>
                                    <div class='label'>Add Audio</div>
                                </div>
                            </a>
                        </div>
                        <div class="list" style='display: none;'>
                            <ul>
                                <li class="listheading">
                                    <span class="title">Title</span>
                                    <span class="share">Share</span>
                                    <span class="socialize">Socialize</span>
                                    <span class="delete">Delete</span>
                                </li>
                            </ul>
                            <ul id='page_list_ul' class="playlist_sortable">
                            </ul>
                        </div>
                    </div>
                    
                    <div class="photolist">
                        <div class="heading">
                            <h5>Photos</h5>
                            <a onclick='showPhotoPopup(false);' title='Add a photo to your site'>
                                <div class="buttonadd">
                                    <div class='plus'></div>
                                    <div class='label'>Add Photo</div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="list" style='display: none;'>
                            <ul id="photo_list_ul" class="photos_sortable">
                            </ul>
                        </div>
                    </div>
                    
                    <div class="videolist">
                        <div class="heading">
                            <h5>Videos</h5>
                            <a onclick='showVideoPopup(false);' title='Add a video to your site'>
                                <div class="buttonadd">
                                    <div class='plus'></div>
                                    <div class='label'>Add Video</div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="list" style='display: none;'>
                            <ul id="video_list_ul" class="videos_sortable">
                            </ul>
                        </div>
                    </div>
                    
                    <div class="products">
                        
                        <div class="heading">
                            <h5>Store</h5>
                            <a onclick='showProductPopup(false);' title='Add a product to your store'>
                                <div class="buttonadd">
                                    <div class='plus'></div>
                                    <div class='label'>Add Product</div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="list" style='display: none;'>
                            <ul id="product_list_ul" class="products_sortable">
                            </ul>
                        </div>
                    </div>
                    
                    <div class="pages">
                        <div class="heading">
                            <h5>TABS</h5>
                            <a id='add_tab_link' onclick='showTabPopup(false);' title='Add a tab to your site'>
                                <div class="buttonadd">
                                    <div class='plus'></div>
                                    <div class='label'>Add Tab</div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="list" style='display: none;'>
                            <ul>
                                <li class="listheading">
                                    <span class="title">Title</span>
                                    <span class="delete">Delete</span>
                                </li>
                            </ul>
                            <ul id='tab_list_ul' class="pages_sortable">
                            </ul>
                        </div>
                    </div>
                    
                    <?php foreach( $playlist_list as $k => $pl ): ?>
                     
                        <div class="content_list">
                            <div class="heading">
                                <div class='title'>PL: <?=$pl['name'];?></div>
                            </div>
                            
                            <div class="list" style='display: none;'>
                                <ul id='pl_list_ul_<?=$k;?>'>
                                </ul>
                            </div>
                        </div>
                    
                    <?php endforeach; ?>
                    
                    <?php if( count($template_list) > 0 ): ?>
                     
                        <div class="content_list">
                            <div class="heading">
                                <div class='title'>TEMPLATES</div>
                            </div>
                            
                            <div class="list" style='display: none;'>
                                <ul>
                                    <li class="listheading">
                                        <span class="title">Title</span>
                                        <span class="delete">Delete</span>
                                    </li>
                                </ul>
                                <ul id='template_list_ul'>
                                </ul>
                            </div>
                        </div>
                    
                    <?php endif; ?>

                </div>
            </div>
        </div>
    </section><!-- content -->
</section><!-- wrapper -->

<div id='drop_file_overlay'>
    <div class='text'>Drop files anywhere to upload&hellip;</div>
</div>

<?php require_once 'footer.php'; ?>
