<? include_once 'header.php'; ?>

<script type="text/javascript">
    
    var g_artistId = <?=$artist_id;?>;
    var g_artistInvoiceList = <?=$artist_invoices_json;?>;
    
    $(document).ready(renderArtistStatement);
    
</script>

<section id="wrapper">
    <section id="content">
        <div id='artist_statement'>
            <div class='title_buttons'>
                <div class='title'>Account Statement</div>
                <a href="<?=$artist_edit_url;?>">
                    <div class='back_button'>
                        <div class='icon'></div>
                        <div class='label'>Back to site</div>
                    </div>
                </a>
            </div>
            <div class='title_underbar'></div>
            <div class='sub_title'>Invoices</div>
            <div class='header'>
                <div class='invoice_id header_item'>Invoice ID</div>
                <div class='invoice_date header_item'>Invoice Date</div>
                <div class='invoice_total header_item'>Invoice Amount</div>
                <div class='invoice_status header_item'>Status</div>
            </div>
            <div class='list' id='invoice_list'>
            </div>
            <div class='summary' id='invoice_summary'>
            </div>
        </div>
        <div id='artist_invoice'>
            <div class='title_buttons'>
                <div class='title'>Artist Invoice</div>
                <a onclick='showInvoiceList();'>
                    <div class='back_button'>
                        <div class='icon'></div>
                        <div class='label'>Back to list</div>
                    </div>
                </a>
            </div>
            <div class='main_title_underbar'></div>
            <div class='receipt'>
                <div class='header'>
                    <div class='left'>Invoice ID: <span class='set_invoice_id'></span></div>
                    <div class='right set_invoice_date'>July 2012</div>
                </div>
                <div class='address'>
                    <div class='line paid_to'>Paid To:</div>
                    <div class='line' id='invoice_artist_name'><?=$artist_name;?></div>
                    <div class='line' id='invoice_artist_email'><?=$artist_email;?></div>
                </div>
                <div class='order_number'>
                    <div class='item'>Invoice ID: <span class='set_invoice_id'>123-0000008</span></div>
                    <div class='item'>Invoice Date: <span class='set_invoice_date'>July 2012</span></div>
                    <div class='item'>Invoice Status: <span class='set_invoice_status'>Payment Pending</span></div>
                    <div class='item'>Invoice Total: <span class='set_invoice_amount'></span></div>
                </div>
            </div>
            <div class='order_detail'>
                <div class='header'>
                    <div class='order_id header_item'>Order ID</div>
                    <div class='order_date header_item'>Order Date</div>
                    <div class='order_total header_item'>Order Total</div>
                    <div class='order_artist_payment header_item'>Artist Payment</div>
                </div>
                <div class='order_list' id='invoice_order_list'>
                </div>
                <div class='bottom'>
                    <div class='totals'>
                        <div class='total'>
                            <div class='amount set_invoice_amount'></div>
                            <div class='label'>Invoice Total:</div>
                        </div>
                    </div>
                </div>
            </div>
            <? if( $SUPER_ADMIN ): ?>
                <div class='super_admin'>
                    <div class='title'>Super Admin</div>
                    <button class='action' onclick='invoicePay();'>Pay Invoice</button>
                </div>
            <? endif; ?>
        </div>
    </section>
</section>


<? include_once 'footer.php'; ?>

