
<? include_once 'header.php'; ?>

<script type="text/javascript">
    
    var g_artistId = <?=$artist_id;?>;
    var g_pendingShipmentOrders = <?=$pending_shipment_orders_json;?>;
    var g_shippedOrders = <?=$shipped_orders_json;?>;
    
    $(document).ready(renderArtistSettlementOrders);
    
</script>

<section id="wrapper">
    <section id="content">
        <div id='artist_statement'>
            <div class='title_buttons'>
                <div class='title'>Account Statement</div>
                <div class='back_button'>
                    <div class='icon'></div>
                    <div class='label'>Back to site</div>
                </div>
            </div>
            <div class='title_underbar'></div>
            <div class='sub_title'>Shipped Orders</div>
            <div class='header'>
                <div class='order_id header_item'>ID</div>
                <div class='order_date header_item'>Order Date</div>
                <div class='charge_total header_item'>Charge Amount</div>
                <div class='payout_total header_item'>Artist Payment</div>
            </div>
            <div class='list' id='shipped_order_list'>
            </div>
            <div class='title_underbar'></div>
            <div class='sub_title'>Pending Orders</div>
            <div class='header'>
                <div class='order_id header_item'>ID</div>
                <div class='order_date header_item'>Order Date</div>
                <div class='charge_total header_item'>Charge Amount</div>
                <div class='payout_total header_item'>Artist Payment</div>
            </div>
            <div class='list' id='pending_order_list'>
            </div>
            <div class='bottom'>
                <a href="<?=$artist_edit_url;?>">
                    <div class='back_to_site'>
                        <div class='icon'></div>
                        <div class='label'>Back to site</div>
                    </div>
                </a>
                <div class='totals'>
                    <div class='total'>
                        <div id='total_charges' class='amount'></div>
                        <div class='label'>Total Charges:</div>
                    </div>
                    <div class='total'>
                        <div id='total_payouts' class='amount'></div>
                        <div class='label'>Total Payouts:</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


<? include_once 'footer.php'; ?>

