
<? include_once 'header.php'; ?>

<script type="text/javascript">
    
    var g_artistId = <?=$artist_id;?>;
    var g_pendingShipmentOrders = <?=$pending_shipment_orders_json;?>;
    var g_shippedOrders = <?=$shipped_orders_json;?>;
    
    $(document).ready(renderArtistSettlementOrders);
    
</script>


<section id="wrapper">
    <section id="content">
    
        <div id='order_list'>
            <div class='title'>Shipped Orders</div>
            <table id='shipped_orders'>
                <thead>
                    <tr>
                        <th class='order_id'>ID</th>
                        <th class='date'>Order Date</th>
                        <th class='amount'>Charge Amount</th>
                        <th class='amount'>Artist Payment</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class='title'>Pending Orders</div>
            <table id='pending_orders'>
                <thead>
                    <tr>
                        <th class='order_id'>ID</th>
                        <th class='date'>Order Date</th>
                        <th class='amount'>Charge Amount</th>
                        <th class='amount'>Artist Payment</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
</section>

<? include_once 'footer.php'; ?>

