

<div id='edit_photo' class='popup_wrapper'>
<div id="popup">
    <div class='top_bar'>
        <h2>Edit Photo</h2>
        <button onclick='closePopup();'>CLOSE</button>
    </div>

    <div class='top_blue_bar'></div>
    <div class='top_sep'></div>

    <form id="ajax_form" method="post" enctype="multipart/form-data" action="data/photo.php" onsubmit='return onAddPhotoSubmit();'>
        <input id='artist_id' type='hidden' value="" name="artist_id">
        <input id='photo_id' type='hidden' value="" name="id">
        
        <div class='input_container'>
            <div class='line_label'>Name of Photo<span class='required'>*</span></div>
            <input id='photo_name' type="text" name="name" value="" class="line_text" />
        </div>
            <div class='input_container'>
                <div class='line_label'>Location of Photo</div>
                <input id='location' type="text" name="location" value="" class="line_text" />
            </div>
        <div class='input_container' style='height: 50px;'>
            <div class='left_label'>Image <span id='tip_image' class='tooltip'>(?)</span><span class='required'>*</span></div>
            <select id='image_drop' name="image_drop" class='right_drop' onchange='artistFileDropChange(this);'></select>
        </div>
        <div class='input_container'>
            <div class='left_label'>Background Style <span id='tip_bg_style' class='tooltip'>(?)</span></div>
            <select id='photo_bg_style' name="bg_style" class='right_drop'>
            <?php
                $styles = array('LETTERBOX','STRETCH','CENTER','TILE');
                foreach( $styles as $style ) 
                    echo "<option value='$style'>$style</option>\n";
            ?>
            </select>
        </div>
        <div class='input_container'>
            <div class='left_label'>Background Color</div>
            <input id='photo_bg_color' type="text" name="bg_color" maxlength="6" size="6" class='color' value="" />
        </div>
        <div class='input_container' style="height: 60px;">
            <div class='left_label'>Tags <span id='tip_tags' class='tooltip'>(?)</span></div>
            <div class='right_label'>Seperate tags with commas.</div>
            <div style='clear:both;'></div>
            <input id='photo_tags' type="text" name="tags" value="" class="line_text" />
        </div>
        <div class='submit_branding_container'>
            <input type="submit" name="WriteTags" value="submit" class='left_submit' />
            <div class='branding_tip'>Be creative! This is your art collection, your magazine, your radio station. <a href="http://myartistdna.is" target="_blank">Need more?</a></div>
            <div style='clear: both;'></div>
        </div>
    </form>
        
    <div class='bottom_sep'></div>
    <div class='bottom_blue_bar'></div>
</div>
</div>

