
<div id='edit_product' class='popup_wrapper'>
<div id="popup">
    <div class='top_bar'>
        <h2>Edit Product</h2>
        <button onclick='closePopup();'>CLOSE</button>
    </div>
    
    <div class='top_blue_bar'></div>
    <div class='top_sep'></div>
    
    <form id='ajax_form' method="post" enctype="multipart/form-data" action="data/product.php" onsubmit='return onAddProductSubmit();'>
        <input id='artist_id' type='hidden' value="" name="artistid">
        <input id='product_id' type='hidden' value="" name="id" >
        
        <div class='input_container'>
            <div class='line_label'>Name of Product<span class='required'>*</span></div>
            <input id='name' type="text" name="name" class='line_text' value="" class="input" />
        </div>
        
        <div class='flow_container'>
            <div class='line_label'>Description</div>
            <textarea id='description' name="description" class="textarea" style="height: 40px; width: 450px;"></textarea>
        </div>
        <div class='input_container' style='height: 50px;'>
            <div class='left_label'>Image<span class='required'>*</span></div>
            <select id='image_drop' name="image_drop" class='right_drop' onchange='artistFileDropChange(this);'></select>
        </div>
        <div class='input_container'>
            <div class='left_label'>Price<span class='required'>*</span></div>
            <input id='price' type="text" name="price" value="" class='right_text' />
        </div>
        <div class='input_container'>
            <div class='left_label'>Product Type</div>
            <div id='type_group' class='right_box'>
                <input type="radio" name="product_type" value="DIGITAL" class="radio" onclick="clickProductType('DIGITAL');"/> Digital
                <input type="radio" name="product_type" value="PHYSICAL" class="radio" onclick="clickProductType('PHYSICAL');"/> Physical
            </div>
        </div>
        <div id='type_digital'>
            <div class='section_header'>Digital Download Files</div>
            <div class='hsep'></div>
            <div class='downloads' id='downloads'>
                None
            </div>
            <div class='hsep'></div>
            <div class='input_container' style='height: 50px;'>
                <div class='left_label'>Add File</div>
                <select id='dd_drop' name="dd_drop" class='right_drop' onchange='ddDropChange(this);'></select>
            </div>
            <div class='hsep'></div>
        </div>
        <div id='type_physical'>
            <div class='input_container'>
                <div class='left_label'>Shipping<span class='required'>*</span></div>
                <input id='shipping' type="text" name="shipping" value="" class='right_text' />
            </div>
            <div class='input_container'>
                <div class='left_label'>Size <small><small>(Separated by commas)</small></small></div>
                <input id='size' type="text" name="size" value="" class='right_text' />
            </div>
            <div class='input_container'>
                <div class='left_label'>Colors <small><small>(Separated by commas)</small></small></div>
                <input id='color' type="text" name="color" value="" class='right_text' />
            </div>
        </div>
        <div class='submit_branding_container'>
            <input type="submit" name="submit" class='left_submit' value="Submit" />
            <div class='branding_tip' style='width: 230px;'>Monetize - Image is everything. People buy things that look good. Make your image as good as possible to increase sales. <a href="http://myartistdna.is" target="_blank">Need more?</a></div>
            <div style='clear: both;'></div>
        </div>
    </form>
    
    <div class='bottom_sep'></div>
    <div class='bottom_blue_bar'></div>
</div>
</div>

