
<? include_once 'header.php'; ?>

<script type="text/javascript">
    var g_orderId = <?=$order_id;?>;
</script>

<section id="wrapper">
<section id="content">

    <div id='edit_order'>
        <div class='main_title'>Order Details</div>
        <div class='main_title_underbar'></div>
        <div class='receipt'>
            <div class='header'>
                <div class='left'>Shipping Information</div>
                <div class='right'><?=$order_date;?></div>
            </div>
            <div class='address'>
                <div class='line'><?=$order_email;?></div>
                <div class='line'><?=$shipping_info['name'];?></div>
                <div class='line'><?=$shipping_info['street1'];?></div>
                <? if( $shipping_info['street2'] ): ?>
                <div class='line'><?=$shipping_info['street2'];?></div>
                <? endif; ?>
                <div class='line'><?=$shipping_info['city'];?>, <?=$shipping_info['state'];?>, <?=$shipping_info['zip'];?></div>
            </div>
            <div class='order_number'>
                <div class='title'>Order Number: <?=$order_id;?></div>
                <div class='title'>Order Status: <span id='order_status'><?=$order_status;?></span></div>
                <? if( $tracking_number ): ?>
                    <div class='tracking'>
                        Tracking Number: <?=$tracking_number;?>
                    </div>
                <? endif; ?>
            </div>
            <div class='edit_order'>
                <div class='title'>
                    <span class='bold'>Admin Operations:</span>
                    <span class='normal'>Refunds can not be reversed</span>
                </div>
                <div class='buttons'>
                    <? if( $order_state != 'CANCELED' ): ?>
                        <div id='ship_button' class='button mark_shipped'>
                            <div class='icon'></div>
                            <div class='label'>Mark Order Shipped</div>
                        </div>
                        <div id='refund_button' class='button refund' onclick='confirmRefund();'>
                            <div class='icon'></div>
                            <div class='label'>Refund</div>
                        </div>
                    <? endif; ?>
                </div>
            </div>
        </div>
        <div class='order_detail'>
            <div class='header'>
                <div class='quantity'>Qty</div>
                <div class='item'>Item</div>
                <div class='description wide'>Description</div>
                <div class='price'>Price</div>
            </div>
            <div class='order_list'>
                <?=$order_item_html;?>
            </div>
            <div class='bottom'>
                <div class='totals'>
                    <div class='total'>
                        <div id='shipping_amount' class='amount'>$<?=$shipping_amount;?></div>
                        <div class='label'>Shipping:</div>
                    </div>
                    <div class='total'>
                        <div id='total_amount' class='amount'>$<?=$charge_amount;?></div>
                        <div class='label'>Total:</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='disclaimer'>
            <div class='header'>MyArtistDNA</div>
            <div class='detail'>
                You can find the MyArtistDNA Store Terms of
                Sale and Sale Policies by clicking on
                <a href="#">Terms of Sale and Sale Policies</a>
            </div>
            <div class='spacer'></div>
            <div class='detail'>
                Answers to frequently asked questions regarding the
                MyArtistDNA Store can be found at
                <a href="http://www.myartistdna.com/support/store/">
                    http://www.myartistdna.com/support/store/
                </a>
            </div>
        </div>
    </div>

</section>
</section>


<? include_once 'footer.php'; ?>
