
<? include_once 'header.php'; ?>

    <section id="wrapper">
    <section id="content">
        <div id='order_list'>
            <div class='title'>Customer Orders</div>
            <div class='header'>
                <div class='order_num'>Order Num</div>
                <div class='name'>Customer Name</div>
                <div class='email'>Customer Email</div>
                <div class='status'>Order Status</div>
                <div class='amount'>Order Amount</div>
            </div>
            <div class='list'>
                <?=$order_list_html;?>
            </div>
        </div>
    </section>
    </section>

<? include_once 'footer.php'; ?>

