
<? include_once 'header.php'; ?>

    <section id="wrapper">
    <section id="content">
        <div id='order_list'>
            <div class='title'>Customer Orders</div>
            <div class='title_underbar'></div>
            <div class='header'>
                <div class='date header_item'>Date</div>
                <div class='order_num header_item'>Order #</div>
                <div class='name header_item'>Customer Name</div>
                <div class='email header_item'>Customer Email</div>
                <div class='status header_item'>Order Status</div>
                <div class='amount header_item'>Amount</div>
            </div>
            <div class='list'>
                <?=$order_list_html;?>
            </div>
        </div>
    </section>
    </section>

<? include_once 'footer.php'; ?>

