

<div id='message_popup' class='popup_wrapper'>
    <div id="popup">
        <div class='top_bar'>
            <h2>Upload Status</h2>
            <button onclick='closePopup();'>CLOSE</button>
        </div>
        
        <div class='top_blue_bar'></div>
        <div class='top_sep'></div>
                
        <div id='uploading' class='status_container'>
            <div class='status'>Uploading content&hellip;</div>
            <div class='upload_bar'>
                <div id='upload_progress_bar' class='upload_progress_bar'></div>
                <div class='upload_label'>Uploading&hellip;</div>
                <div class='percent'><span id='upload_percent'>0</span>%</div>
            </div>
            <div class='dismiss'>
                You can close this window, the upload will continue in the background.
            </div>
        </div>
        <div id='processing' class='status_container'>
            <div class='status'>Processing upload.  This may take a while...</div>
            <div class='spinner'>
                <img src='/images/ajax-loader-white.gif'/>
            </div>
        </div>
        <div id='dismissable_processing' class='status_container'>
            <div class='status'>Processing upload.  This may take a while...</div>
            <div class='spinner'>
                <img src='/images/ajax-loader-white.gif'/>
            </div>
            <div class='dismiss'>
            You can close this window, the upload will continue in the background.
            </div>
        </div>
        <div id='progress' class='status_container'>
            <div class='status'>Updating record&hellip;</div>
            <div class='spinner'>
                <img src='/images/ajax-loader-white.gif'/>
            </div>
        </div>
        <div id='success' class='status_container'>
            <div class='status'>Update Success</div>
            <div class='social_success facebook'>Facebook Update Sent</div>
            <div class='social_success twitter'>Tweet Sent</div>
            <div class='submit_container'>
                <button class='submit' onclick='closePopup();'>DONE</button>
            </div>
        </div>
        <div id='failure' class='status_container'>
            <div class='status'>Update Failed</div>
            <div class='submit_container'>
                <button class='submit' onclick='closePopup();'>DONE</button>
            </div>
        </div>

        <div class='bottom_sep'></div>
        <div class='bottom_blue_bar'></div>
    </div>
</div>
