<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>MYARTISTDNA</title>

<!-- Stylesheet from old site -->
  <link rel="stylesheet" href="/includes/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/includes/style.css" type="text/css" />
  <!-- Your Custom Stylesheet -->
  <link rel="stylesheet" href="/includes/css/custom.css" type="text/css" />
<!-- Stylesheet from old site END -->

<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href="css/stats.css" rel="stylesheet" type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>

<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->

</head>
<body>
<section id="bgtopbar">
<section id="topbar">
<p>Logged in as <a href="#"><?php echo $_SESSION['sess_userName']; ?></a> | <a href="/logout.php">Logout</a></p>
</section>
</section>
<section id="headerinner">
<header>
<h1><a href="#"><img src="images/MYARTISTDNA.png" alt="MYARTISTDNA"></a></h1>
<nav>
<ul>
<?php 
    if( $_SESSION['sess_userType'] == 'SUPER_ADMIN' ) 
    {
        echo '<li class="nodivider"><a href="dashboard.php">DASHBOARD</a></li>';
    }
    else
    {
        $host = parse_url(trueSiteUrl(),PHP_URL_HOST);
        $host_explode = explode(".", $host);
        $artist_home_host = $_SESSION['sess_userURL'] . '.' . implode('.',array_slice($host_explode,1));
        //echo "<li class='active'><a href='/manage/artist_management.php?userId=".$_SESSION['sess_userId']."'>DASHBOARD</a></li>";
        echo "<li class='nodivider'>";
        echo "<a href='http://$artist_home_host'>VIEW MY SITE</a>";
        echo "</li>";
    }
    ?>
</ul>
</nav>
</header>
</section><!-- header -->
<!-- Page content -->
<div id="page">
<!-- Wrapper -->
<div class="wrapper">
<!-- Left column/section -->
<section class="column width6 first">					

				
				<div id="content">
					<div class="post">
                        <div class='messy'>
                            <h2 class="title"><a href="#">Analytics</a></h2>
                        
                            <h2>Total Player Views: <?=$total_player_views;?></h2>
                            
                            <h4>Page Views</h4>
                            
                                <div class="graph">
                                    <div style="height: 10px;">&nbsp;</div>
                                    <?=$pageList;?>
                                    <div class="clear"></div>
                                </div>
                                <div class="names">
                                    <?=$pageNames;?>
                                    <div class="clear"></div>
                                </div>
                                
                            <h4>Song Plays</h4>
                            
                            <?=$songListHtml;?>
                        </div>
                        
                        <div id='stats'>
                        
                            <div class='graph_title'>Song Plays</div>
                            
                            <?=$song_plays_html;?>
                        
                            <div class='graph_title'>Video Plays</div>
                            
                            <?=$video_plays_html;?>
                        </div>

                        <div class='messy'>
                            <h4>Love</h4>
                            
                            <div class="lovehate">
                                <?=$lovehate;?>
                                <div class="clear"></div>
                            </div>
                        </div>

					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				
				
				
				<div id="sidebar">

				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
                
</section>
</div>
<!-- End of Wrapper -->
</div>
<!-- End of Page content -->

<?php
	include('footer.php');
?>

