<? include_once 'header.php'; ?>

<section id="wrapper">
    <section id="content">

        <div id='stats'>
            <div class='page_title'>Analytics</div>
            <div class='total_views'>Total Media Views: <?=$total_player_views;?></div>
        
            <? if( $song_plays_html ): ?>
                <div class='graph_title'>Tab Views</div>
                <?=$tab_views_html;?>
            <? endif; ?>
        
            <? if( $song_plays_html ): ?>
                <div class='graph_title'>Song Plays</div>
                <?=$song_plays_html;?>
            <? endif; ?>
        
            <? if( $video_plays_html ): ?>
                <div class='graph_title'>Video Plays</div>
                <?=$video_plays_html;?>
            <? endif; ?>

            <? if( $photo_views_html ): ?>
                <div class='graph_title'>Photo Views</div>
                <?=$photo_views_html;?>
            <? endif; ?>
            
            <? if( $song_loves_html ): ?>
                <div class='graph_title'>Song Loves</div>
                <?=$song_loves_html;?>
            <? endif; ?>
        
            <? if( $video_loves_html ): ?>
                <div class='graph_title'>Video Loves</div>
                <?=$video_loves_html;?>
            <? endif; ?>

            <? if( $photo_loves_html ): ?>
                <div class='graph_title'>Photo Loves</div>
                <?=$photo_loves_html;?>
            <? endif; ?>
        </div>

    </section>
</section>

<? include_once 'footer.php'; ?>
