

#artist_invoice {
    display: none;
    width: 951px;
    margin: 0 auto;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}

#artist_invoice .main_title {
    padding-top: 28px;
    color: #687480;
    font-size: 30px;
    font-family: "Teletex Light",Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
#artist_invoice .main_title_underbar {
    margin-top: 12px;
    margin-bottom: 19px;
    height: 11px;
    width: 100%;
    background: #e2e2e2 url("/images/cart_under_texture.png") repeat-x;
}

#artist_invoice .receipt {
    height: 155px;
    background-color: white;
}

#artist_invoice .receipt .header {
    width: 100%;
    height: 50px;
    font-size: 0;
    color: white;
    background: #144c4d url('/images/receipt_header_texture.png') repeat-x;
    text-transform: uppercase;
}

#artist_invoice .receipt .header .left {
    float: left;
    padding-top: 18px;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
}
#artist_invoice .receipt .header .right {
    float: right;
    padding-top: 18px;
    padding-right: 25px;
    font-size: 20px;
    text-align: center;
}
#artist_invoice .receipt .address {
    float: left;
    width: 385px;
    height: 90px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #d9d9d9;
}
#artist_invoice .receipt .address .line {
    padding-top: 2px;
    color: #5a6774;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#artist_invoice .receipt .address .line.paid_to {
    padding-bottom: 7px;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
#artist_invoice .receipt .order_number {
    float: left;
    width: 525px;
    height: 100px;
    padding-top: 15px;
}
#artist_invoice .receipt .order_number .item {
    padding-top: 5px;
    padding-left: 24px;
    padding-right: 24px;
    color: #144c4d;
    font-size: 15px;
}
#artist_invoice .receipt .order_status {
    float: left;
    width: 407px;
    height: 105px;
}
#artist_invoice .receipt .order_status .title {
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    color: #144c4d;
    font-size: 15px;
    font-weight: bold;
}
#artist_invoice .receipt .order_status .tracking {
    padding-top: 6px;
    padding-left: 24px;
    padding-right: 24px;
    color: #5a6774;
    font-size: 12px;
}
#artist_invoice .receipt .edit_order {
    float: left;
    width: 359px;
    height: 105px;
}
#artist_invoice .receipt .edit_order .title {
    padding-left: 27px;
    padding-top: 18px;
    height: 32px;
    color: #1e5354;
    font-size: 14px;
}
#artist_invoice .receipt .edit_order .title .bold {
    font-size: 16px;
    font-style: bold;
}
#artist_invoice .receipt .edit_order .buttons {
    padding-left: 28px;
    padding-top: 10px;
}
#artist_invoice .receipt .edit_order .buttons .button {
    float: left;
    margin-right: 35px;
    width: 100px;
    height: 25px;
    cursor: pointer;
}
#artist_invoice .receipt .edit_order .button .icon {
    float: left;
    width: 25px;
    height: 25px;
    background: #1b5f60;
}
#artist_invoice .receipt .edit_order .button .label {
    float: left;
    width: 75px;
    height: 18px;
    padding-top: 7px;
    background: #144c4d;
    color: white;
    font-size: 13px;
    text-align: center;
}
#artist_invoice .receipt .edit_order .button.mark_shipped {
    width: 160px;
}
#artist_invoice .receipt .edit_order .button.mark_shipped .label {
    width: 135px;
}
#artist_invoice .receipt .edit_order .button.refund {
    
}

#artist_invoice .order_detail {
    margin-top: 18px;
    background-color: white;
}

#artist_invoice  .order_detail .header {
    height: 46px;
    font-size: 0;
    color: white;
    background: #2c9495 url('/images/cart_header_texture.png') repeat-x;
    text-transform: uppercase;
}

#artist_invoice  .order_detail .header .header_item {
    display: inline-block;
    padding-top: 19px;
    text-align: center;
    font-size: 14px;
}
#artist_invoice  .order_detail .order_id {
    width: 175px;
}
#artist_invoice  .order_detail .order_date {
    width: 375px;
}
#artist_invoice  .order_detail .order_total {
    width: 198px;
}
#artist_invoice  .order_detail .order_artist_payment {
    width: 198px;
}
#artist_invoice  .order_detail .order_list .item .order_artist_payment {
    border-right: none;    
}

#artist_invoice .order_list .item {
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    font-size: 0;
}
#artist_invoice .order_list .item.odd {
    background: whitesmoke;
}

#artist_invoice .order_list .item .quantity {
    display: inline-block;
    padding-top: 29px;
    width: 67px;
    height: 50px;
    border-right: 1px solid #d3d3d3;
    vertical-align: top;
    color: #3a3a3a;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
}
#artist_invoice .order_list .item .item_col {
    display: inline-block;
    padding-top: 17px;
    height: 33px;
    color: #222;
    font-size: 20px;
    text-align: center;
    border-right: 1px solid #d3d3d3;
    vertical-align: top;
}

#artist_invoice .order_detail .bottom {
    padding-top: 25px;
    width: 100%;
    height: 80px;
    background-color: white;
}
#artist_invoice .order_detail .bottom .back_to_site {
    float: left;
    margin-left: 22px;
    margin-top: 18px;
    width: 100px;
    height: 25px;
    font-size: 0;
}
#artist_invoice .order_detail .bottom .back_to_site .icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #383838;
    vertical-align: top;
}
#artist_invoice .order_detail .bottom .back_to_site .label {
    display: inline-block;
    height: 18px;
    width: 75px;
    padding-top: 7px;
    background: #1e2126;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}
#artist_invoice .order_detail .bottom .totals {
    float: right;
    width: 50%;
    height: 80px;
}
#artist_invoice .order_detail .bottom .totals .total {
    height: 29px;
    padding-top: 6px;
    width: 100%;
}
#artist_invoice .order_detail .bottom .totals .total .label {
    float: right;
    width: 130px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-align: right;
}
#artist_invoice .order_detail .bottom .totals .total .amount {
    float: right;
    width: 115px;
    padding-right: 50px;
    color: #2c9495;
    font-size: 19px;
    font-weight: bold;
    text-align: right;
}

#artist_invoice .disclaimer {
    padding-bottom: 18px;
}
#artist_invoice .disclaimer .header {
    padding-top: 20px;
    color: black;
    font-size: 14px;
    
}
#artist_invoice .disclaimer .detail {
    padding-top: 0px;
    color: #787878;
    font-size: 13px;
}
#artist_invoice .disclaimer .detail a {
    color: black;
    text-decoration: none;
}

/***********************************************************************/
/***********************************************************************/

