

#order {
    padding-bottom: 200px;
}


#order .title {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 18px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: bold;
}

#order .order_number {
    padding-top: 10px;
    padding-bottom: 5px;
    color: black;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .status {
    padding-bottom: 15px;
    color: black;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;    
}
#order .ship_date {
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}

#order .header {
    font-size: 0;
    padding-bottom: 10px;
    color: black;
    white-space: nowrap;
}

#order .header .description {
    display: inline-block;
    padding-left: 50px;
    width: 500px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .header .price {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: right;
}
#order .header .quantity {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

#order .hsep {
    height: 1px;
    width: 750px;
    background-color: #888;
}

#order .item_list .item {
    font-size: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    white-space: nowrap;
}

#order .item_list .item .num {
    display: inline-block;
    width: 50px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}
#order .item_list .item .description {
    display: inline-block;
    width: 500px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .item_list .item .price {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: right;
}
#order .item_list .item .quantity {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

#order .total_lines {
    padding-top: 15px;
    width: 750px;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .total_lines .total {
    padding-bottom: 7px;
    text-align: right;
}
#order .total_lines .total .amount {
    display: inline-block;
    padding-left: 5px;
    width: 80px;
    text-align: left;
}

#order .shipping .address {
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .shipping {
    padding-bottom: 20px;
}

#order .edit_shipping {
    padding-top: 20px;
    padding-bottom: 20px;
}

#order .edit_shipping .input_line {
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}

#order .edit_shipping .tracking input {
    width: 200px;
}

#order button {
    min-width: 180px;
    padding-right: 20px;
    padding-left: 20px;
    height: 40px;
    color: #51C3C4;
    border: 0 none;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: black;
    cursor: pointer;
}

#order .refund {
    padding-bottom: 20px;
}



/************************************************/
/************************************************/
/************************************************/
/************************************************/


#edit_order {
    width: 951px;
    margin: 0 auto;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}

#edit_order .main_title {
    padding-top: 28px;
    color: #687480;
    font-size: 30px;
    font-family: "Teletex Light",Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
#edit_order .main_title_underbar {
    margin-top: 12px;
    margin-bottom: 19px;
    height: 11px;
    width: 100%;
    background: #e2e2e2 url("/images/cart_under_texture.png") repeat-x;
}

#edit_order .receipt {
    height: 155px;
    background-color: white;
}

#edit_order .receipt .header {
    width: 100%;
    height: 50px;
    font-size: 0;
    color: white;
    background: #144c4d url('/images/receipt_header_texture.png') repeat-x;
    text-transform: uppercase;
}

#edit_order .receipt .header .left {
    float: left;
    padding-top: 18px;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
}
#edit_order .receipt .header .right {
    float: right;
    padding-top: 18px;
    padding-right: 25px;
    font-size: 20px;
    text-align: center;
}
#edit_order .receipt .address {
    float: left;
    width: 260px;
    height: 90px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #d9d9d9;
}
#edit_order .receipt .address .line {
    padding-top: 2px;
    color: #5a6774;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#edit_order .receipt .order_number {
    float: left;
    width: 249px;
    height: 105px;
    border-right: 1px solid #d9d9d9;
}
#edit_order .receipt .order_number .title {
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    color: #144c4d;
    font-size: 14px;
    font-weight: bold;
}
#edit_order .receipt .order_number .detail {
    padding-top: 6px;
    padding-left: 24px;
    padding-right: 24px;
    color: #5a6774;
    font-size: 12px;
}
#edit_order .receipt .order_status {
    float: left;
    width: 407px;
    height: 105px;
}
#edit_order .receipt .order_status .title {
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    color: #144c4d;
    font-size: 15px;
    font-weight: bold;
}
#edit_order .receipt .order_status .tracking {
    padding-top: 6px;
    padding-left: 24px;
    padding-right: 24px;
    color: #5a6774;
    font-size: 12px;
}
#edit_order .receipt .edit_order {
    float: left;
    width: 400px;
    height: 105px;
}
#edit_order .receipt .edit_order .title {
    padding-left: 27px;
    padding-top: 18px;
    height: 32px;
    color: #1e5354;
    font-size: 14px;
}
#edit_order .receipt .edit_order .title .bold {
    font-size: 16px;
    font-style: bold;
}
#edit_order .receipt .edit_order .buttons {
    padding-left: 28px;
    padding-top: 10px;
}
#edit_order .receipt .edit_order .buttons .button {
    float: left;
    margin-right: 35px;
    width: 100px;
    height: 25px;
    cursor: pointer;
}
#edit_order .receipt .edit_order .button .icon {
    float: left;
    width: 25px;
    height: 25px;
    background: #1b5f60;
}
#edit_order .receipt .edit_order .button .label {
    float: left;
    width: 75px;
    height: 18px;
    padding-top: 7px;
    background: #144c4d;
    color: white;
    font-size: 13px;
    text-align: center;
}
#edit_order .receipt .edit_order .button.mark_shipped {
    width: 160px;
}
#edit_order .receipt .edit_order .button.mark_shipped .label {
    width: 135px;
}
#edit_order .receipt .edit_order .button.refund {
    
}

#edit_order .order_detail {
    margin-top: 18px;
    background-color: white;
}

#edit_order  .order_detail .header {
    height: 46px;
    font-size: 0;
    color: white;
    background: #2c9495 url('/images/cart_header_texture.png') repeat-x;
    text-transform: uppercase;
}

#edit_order  .order_detail .header .quantity {
    display: inline-block;
    padding-top: 19px;
    width: 68px;
    text-align: center;
    font-size: 14px;
}
#edit_order  .order_detail .header .item {
    display: inline-block;
    padding-top: 19px;
    width: 88px;
    text-align: center;
    font-size: 14px;
}
#edit_order  .order_detail .header .description {
    display: inline-block;
    padding-top: 19px;
    padding-left: 20px;
    width: 500px;
    font-size: 14px;
}
#edit_order  .order_detail .header .description.wide {
    width: 643px;
}
#edit_order  .order_detail .header .price {
    display: inline-block;
    padding-top: 19px;
    width: 132px;
    text-align: center;
    font-size: 14px;
}


#edit_order .order_list .item {
    height: 79px;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    font-size: 0;
}

#edit_order .order_list .item .quantity {
    display: inline-block;
    padding-top: 29px;
    width: 67px;
    height: 50px;
    border-right: 1px solid #d3d3d3;
    vertical-align: top;
    color: #3a3a3a;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
}
#edit_order .order_list .item .image {
    display: inline-block;
    width: 87px;
    height: 79px;
    border-right: 1px solid #d3d3d3;
    vertical-align: top;
}
#edit_order .order_list .item .image .image_holder {
    margin-top: 15px;
    margin-left: 20px;
    height: 45px;
    width: 45px;
    padding: 2px;
    border: 1px solid #cacaca;
    border-radius: 2px;
}
#edit_order .order_list .item .image .image_holder img {
    height: 45px;
    width: 45px;
}
#edit_order .order_list .item .name_description {
    display: inline-block;
    width: 519px;
    height: 79px;
    border-right: 1px solid #d3d3d3;
    vertical-align: top;
}
#edit_order .order_list .item .name_description.wide {
    width: 662px;
}
#edit_order .order_list .item .name_description .name {
    padding-top: 20px;
    padding-left: 19px;
    padding-right: 19px;
    color: #222;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#edit_order .order_list .item .name_description .description {
    padding-top: 2px;
    padding-left: 19px;
    padding-right: 19px;
    color: #666;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#edit_order .order_list .item .price {
    display: inline-block;
    padding-top: 30px;
    height: 49px;
    width: 132px;
    color: #2c9495;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
}
#edit_order .order_list .item .action {
    display: inline-block;
    height: 79px;
    width: 143px;
    vertical-align: top;
}
#edit_order .order_list .item .action .download_button {
    margin-left: 22px;
    margin-top: 28px;
    width: 100px;
    height: 25px;
    font-size: 0;
}
#edit_order .order_list .item .action .download_button .icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #383838;
    vertical-align: top;
}
#edit_order .order_list .item .action .download_button .label {
    display: inline-block;
    height: 18px;
    width: 75px;
    padding-top: 7px;
    background: #1e2126;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}

#edit_order .order_detail .bottom {
    padding-top: 25px;
    width: 100%;
    height: 80px;
    background-color: white;
}
#edit_order .order_detail .bottom .back_to_site {
    float: left;
    margin-left: 22px;
    margin-top: 18px;
    width: 100px;
    height: 25px;
    font-size: 0;
}
#edit_order .order_detail .bottom .back_to_site .icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #383838;
    vertical-align: top;
}
#edit_order .order_detail .bottom .back_to_site .label {
    display: inline-block;
    height: 18px;
    width: 75px;
    padding-top: 7px;
    background: #1e2126;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}
#edit_order .order_detail .bottom .totals {
    float: right;
    width: 50%;
    height: 80px;
}
#edit_order .order_detail .bottom .totals .total {
    height: 29px;
    padding-top: 6px;
    width: 100%;
}
#edit_order .order_detail .bottom .totals .total .label {
    float: right;
    width: 130px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-align: right;
}
#edit_order .order_detail .bottom .totals .total .amount {
    float: right;
    width: 115px;
    padding-right: 50px;
    color: #2c9495;
    font-size: 19px;
    font-weight: bold;
    text-align: right;
}

#edit_order .disclaimer {
    padding-bottom: 18px;
}
#edit_order .disclaimer .header {
    padding-top: 20px;
    color: black;
    font-size: 14px;
    
}
#edit_order .disclaimer .detail {
    padding-top: 0px;
    color: #787878;
    font-size: 13px;
}
#edit_order .disclaimer .detail a {
    color: black;
    text-decoration: none;
}




