
/* For Web Analytics */

body {
    background-color: white;
}

#stats {
    width: 970px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background: #EEE;
}

#stats .page_title {
    color: #329ECC;
    font-size: 20px;
    font-family: "Teletex Light", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
}

#stats .total_views {
    padding-top: 18px;
    padding-bottom: 18px;
    color: #353A3F;
    font-size: 30px;
    font-family: "Teletex Light", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

#stats .graph_title {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #474248;
    font-size: 28px;
    font-family: "Neuzeit Grotesk", Helvetica, Arial, sans-serif;
}

#stats .graph_row {
    display: inline-block;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 120px;
    background-color: white;
    font-size: 0;
    white-space: nowrap;
}

#stats .graph_row .item {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 120px;
}
#stats .graph_row .item .number {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    color: black;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    z-index: 1;
}
#stats .graph_row .item .bar_holder {
    position: relative;
    height: 100px;
}
#stats .graph_row .item .bar_holder .bar {
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 20px;
    background-color: #c9d9e1;
}
#stats .graph_row.yellow .item .bar_holder .bar
{
    background-color: #ebf2af;
}

#stats .graph_row .item .line {
    height: 2px;
    background-color: black;
}
#stats .graph_row .item .name {
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    height: 18px;
    color: black;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
