/* BASIC RESET */
* {margin: 0px; padding: 0px; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}
ul,ol { list-style: none; }


/* CUSTOM FONTS */
@font-face { font-family: 'BebasNeueRegular'; src: url("fonts/bebasneue-webfont.eot"); src: local("BebasNeueRegular"), url("fonts/bebasneue-webfont.woff") format("woff"), url("fonts/bebasneue-webfont.ttf") format("truetype"), url("fonts/bebasneue-webfont.svg#webfontTRIx6ZGq") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HattoriHanzoLightItalic'; src: url('fonts/hattori_hanzo_italic-webfont.eot#') format('embedded-opentype'), url('fonts/hattori_hanzo_italic-webfont.woff') format('woff'), url('fonts/hattori_hanzo_italic-webfont.ttf') format('truetype'), url('fonts/hattori_hanzo_italic-webfont.svg#webfontcNsGe3Rz') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HattoriHanzoLight'; src: url('fonts/hattori_hanzo-webfont.eot#') format('embedded-opentype'), url('fonts/hattori_hanzo-webfont.woff') format('woff'), url('fonts/hattori_hanzo-webfont.ttf') format('truetype'), url('fonts/hattori_hanzo-webfont.svg#webfontbrBDfpL8') format('svg'); font-weight: normal; font-style: normal; }


/* HTML ELEMENTS */
body { background: #fff; font-size: 12px; color: #000; font-family: arial; }
p { line-height: 18px; margin-bottom: 12px;}
a { text-decoration: none; color: #333; }
h1, h2, h3 { font-family: 'BebasNeueRegular'; font-weight: 100; margin-bottom: 10px;}
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }


/* STANDARD ELEMENTS */
.clear { clear: both; }
.topspace { height: 1000px; clear: both; float: none; display: block; width: 100%; }
#image { background-repeat: no-repeat; background-position: center top; width: 300px; height: 200px; overflow: hidden; margin: 60px auto 20px auto; z-index: -2; }


/* PAGE */
.anchor { display: block; width: 100px; height: 1px; text-indent: -9999px; }
.space { width: 100%; height: 100px; }
.page, .comments { position: relative; z-index: 22; padding: 10px; margin: 10px auto; width: 270px; margin: 10px auto; background-image: url('images/bg.png'); }
.page h1, .comments h1 { color: #fff; }
.page p, .comments p { color: #ccc; font-weight: bold; font-size: 14px; }
.aClose { cursor: pointer; z-index: 46; position: relative; float: right; padding: 0px; width: 45px; height: 45px; margin: 0px 15px 0px 0px; background: url('images/close.png') 0px 0px no-repeat; }
.image { width: 600px; margin-bottom: 15px; }
.video { display: block; padding: 15px 0px; width: 600px; }
.pageload { margin: 0px auto; padding: 25px; width: 16px; height: 11px; }


/* Close the pages */
.aClose { display: none; }
.comments { display: none; }
.page { display: none; }
#image { display: none; }
/* Close the pages */





/* NAVIGATION */
#navigation { background-color: #000; margin: 15px; width: auto; padding: 5px 10px; }
#navigation ul { list-style: none; }
#navigation ul li { padding: 0px; margin: 0px 5px; float: left; }
#navigation ul li a { padding: 5px; font-size: 24px; font-family: 'BebasNeueRegular'; letter-spacing: -1px; text-transform: uppercase; color: #fff; text-decoration: none; display: block; }
#navigation ul li a:hover { color: #ccc; }


/* CONTROLS */
ul { padding: 0px; margin: 0px; }
ul li { padding: 0px; margin: 0px; }
ul li a { padding: 5px; font-size: 20px; font-family: 'BebasNeueRegular'; color: #fff; text-decoration: none; display: block; float: left; }
ul li a:hover { color: #ccc; }
.jp-current-time { z-index: 12; position: fixed; top: 1px; left: 5px; color: #333; font-size: 10px; }
.jp-duration { z-index: 12; position: fixed; top: 1px; left: 40px; color: #333; font-size: 10px; }
.slash { z-index: 12; position: fixed; top: 1px; left: 34px; color: #333; font-size: 10px; }
.jp-previous { padding: 0px; margin: -50px 0px 0px 0px; width: 30px; height: 100px; top: 50%; left: -1px; background: url('images/previous.png') center center no-repeat; position: fixed; text-indent: -9999px; }
.jp-next { padding: 0px; margin: -50px 0px 0px -28px; width: 30px; height: 100px; top: 50%; left: 100%; background: url('images/next.png') center center no-repeat; position: fixed; display: block; text-indent: -9999px; }
div.jp-progress { position: fixed; overflow: hidden; top: 50%; left: 50%; display: block; width:122px; height:16px; background: #eee; z-index: 4; }
div.jp-progress { top:0px; left:0px; width:100%; height:16px; }
div.jp-progress div.jp-seek-bar { background: #777; width:0px; height:100%; cursor: pointer; }
div.jp-progress div.jp-play-bar { background: #ccc; width:0px; height:100%; }
div.jp-progress div.jp-seeking-bg { background: #990000; }
a.jp-play { position: fixed; top: 27px; left: 10px; z-index: 9; width: 13px; height: 15px; display: block; text-indent: -9999px; overflow: hidden; background: #000 url('images/play.jpg') center center no-repeat; }
a.jp-pause { position: fixed; top: 27px; left: 10px; z-index: 9; width: 13px; height: 15px; display: block; text-indent: -9999px; overflow: hidden; background: #000 url('images/pause.jpg') center center no-repeat; }
a.jp-stop { position: fixed; top: 27px; left: 35px; z-index: 9; width: 13px; height: 15px; display: block; text-indent: -9999px; overflow: hidden; background: #000 url('images/stop.jpg') center center no-repeat; }


/* FACEBOOK COMMENTS */
div#fb-root { width: 575px; background: #eee; border: 1px solid #888; padding: 10px; display: block; }


/* Playlist */
div.jp-playlist { z-index: 22; background-color:#000; margin: 10px auto; padding: 0px; width: 292px; border: 1px solid #000; }
div.jp-playlist p#playTitle { cursor: pointer; color: #000; background: #fff; padding: 5px 12px 5px 5px; font-family: 'BebasNeueRegular'; font-size: 18px; margin: 0px 0px 0px 0px; }
div.jp-playlist ul { list-style-type:none; margin:0; padding:0px; font-size: 20px; }
div.jp-type-single div.jp-playlist li { padding: 0px !important; }
div.jp-playlist-player div.jp-playlist li { padding: 0px 10px 0px 0px !important; border-bottom: 1px solid #333; }
div.jp-playlist-player div.jp-playlist li.jp-playlist-last { padding: 0px 10px 0px 0px !important; border-bottom:none; }
div.jp-playlist-player div.jp-playlist a { color: #555 !important; text-decoration: none; }
div.jp-playlist-player div.jp-playlist a:hover { color:#fff !important; }
div.jp-playlist-player div.jp-playlist a.jp-playlist-current { color:#FF0000 !important; }
div.current-track { position: fixed; top: 1px; left: 75px; z-index: 12; font-size: 10px; font-weight: bold; color: #333; }

/* Loader */
div#loader { position: fixed; top: 50%; left: 50%; margin: -16px -16px 0px 0px; width: 32px; height: 32px; z-index: -3; }


/* footer */
div.footer { z-index: 2; margin: 10px auto; width: 100%; height: 37px; background: url('images/bg.png'); }
div.footer div { font-family: arial; color: #fff; font-size: 12px; padding: 11px; }


/* LOGO */
div#logo { position: fixed; top: 28px; right: 0; color: #fff; z-index: 8; font-family: 'BebasNeueRegular'; text-align: right; font-size: 20px; text-shadow: 0px 0px 5px #000; padding-right: 10px; }
div#logo img { width: 200px; }




/* Get Social */
div#getsocial { margin: 10px auto; height: 20px; padding: 5px; background-image: url('images/bg.png'); }
a.facebook { margin: 0px 5px; filter:alpha(opacity=60); opacity:0.6; display: block; float: left; width: 20px; height: 20px; text-indent: -9999px; background: url('images/facebookicon.png') 0 0 no-repeat; }
a.facebook:hover { filter:alpha(opacity=100); opacity:1.0; }
a.twitter { margin: 0px 5px; filter:alpha(opacity=60); opacity:0.6; display: block; float: left; width: 20px; height: 20px; text-indent: -9999px; background: url('images/twittericon.png') 0 0 no-repeat; }
a.twitter:hover { filter:alpha(opacity=100); opacity:1.0; }
a.www { margin: 0px 5px; filter:alpha(opacity=60); opacity:0.6; display: block; float: left; width: 20px; height: 20px; text-indent: -9999px; background: url('images/webicon.png') 0 0 no-repeat; }
a.www:hover { filter:alpha(opacity=100); opacity:1.0; }


a.download { margin: 8px 0px 0px 8px; filter:alpha(opacity=60); opacity:0.6; display: block; width: 15px; height: 15px; text-indent: -9999px; background: url('images/download.png') 0 0 no-repeat; }
a.download:hover { filter:alpha(opacity=100); opacity:1.0; }





div.facebookstream { z-index: 0; width: 292px; padding: 15px; background-image: url('images/bg.png'); margin: 10px auto; }
div.twitterstream { z-index: 0; width: 292px; padding: 15px; background-image: url('images/bg.png'); margin: 10px auto; }
div.facebookstreamhide h3, div.facebookstreamshow h3, div.twitterstreamhide h3, div.twitterstreamshow h3  { color: #fff !important; cursor: pointer; }

div#black { background: #000; height: 60px; position: fixed; top: 0px; left: 0px; width: 100%; z-index: 0; }



a.vtip span { display: none; text-indent: 0; width: 200px; position: absolute; margin: -25px 0px 0px -25px; border: 3px solid #fff; color: #fff; }
a.vtip:hover span { display: block; }
.jp-previous span { padding: 36px 10px 0px 10px !important; width: 165px !important; border: 0 !important; height: 62px !important; margin: -21px 0px 0px 29px !important; background-image: url('images/bg.png') !important; }
.jp-next span { text-align: right !important; padding: 36px 10px 0px 10px !important; width: 165px !important; border: 0 !important; height: 62px !important; margin: -21px 0px 0px -184px !important; background-image: url('images/bg.png') !important; }



.vote { width: 12px; height: 13px; cursor: pointer; margin: 0px 5px 0px 5px; text-indent: -9999px; background-image: url('images/vote3.png'); background-repeat: no-repeat; float: left; }
.yay { background-position: 0px 0px; }
.nay { background-position: -13px 0px !important; }



#results { position: fixed; top: 50%; left: 50%; margin: -100px 0px 0px -100px; width: 200px; height: auto; background: #b8d771; border: 2px solid #4f6817; color: #000; font-size: 18px; padding: 15px; display: none; }

