

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('Neuzeit-Grotesk.eot');
    src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuzeit Grotesk Light';
    src: url('Neuzeit-Grotesk-Light.eot');
    src: local('Neuzeit-Grotesk-Light'), url('Neuzeit-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teletex Light';
    src: url('Teletex_Light.eot');
    src: local('Teletex_Light'), url('Teletex_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('Lucida Grande.eot');
    src: local('Lucida Grande'), url('Lucida Grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html { 
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#body_wrap {
    min-height: 100%;
}

#main_content {
    overflow:auto;
	padding-bottom: 186px;
    background-color: #f5f5f5;
}

#header {
    background: black;
}
#header .top_bar {
    height: 39px;
}
#header .mad_bar {
    height: 50px;
    width: 100%;
    background: url("/images/cart_top_texture.png") repeat-x;
    border-bottom: 1px solid #5f5f5f;
}
#header .mad_bar .logo {
    width: 940px;
    margin: 0 auto;
    height: 100%;
    background: url('/images/MYARTISTDNA.png') 0px 10px no-repeat;
}

#cart {
    width: 940px;
    margin: 0 auto;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}

#cart .title {
    padding-top: 28px;
    color: #687480;
    font-size: 30px;
    font-family: "Teletex Light",Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
#cart .title_underbar {
    margin-top: 12px;
    margin-bottom: 19px;
    height: 11px;
    width: 100%;
    background: #e2e2e2 url("/images/cart_under_texture.png") repeat-x;
}

#cart .header {
    width: 100%;
    height: 46px;
    font-size: 0;
    color: white;
    background: #2c9495 url('/images/cart_header_texture.png') repeat-x;
    text-transform: uppercase;
}

#cart .header .description {
    display: inline-block;
    padding-top: 19px;
    padding-left: 20px;
    width: 660px;
    font-size: 14px;
}
#cart .header .price {
    display: inline-block;
    padding-top: 19px;
    width: 130px;
    text-align: center;
    font-size: 14px;
}
#cart .header .quantity {
    display: inline-block;
    padding-top: 19px;
    width: 130px;
    text-align: center;
    font-size: 14px;
}

#cart .hsep {
    height: 1px;
    width: 700px;
    background-color: #888;
}
#cart #cart_list .cart_line {
    font-size: 0;
    width: 100%;
    height: 79px;
    border-bottom: 1px solid #dadada;
    background-color: white;
}
#cart #cart_list .cart_line.odd {
    background-color: #f2f2f2;
}
#cart #cart_list .cart_line .image_name_description {
    display: inline-block;
    width: 550px;
    height: 79px;
    vertical-align: top;
}
#cart #cart_list .cart_line .image_name_description.order_description {
    width: 680px;
}
#cart #cart_list .cart_line .image_name_description .image_holder {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 6px;
    vertical-align: top;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
}
#cart #cart_list .cart_line .image_name_description .image_holder img {
    width: 36px;
    height: 36px;
}
#cart #cart_list .cart_line .image_name_description .name_description {
    display: inline-block;
    padding-left: 17px;
    padding-top: 22px;
    width: 440px;
    vertical-align: top;    
}
#cart #cart_list .cart_line .image_name_description.order_description .name_description {
    width: 570px;
}
#cart #cart_list .cart_line .image_name_description .name_description .name {
    width: 100%;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
}
#cart #cart_list .cart_line .image_name_description .name_description .description {
    width: 100%;
    padding-top: 5px;
    color: #666;
    font-size: 14px;
    text-overflow: ellipsis;
}
#cart #cart_list .cart_line .delete {
    display: inline-block;
    width: 129px;
    height: 79px;
    border-left: 1px solid #dadada;
    vertical-align: top;
}
#cart #cart_list .cart_line .delete .button {
    margin-top: 27px;
    margin-left: 26px;
    width: 77px;
    height: 25px;
    background-color: #bcbcbc;
    cursor: pointer;
}
#cart #cart_list .cart_line .delete .button .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #d3d3d3 url("/images/cart_icons.png") -62px -10px no-repeat;
    vertical-align: top;
}
#cart #cart_list .cart_line .delete .button .label {
    display: inline-block;
    width: 52px;
    height: 18px;
    padding-top: 7px;
    font-size: 
    text-align: center;
    color: white;
    font-size: 12px;
    text-align: center;
    background: #bcbcbc;
    vertical-align: top;
}
#cart #cart_list .cart_line .delete .button:hover .icon {
    background: #bb1904 url("/images/cart_icons.png") -62px -10px no-repeat;
}
#cart #cart_list .cart_line .delete .button:hover .label {
    background: #74170a;
}

#cart #cart_list .cart_line .price {
    display: inline-block;
    width: 129px;
    padding-top: 32px;
    height: 47px;
    color: #2c9495;
    font-size: 19px;
    text-align: center;
    border-left: 1px solid #dadada;
}
#cart #cart_list .cart_line .order_quantity {
    display: inline-block;
    width: 129px;
    padding-top: 32px;
    height: 47px;
    color: black;
    font-size: 19px;
    text-align: center;
    border-left: 1px solid #dadada;
}
#cart #cart_list .cart_line .quantity_update {
    display: inline-block;
    width: 129px;
    height: 79px;
    text-align: center;
    border-left: 1px solid #dadada;
    vertical-align: top;
}
#cart #cart_list .cart_line .quantity_update .quantity {
    padding-top: 26px;
}
#cart #cart_list .cart_line .quantity_update .quantity input {
    font-size: 15px;
    width: 39px;
    height: 24px;
    text-align: center;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
}
#cart #cart_list .cart_line .quantity_update .update {
    display: none;
    padding-top: 5px;
    font-size: 12px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
#cart #cart_list .cart_line .quantity_update .update:hover {
    color: #09f;
}
#cart #cart_list .cart_line .quantity_update .saved {
    display: none;
    padding-top: 5px;
    font-size: 12px;
    color: green;
}
#cart .bottom {
    padding-top: 15px;
    width: 100%;
    height: 78px;
    background-color: white;
}
#cart .bottom .back_to_site {
    float: left;
    margin-left: 22px;
    margin-top: 18px;
    width: 100px;
    height: 25px;
    font-size: 0;
}
#cart .bottom .back_to_site .icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #383838 url("/images/cart_icons.png") -87px -10px no-repeat;
    vertical-align: top;
}
#cart .bottom .back_to_site .label {
    display: inline-block;
    height: 18px;
    width: 75px;
    padding-top: 7px;
    background: #1e2126;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}
#cart .bottom .totals {
    float: right;
    width: 50%;
    height: 80px;
}
#cart .bottom .totals .total {
    height: 29px;
    padding-top: 6px;
    width: 100%;
}
#cart .bottom .totals .total .label {
    float: right;
    width: 130px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-align: right;
} 

#cart .bottom .totals .total .amount {
    float: right;
    width: 115px;
    padding-right: 50px;
    color: #2c9495;
    font-size: 19px;
    font-weight: bold;
    text-align: right;
}

#cart_empty {
    display: none;
}
#cart .confirm_order {
    padding-right: 50px;
    padding-top: 25px;
    height: 65px;
    background-color: white;
}
#cart .confirm_order .confirm {
    float: right;
    width: 114px;
    height: 25px;
    font-size: 0;
    cursor: pointer;
}
#cart .confirm_order .confirm .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #588c5c url("/images/cart_icons.png") -113px -7px no-repeat;
    vertical-align: top;
}
#cart .confirm_order .confirm .label {
    display: inline-block;
    width: 89px;
    padding-top: 7px;
    height: 18px;
    color: white;
    font-size: 12px;
    text-align: center;
    background: #1f773a;
    vertical-align: top;
}

#cart .checkout {
    padding-right: 50px;
    padding-top: 25px;
    height: 65px;
    background-color: white;
}
#cart .checkout .paypal {
    float: right;
    width: 77px;
    height: 25px;
    font-size: 0;
    cursor: pointer;
}
#cart .checkout .paypal .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #59658b url("/images/cart_icons.png") -141px -10px no-repeat;
    vertical-align: top;
}
#cart .checkout .paypal .label {
    display: inline-block;
    width: 52px;
    padding-top: 7px;
    height: 18px;
    color: white;
    font-size: 12px;
    text-align: center;
    background: #1e3676;
    vertical-align: top;
}


#order {
    width: 951px;
    margin: 0 auto;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}

#order .main_title {
    padding-top: 28px;
    color: #687480;
    font-size: 30px;
    font-family: "Teletex Light",Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
#order .main_title_underbar {
    margin-top: 12px;
    margin-bottom: 19px;
    height: 11px;
    width: 100%;
    background: #e2e2e2 url("/images/cart_under_texture.png") repeat-x;
}

#order .receipt {
    height: 155px;
    background-color: white;
}

#order .receipt .header {
    width: 100%;
    height: 50px;
    font-size: 0;
    color: white;
    background: #144c4d url('/images/receipt_header_texture.png') repeat-x;
    text-transform: uppercase;
}

#order .receipt .header .left {
    float: left;
    padding-top: 18px;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
}
#order .receipt .header .right {
    float: right;
    padding-top: 18px;
    padding-right: 25px;
    font-size: 20px;
    text-align: center;
}
#order .receipt .address {
    float: left;
    width: 135px;
    height: 90px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #d9d9d9;
}
#order .receipt .address.wide {
    width: 250px;
}
#order .receipt .address .line {
    padding-top: 2px;
    color: #5a6774;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#order .receipt .order_number {
    float: left;
    width: 367px;
    height: 105px;
    border-right: 1px solid #d9d9d9;
}
#order .receipt .order_number .title {
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    color: #144c4d;
    font-size: 17px;
    font-weight: bold;
}
#order .receipt .order_number .detail {
    padding-top: 6px;
    padding-left: 24px;
    padding-right: 24px;
    color: #5a6774;
    font-size: 12px;
}
#order .receipt .order_status {
    float: left;
    width: 407px;
    height: 105px;
}
#order .receipt .order_status .title {
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    color: #144c4d;
    font-size: 15px;
    font-weight: bold;
}
#order .receipt .order_status .tracking {
    padding-top: 6px;
    padding-left: 24px;
    padding-right: 24px;
    color: #5a6774;
    font-size: 12px;
}
#order .receipt .account_password {
    float: left;
    width: 407px;
    height: 105px;
}
#order .receipt .account_password .detail {
    padding-left: 27px;
    padding-top: 18px;
    height: 42px;
}
#order .receipt .account_password .detail .icon {
    float: left;
    height: 32px;
    width: 32px;
    background: transparent url("/images/cart_icons.png") -7px -5px no-repeat;
}
#order .receipt .account_password .detail .label {
    float: left;
    width: 250px;
    height: 32px;
    color: #1e5354;
    font-size: 14px;
}
#order .receipt .account_password .input_holder {
    float: left;
    width: 240px;
    height: 30px;
    padding-left: 25px;
    padding-right: 15px;
}
#order .receipt .account_password .input_holder input {
    padding-left: 6px;
    height: 22px;
    width: 100%;
    font-size: 13px;
    text-align: left;
    border: 1px solid #e2e2e2;
}
#order .receipt .account_password .button_holder {
    float: left;
    width: 100px;
    height: 25px;
    margin-left: 12px;
}
#order .receipt .account_password .button_holder .icon {
    float: left;
    width: 25px;
    height: 25px;
    background: #1b5f60 url("/images/cart_icons.png") -192px -10px no-repeat;
}
#order .receipt .account_password .button_holder .label {
    float: left;
    width: 75px;
    height: 18px;
    padding-top: 7px;
    background: #144c4d;
    color: white;
    font-size: 14px;
    text-align: center;
}
#order .receipt .account_password .login_text {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 100px;
    color: #1e5354;
    font-size: 14px;
}
#order .receipt .account_password .login_button {
    margin-top: 14px;
    margin-left: 280px;
    width: 100px;
    height: 25px;
    cursor: pointer;
}
#order .receipt .account_password .login_button .icon {
    float: left;
    width: 25px;
    height: 25px;
    background: #1b5f60 url("/images/cart_icons.png") -192px -10px no-repeat;
}
#order .receipt .account_password .login_button .label {
    float: left;
    width: 75px;
    height: 18px;
    padding-top: 7px;
    background: #144c4d;
    color: white;
    font-size: 13px;
    text-align: center;
}
#order .receipt .account_password #save_password_success {
    display: none;
}


#order .order_detail {
    margin-top: 18px;
    background-color: white;
}

#order .order_detail .header {
    height: 46px;
    font-size: 0;
    color: white;
    background: #2c9495 url('/images/cart_header_texture.png') repeat-x;
    text-transform: uppercase;
}

#order .order_detail .header .quantity {
    display: inline-block;
    padding-top: 19px;
    width: 68px;
    text-align: center;
    font-size: 14px;
}
#order .order_detail .header .item {
    display: inline-block;
    padding-top: 19px;
    width: 88px;
    text-align: center;
    font-size: 14px;
}
#order .order_detail .header .description {
    display: inline-block;
    padding-top: 19px;
    padding-left: 20px;
    width: 500px;
    font-size: 14px;
}
#order .order_detail .header .description.wide {
    width: 643px;
}
#order .order_detail .header .price {
    display: inline-block;
    padding-top: 19px;
    width: 132px;
    text-align: center;
    font-size: 14px;
}

#order_list .item {
    height: 79px;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    font-size: 0;
}

#order_list .item .quantity {
    display: inline-block;
    padding-top: 29px;
    width: 67px;
    height: 50px;
    border-right: 1px solid #d3d3d3;
    vertical-align: top;
    color: #3a3a3a;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
}
#order_list .item .image {
    display: inline-block;
    width: 87px;
    height: 79px;
    border-right: 1px solid #d3d3d3;
    vertical-align: top;
}
#order_list .item .image .image_holder {
    margin-top: 15px;
    margin-left: 20px;
    height: 45px;
    width: 45px;
    padding: 2px;
    border: 1px solid #cacaca;
    border-radius: 2px;
}
#order_list .item .image .image_holder img {
    height: 45px;
    width: 45px;
}
#order_list .item .name_description {
    display: inline-block;
    width: 519px;
    height: 79px;
    border-right: 1px solid #d3d3d3;
    vertical-align: top;
}
#order_list .item .name_description.wide {
    width: 662px;
}
#order_list .item .name_description .name {
    padding-top: 20px;
    padding-left: 19px;
    padding-right: 19px;
    color: #222;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#order_list .item .name_description .description {
    padding-top: 2px;
    padding-left: 19px;
    padding-right: 19px;
    color: #666;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#order_list .item .price {
    display: inline-block;
    padding-top: 30px;
    height: 49px;
    width: 131px;
    color: #2c9495;
    font-size: 20px;
    text-align: center; 
    border-right: 1px solid #d3d3d3;
    vertical-align: top;
}
#order_list .item .action {
    display: inline-block;
    height: 79px;
    width: 143px;
    vertical-align: top;
}
#order_list .item .action .download_button {
    margin-left: 22px;
    margin-top: 28px;
    width: 100px;
    height: 25px;
    font-size: 0;
}
#order_list .item .action .download_button .icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #383838 url("/images/cart_icons.png") -167px -10px no-repeat;
    vertical-align: top;
}
#order_list .item .action .download_button .label {
    display: inline-block;
    height: 18px;
    width: 75px;
    padding-top: 7px;
    background: #1e2126;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}

#order .order_detail .bottom {
    padding-top: 25px;
    width: 100%;
    height: 80px;
    background-color: white;
}
#order .order_detail .bottom .back_to_site {
    float: left;
    margin-left: 22px;
    margin-top: 18px;
    width: 100px;
    height: 25px;
    font-size: 0;
}
#order .order_detail .bottom .back_to_site .icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #383838;
    vertical-align: top;
}
#order .order_detail .bottom .back_to_site .label {
    display: inline-block;
    height: 18px;
    width: 75px;
    padding-top: 7px;
    background: #1e2126;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}
#order .order_detail .bottom .totals {
    float: right;
    width: 50%;
    height: 80px;
}
#order .order_detail .bottom .totals .total {
    height: 29px;
    padding-top: 6px;
    width: 100%;
}
#order .order_detail .bottom .totals .total .label {
    float: right;
    width: 130px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-align: right;
} 
#order .order_detail .bottom .totals .total .amount {
    float: right;
    width: 115px;
    padding-right: 50px;
    color: #2c9495;
    font-size: 19px;
    font-weight: bold;
    text-align: right;
}

#order .disclaimer {
    padding-bottom: 18px;
}
#order .disclaimer .header {
    padding-top: 20px;
    color: black;
    font-size: 14px;
    
}
#order .disclaimer .detail {
    padding-top: 0px;
    color: #787878;
    font-size: 13px;
}
#order .disclaimer .detail a {
    color: black;
    text-decoration: none;
}



/*
 ----------------------------------------
 05. footer
 ----------------------------------------
 */

#footer { 
    position: relative;
    
    width:100%; 
    height:186px; 
    background:#0a0b0d; 
    
    margin-top: -186px;
    clear:both;
    
    font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif;
}
#footer .pad {
    height: 37px;
}
#footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#footer p {
    margin: 0;
    padding: 0;
}

#footer footer { width:940px; margin:0 auto; }

#footer footer p { float:right; font-size:12px; color:#FFFFFF; text-align:right}
#footer footer p a { color:#FFFFFF; text-decoration: none; }

#footer footer .list_head { font-size:14px; color:#f5f5f5; padding-bottom:10px; }
#footer footer aside { width:100px; float:left; }

#footer footer .benefits { width:110px; float:left; }

#footer footer aside ul { float:left; }
#footer footer aside ul li { font-size:12px; color:#4ecdc4; line-height:1.5em; }
#footer footer aside ul li a { color:#4ecdc4; text-decoration:none; }
#footer footer aside ul li a:hover { color:#4ecdc4; text-decoration:underline; }

#footer footer article { width:185px; float:left; }
#footer footer article ul li { width:185px; float:left; background:url(../images/dottedborder.gif) repeat-x bottom left; margin-bottom:3px; }
#footer footer article ul li.last {background:none; margin-bottom:0; }
#footer footer article ul li img { float:left; padding:3px 7px 7px 0; }
#footer footer article ul li a { font-size:12px; color:#4ecdc4; text-decoration:none; cursor: pointer; }
#footer footer article ul li a:hover { color:#4ecdc4; text-decoration:underline; }

#footer footer .logo { float:right; line-height:.5em; padding:0 0 43px 0; }




