

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('Neuzeit-Grotesk.eot');
    src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuzeit Grotesk Light';
    src: url('Neuzeit-Grotesk-Light.eot');
    src: local('Neuzeit-Grotesk-Light'), url('Neuzeit-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teletex Light';
    src: url('Teletex_Light.eot');
    src: local('Teletex_Light'), url('Teletex_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('Lucida Grande.eot');
    src: local('Lucida Grande'), url('Lucida Grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
}
#cart {
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}

#cart .title {
    color: black;
    font-size: 24px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: bold;
}

#cart .header {
    font-size: 0;
    padding-bottom: 10px;
    color: black;
}

#cart .header .description {
    display: inline-block;
    width: 500px;
    font-size: 14px;
}
#cart .header .price {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 14px;
}
#cart .header .quantity {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 14px;
}

#cart .hsep {
    height: 1px;
    width: 700px;
    background-color: #888;
}
#cart #cart_list .cart_line {
    font-size: 0;
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #888;
}
#cart #cart_list .cart_line .image_holder {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: top;
}
#cart #cart_list .cart_line .image_holder img {
    width: 100%;
    height: 100%;
}
#cart #cart_list .cart_line .description {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 380px;
    vertical-align: top;    
    font-size: 14px;
}
#cart #cart_list .cart_line .description .delete {
    padding-top: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
#cart #cart_list .cart_line .price {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 14px;
    text-align: right;
}
#cart #cart_list .cart_line .quantity_update {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 14px;
}
#cart #cart_list .cart_line .quantity_update .quantity input {
    width: 35px;
    text-align: center;
}
#cart #cart_list .cart_line .quantity_update .update {
    display: none;
}
#cart #cart_list .cart_line .quantity_update .saved {
    display: none;
}
#cart .total_lines {
    padding-top: 15px;
    width: 750px;
}
#cart .total_lines .total {
    padding-bottom: 7px;
    text-align: right;
}
#cart .total_lines .total .amount {
    display: inline-block;
    padding-left: 5px;
    width: 120px;
    text-align: left;
}
#cart_empty {
    display: none;
}
#cart .checkout {
    cursor: pointer;
}


#order {
    padding-left: 10px;
    padding-top: 30px;
}


#order .title {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 18px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: bold;
}

#order .order_number {
    padding-top: 10px;
    padding-bottom: 5px;
    color: black;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .status {
    padding-bottom: 15px;
    color: black;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;    
}

#order .header {
    font-size: 0;
    padding-bottom: 10px;
    color: black;
    white-space: nowrap;
}

#order .header .description {
    display: inline-block;
    padding-left: 50px;
    width: 500px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .header .price {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: right;
}
#order .header .quantity {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

#order .hsep {
    height: 1px;
    width: 750px;
    background-color: #888;
}

#order .item_list .item {
    font-size: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    white-space: nowrap;
}

#order .item_list .item .num {
    display: inline-block;
    width: 50px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}
#order .item_list .item .description {
    display: inline-block;
    width: 500px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .item_list .item .price {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: right;
}
#order .item_list .item .quantity {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

#order .total_lines {
    padding-top: 15px;
    width: 750px;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .total_lines .total {
    padding-bottom: 7px;
    text-align: right;
}
#order .total_lines .total .amount {
    display: inline-block;
    padding-left: 5px;
    width: 80px;
    text-align: left;
}

#order .shipping .address {
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}



