

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('Neuzeit-Grotesk.eot');
    src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuzeit Grotesk Light';
    src: url('Neuzeit-Grotesk-Light.eot');
    src: local('Neuzeit-Grotesk-Light'), url('Neuzeit-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teletex Light';
    src: url('Teletex_Light.eot');
    src: local('Teletex_Light'), url('Teletex_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('Lucida Grande.eot');
    src: local('Lucida Grande'), url('Lucida Grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html { 
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#body_wrap {
    min-height: 100%;
}

#main_content {
    overflow:auto;
	padding-bottom: 186px;
}

#header {
    background: black;
}
#header .top_bar {
    height: 39px;
}
#header .mad_bar {
    height: 50px;
    width: 100%;
    background: url("/images/cart_top_texture.png") repeat-x;
    border-bottom: 1px solid #5f5f5f;
}
#header .mad_bar .logo {
    width: 940px;
    margin: 0 auto;
    height: 100%;
    background: url('/images/MYARTISTDNA.png') 0px 10px no-repeat;
}

#cart {
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}

#cart .title {
    color: black;
    font-size: 24px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: bold;
}

#cart .header {
    font-size: 0;
    padding-bottom: 10px;
    color: black;
}

#cart .header .description {
    display: inline-block;
    width: 500px;
    font-size: 14px;
}
#cart .header .price {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 14px;
}
#cart .header .quantity {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 14px;
}

#cart .hsep {
    height: 1px;
    width: 700px;
    background-color: #888;
}
#cart #cart_list .cart_line {
    font-size: 0;
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #888;
}
#cart #cart_list .cart_line .image_holder {
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: top;
}
#cart #cart_list .cart_line .image_holder img {
    width: 100%;
    height: 100%;
}
#cart #cart_list .cart_line .description {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 380px;
    vertical-align: top;    
    font-size: 14px;
}
#cart #cart_list .cart_line .description .delete {
    padding-top: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
#cart #cart_list .cart_line .price {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 14px;
    text-align: right;
}
#cart #cart_list .cart_line .quantity_update {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 14px;
}
#cart #cart_list .cart_line .quantity_update .quantity input {
    width: 35px;
    text-align: center;
}
#cart #cart_list .cart_line .quantity_update .update {
    display: none;
}
#cart #cart_list .cart_line .quantity_update .saved {
    display: none;
}
#cart .bottom {
    padding-top: 15px;
    width: 750px;
}
#cart .bottom .total {
    padding-bottom: 7px;
    text-align: right;
}
#cart .bottom .total .amount {
    display: inline-block;
    padding-left: 5px;
    width: 120px;
    text-align: left;
}
#cart_empty {
    display: none;
}
#cart .checkout {
    cursor: pointer;
}


#order {
    padding-left: 10px;
    padding-top: 30px;
}


#order .title {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 18px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: bold;
}

#order .order_number {
    padding-top: 10px;
    padding-bottom: 5px;
    color: black;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .status {
    padding-bottom: 15px;
    color: black;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;    
}

#order .header {
    font-size: 0;
    padding-bottom: 10px;
    color: black;
    white-space: nowrap;
}

#order .header .description {
    display: inline-block;
    padding-left: 50px;
    width: 500px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .header .price {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: right;
}
#order .header .quantity {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

#order .hsep {
    height: 1px;
    width: 750px;
    background-color: #888;
}

#order .item_list .item {
    font-size: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    white-space: nowrap;
}

#order .item_list .item .num {
    display: inline-block;
    width: 50px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}
#order .item_list .item .description {
    display: inline-block;
    width: 500px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .item_list .item .price {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: right;
}
#order .item_list .item .quantity {
    display: inline-block;
    width: 100px;
    color: black;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

#order .total_lines {
    padding-top: 15px;
    width: 750px;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#order .total_lines .total {
    padding-bottom: 7px;
    text-align: right;
}
#order .total_lines .total .amount {
    display: inline-block;
    padding-left: 5px;
    width: 80px;
    text-align: left;
}

#order .shipping .address {
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}


/*
 ----------------------------------------
 05. footer
 ----------------------------------------
 */

#footer { 
    position: relative;
    
    width:100%; 
    height:186px; 
    background:#0a0b0d; 
    
    margin-top: -186px;
    clear:both;
    
    font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif;
}
#footer .pad {
    height: 37px;
}
#footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#footer p {
    margin: 0;
    padding: 0;
}

#footer footer { width:940px; margin:0 auto; }

#footer footer p { float:right; font-size:12px; color:#FFFFFF; text-align:right}
#footer footer p a { color:#FFFFFF; text-decoration: none; }

#footer footer .list_head { font-size:14px; color:#f5f5f5; padding-bottom:10px; }
#footer footer aside { width:100px; float:left; }

#footer footer .benefits { width:110px; float:left; }

#footer footer aside ul { float:left; }
#footer footer aside ul li { font-size:12px; color:#4ecdc4; line-height:1.5em; }
#footer footer aside ul li a { color:#4ecdc4; text-decoration:none; }
#footer footer aside ul li a:hover { color:#4ecdc4; text-decoration:underline; }

#footer footer article { width:185px; float:left; }
#footer footer article ul li { width:185px; float:left; background:url(../images/dottedborder.gif) repeat-x bottom left; margin-bottom:3px; }
#footer footer article ul li.last {background:none; margin-bottom:0; }
#footer footer article ul li img { float:left; padding:3px 7px 7px 0; }
#footer footer article ul li a { font-size:12px; color:#4ecdc4; text-decoration:none; cursor: pointer; }
#footer footer article ul li a:hover { color:#4ecdc4; text-decoration:underline; }

#footer footer .logo { float:right; line-height:.5em; padding:0 0 43px 0; }




