
@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('Neuzeit-Grotesk.eot');
    src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuzeit Grotesk Light';
    src: url('Neuzeit-Grotesk-Light.eot');
    src: local('Neuzeit-Grotesk-Light'), url('Neuzeit-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teletex Light';
    src: url('Teletex_Light.eot');
    src: local('Teletex_Light'), url('Teletex_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('Lucida Grande.eot');
    src: local('Lucida Grande'), url('Lucida Grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#body_wrap {
    min-height: 100%;
}

#main_content {
    overflow:auto;
	padding-bottom: 186px;
    background-color: #f5f5f5;
}

#header {
    background: black;
}
#header .top_bar {
    height: 39px;
}
#header .mad_bar {
    height: 50px;
    width: 100%;
    background: url("/images/cart_top_texture.png") repeat-x;
    border-bottom: 1px solid #5f5f5f;
}
#header .mad_bar .logo {
    width: 940px;
    margin: 0 auto;
    height: 100%;
    background: url('/images/MYARTISTDNA.png') 0px 10px no-repeat;
}

/*
 ----------------------------------------
 05. footer
 ----------------------------------------
 */

#footer {
    position: relative;
    
    width: 100%;
    height: 186px;
    background: #0a0b0d;
    
    margin-top: -186px;
    clear:both;
    
    font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif;
}
#footer .pad {
    height: 37px;
}
#footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#footer p {
    margin: 0;
    padding: 0;
}

#footer footer { width:940px; margin:0 auto; }

#footer footer p { float:right; font-size:12px; color:#FFFFFF; text-align:right}
#footer footer p a { color:#FFFFFF; text-decoration: none; }

#footer footer .list_head { font-size:14px; color:#f5f5f5; padding-bottom:10px; }
#footer footer aside { width:100px; float:left; }

#footer footer .benefits { width:110px; float:left; }

#footer footer aside ul { float:left; }
#footer footer aside ul li { font-size:12px; color:#4ecdc4; line-height:1.5em; }
#footer footer aside ul li a { color:#4ecdc4; text-decoration:none; }
#footer footer aside ul li a:hover { color:#4ecdc4; text-decoration:underline; }

#footer footer article { width:185px; float:left; }
#footer footer article ul li { width:185px; float:left; background:url("/images/dottedborder.gif") repeat-x bottom left; margin-bottom:3px; }
#footer footer article ul li.last {background:none; margin-bottom:0; }
#footer footer article ul li img { float:left; padding:3px 7px 7px 0; }
#footer footer article ul li a { font-size:12px; color:#4ecdc4; text-decoration:none; cursor: pointer; }
#footer footer article ul li a:hover { color:#4ecdc4; text-decoration:underline; }

#footer footer .logo { float:right; line-height:.5em; padding:0 0 43px 0; }


/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/


#fan_home {
    margin-top: 48px;
    margin-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 29px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    background: white;
}

#fan_home .main_title {
    color: #687480;
    font-size: 30px;
    font-family: "Teletex Light",Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
#fan_home .main_title_underbar {
    margin-top: 12px;
    margin-bottom: 19px;
    height: 11px;
    background: #e2e2e2 url("/images/cart_under_texture.png") repeat-x;
}

#fan_home .left {
    float: left;
    width: 654px;
}

#fan_home .right {
    float: right;
    width: 250px;
    overflow: hidden;
}

#fan_home .header {
    height: 44px;
    font-size: 0;
}
#fan_home .header .left {
    float: left;
    padding-left: 16px;
    padding-top: 13px;
    color: white;
    font-size: 18px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    text-transform: uppercase;
}
#fan_home .header .right {
    float: right;
    padding-right: 12px;
}

#fan_home .downloads {
    margin-bottom: 20px;
}
#fan_home .downloads .header {
    background: #5da6d4;
}
#fan_home .loved_art .header {
    background: #e3bf6b;
}
#fan_home .orders .header {
    background: #2c9495 url('/images/cart_header_texture.png') repeat-x;
}

