
@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('Neuzeit-Grotesk.eot');
    src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuzeit Grotesk Light';
    src: url('Neuzeit-Grotesk-Light.eot');
    src: local('Neuzeit-Grotesk-Light'), url('Neuzeit-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teletex Light';
    src: url('Teletex_Light.eot');
    src: local('Teletex_Light'), url('Teletex_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('Lucida Grande.eot');
    src: local('Lucida Grande'), url('Lucida Grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#body_wrap {
    min-height: 100%;
    background-color: #f5f5f5;
}

#main_content {
    overflow:auto;
	padding-bottom: 186px;
}

#header {
    background: black;
}
#header .top_bar {
    height: 39px;
}
#header .mad_bar {
    height: 50px;
    width: 100%;
    background: url("/images/cart_top_texture.png") repeat-x;
    border-bottom: 1px solid #5f5f5f;
}
#header .mad_bar .content {
    width: 940px;
    margin: 0 auto;
    height: 100%;
}
#header .mad_bar .content .logo {
    float: left;
    height: 100%;
    width: 160px;
    background: url('/images/MYARTISTDNA.png') 0px 10px no-repeat;
}
#header .mad_bar .content .login {
    float: right;
    padding-top: 18px;
    padding-right: 22px;
    color: #4ECDC4;
    font-size: 18px;
    font-family: "Neuzeit Grotesk", "Trebuchet MS", Arial, Helvetica, sans-serif;
    cursor: pointer;
}

/*
 ----------------------------------------
 05. footer
 ----------------------------------------
 */

#footer {
    position: relative;
    
    width: 100%;
    height: 186px;
    background: #0a0b0d;
    
    margin-top: -186px;
    clear:both;
    
    font-family:"Neuzeit Grotesk",Arial, Helvetica, sans-serif;
}
#footer .pad {
    height: 37px;
}
#footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#footer p {
    margin: 0;
    padding: 0;
}

#footer footer { width:940px; margin:0 auto; }

#footer footer p { float:right; font-size:12px; color:#FFFFFF; text-align:right}
#footer footer p a { color:#FFFFFF; text-decoration: none; }

#footer footer .list_head { font-size:14px; color:#f5f5f5; padding-bottom:10px; }
#footer footer aside { width:100px; float:left; }

#footer footer .benefits { width:110px; float:left; }

#footer footer aside ul { float:left; }
#footer footer aside ul li { font-size:12px; color:#4ecdc4; line-height:1.5em; }
#footer footer aside ul li a { color:#4ecdc4; text-decoration:none; }
#footer footer aside ul li a:hover { color:#4ecdc4; text-decoration:underline; }

#footer footer article { width:185px; float:left; }
#footer footer article ul li { width:185px; float:left; background:url("/images/dottedborder.gif") repeat-x bottom left; margin-bottom:3px; }
#footer footer article ul li.last {background:none; margin-bottom:0; }
#footer footer article ul li img { float:left; padding:3px 7px 7px 0; }
#footer footer article ul li a { font-size:12px; color:#4ecdc4; text-decoration:none; cursor: pointer; }
#footer footer article ul li a:hover { color:#4ecdc4; text-decoration:underline; }

#footer footer .logo { float:right; line-height:.5em; padding:0 0 43px 0; }


/*************************************************************/
/*************************************************************/
/*************************************************************/
/*************************************************************/

#fan_button_bar {
    padding-top: 12px;
    height: 36px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#fan_button_bar .change_pass_button {
    float: right;
    height: 25px;
    width: 133px;
    cursor: pointer;
}
#fan_button_bar .change_pass_button .icon {
    float: left;
    height: 25px;
    width: 25px;
    background: #383838 url("/images/cart_icons.png") -191px -10px no-repeat;
}
#fan_button_bar .change_pass_button .label {
    float: left;
    padding-top: 7px;
    height: 18px;
    width: 108px;
    color: white;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    text-align: center;
    background-color: #1d2224;
}

#fan_home {
    margin-top: 0px;
    margin-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 29px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    background: white;
}

#fan_home .main_title {
    color: #687480;
    font-size: 30px;
    font-family: "Teletex Light",Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
#fan_home .main_title_underbar {
    margin-top: 12px;
    margin-bottom: 19px;
    height: 11px;
    background: #e2e2e2 url("/images/cart_under_texture.png") repeat-x;
}

#fan_home .left {
    float: left;
    width: 654px;
}

#fan_home .right {
    float: right;
    width: 250px;
    overflow: hidden;
}

#fan_home .header {
    height: 44px;
    font-size: 0;
}
#fan_home .header .left_header {
    float: left;
    padding-left: 16px;
    padding-top: 14px;
    color: white;
    font-size: 20px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    text-transform: uppercase;
}
#fan_home .header .right_header {
    float: right;
    padding-right: 12px;
}

#fan_home .downloads {
    margin-bottom: 20px;
}
#fan_home .downloads .header {
    background: #5da6d4;
}
#fan_home .loved_art .header {
    background: #e3bf6b;
}
#fan_home .orders .header {
    background: #2c9495 url('/images/cart_header_texture.png') repeat-x;
}

#fan_home .downloads .file_list .file {
    height: 77px;
    font-size: 0;
    border-bottom: 1px solid #d6d6d6;
}
#fan_home .downloads .file_list .file.odd {
    background-color: #f2f2f2;
}
#fan_home .downloads .file .image {
    display: inline-block;
    vertical-align: top;
    height: 47px;
    width: 47px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    border-right: 1px solid #d6d6d6;
}
#fan_home .downloads .file .image img {
    padding: 3px;
    height: 39px;
    width: 39px;
    border: 1px solid #d2d1cf;
}
#fan_home .downloads .file .product_file {
    display: inline-block;
    vertical-align: top;
    height: 77px;
    width: 429px;
    border-right: 1px solid #d6d6d6;
}
#fan_home .downloads .file .product_name {
    padding-top: 20px;
    padding-left: 18px;
    color: black;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}
#fan_home .downloads .file .file_name {
    padding-top: 2px;
    padding-left: 18px;
    color: #666;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}

#fan_home .downloads .file .action {
    display: inline-block;
    vertical-align: top;
    height: 77px;
    width: 140px;
}
#fan_home .downloads .file .download_button {
    margin-top: 24px;
    margin-left: 20px;
    height: 25px;
    width: 100px;
    cursor: pointer;
}
#fan_home .downloads .file .download_button .icon {
    float: left;
    height: 25px;
    width: 25px;
    background: #5395be url("/images/cart_icons.png") -167px -10px no-repeat;
}
#fan_home .downloads .file .download_button .label {
    float: left;
    padding-top: 7px;
    height: 18px;
    width: 75px;
    color: white;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    text-align: center;
    background-color: #34759f;
}

#fan_home .orders .order_list .order_item {
    height: 77px;
    font-size: 0;
    border-bottom: 1px solid #d6d6d6;
}
#fan_home .orders .order_list .order_item.odd {
    background-color: #f2f2f2;
}
#fan_home .orders .order_item .logo {
    display: inline-block;
    vertical-align: top;
    height: 47px;
    width: 47px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    border-right: 1px solid #d6d6d6;
}
#fan_home .orders .order_item .logo img {
    padding: 3px;
    height: 39px;
    width: 39px;
    border: 1px solid #d2d1cf;
}
#fan_home .orders .order_item .description {
    display: inline-block;
    vertical-align: top;
    height: 77px;
    width: 429px;
    border-right: 1px solid #d6d6d6;
}
#fan_home .orders .order_item .description .artist {
    padding-top: 20px;
    padding-left: 18px;
    color: black;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}
#fan_home .orders .order_item .description .detail {
    padding-top: 2px;
    padding-left: 18px;
    color: #666;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}
#fan_home .orders .order_item .action {
    display: inline-block;
    vertical-align: top;
    height: 77px;
    width: 140px;
}
#fan_home .orders .order_item .status_button {
    margin-top: 24px;
    margin-left: 20px;
    height: 25px;
    width: 100px;
    cursor: pointer;
}
#fan_home .orders .order_item .status_button .icon {
    float: left;
    height: 25px;
    width: 25px;
    background: #35b0af url("/images/cart_icons.png") -36px -10px no-repeat;
}
#fan_home .orders .order_item .status_button .label {
    float: left;
    padding-top: 7px;
    height: 18px;
    width: 75px;
    color: white;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    text-align: center;
    background-color: #148788;
}

#fan_home .loved_art .love_list {
    height: 540px;
    overflow: hidden;
}
#fan_home .loved_art .love_item {
    height: 269px;
    background: white;
    border-bottom: 1px solid #d6d6d6;
}
#fan_home .loved_art .love_item.odd {
    background: #f2f2f2;
}
#fan_home .loved_art .love_item .image {
    width: 206px;
    height: 142px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
#fan_home .loved_art .love_item .image img {
    padding: 5px;
    width: 196px;
    height: 132px;
    border: 1px solid #d2d1cf;
}
#fan_home .loved_art .love_item .artist_name {
    padding-top: 12px;
    padding-left: 22px;
    height: 18px;
    color: black;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}
#fan_home .loved_art .love_item .item_name {
    padding-top: 2px;
    padding-left: 22px;
    height: 35px;
    color: #666;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}
#fan_home .loved_art .love_item .actions {
    padding-left: 22px;
    padding-right: 22px;
    height: 25px;
}
#fan_home .loved_art .love_item .actions .view_button {
    float: right;
    height: 25px;
    width: 100px;
    cursor: pointer;
}
#fan_home .loved_art .love_item .actions .view_button .icon {
    float: left;
    height: 25px;
    width: 25px;
    background: #d4ad55 url("/images/cart_icons.png") -88px -10px no-repeat;
}
#fan_home .loved_art .love_item .actions .view_button .label {
    float: left;
    padding-top: 7px;
    height: 18px;
    width: 75px;
    color: white;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    text-align: center;
    background-color: #a68338;
}
#fan_home .loved_art .right_header {
    margin-top: 12px;
    width: 44px;
    height: 19px;
}
#fan_home .loved_art .right_header .left_arrow {
    float: left;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    border-radius: 19px;
    background-color: white;
    cursor: pointer;
}
#fan_home .loved_art .right_header .left_arrow:hover {
    background-color: black;
}
#fan_home .loved_art .right_header .right_arrow {
    float: left;
    width: 19px;
    height: 19px;
    border-radius: 19px;
    background-color: white;
    cursor: pointer;
}
#fan_home .loved_art .right_header .right_arrow:hover {
    background-color: black;
}

/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/


#fan_login {
    position: relative;
    margin-top: 40px;
    margin-bottom: 49px;
    width: 937px;
    height: 1057px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    background: black;
}
#fan_login .whats_new {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 326px;
    height: 531px;
    background-color: #77828a;
}
#fan_login .editor_pick {
    position: absolute;
    top: 0px;
    left: 326px;
    width: 299px;
    height: 348px;
    background-color: #046e8f;
}
#fan_login .most_loved {
    position: absolute;
    top: 0px;
    left: 625px;
    width: 312px;
    height: 352px;
    background-color: #9a9791;
}
#fan_login .twitter_center {
    position: absolute;
    top: 178px;
    left: 326px;
    width: 299px;
    height: 349px;
    background-color: #2c2c2c;
}
#fan_login .tumblr {
    position: absolute;
    top: 178px;
    left: 625px;
    width: 312px;
    height: 524px;
    background-color: #0090ab;
}
#fan_login .store_item {
    position: absolute;
    top: 348px;
    left: 0px;
    height: 361px;
    width: 625px;
    background-color: #4d436b;
}
#fan_login .twitter_left {
    position: absolute;
    top: 527px;
    left: 0px;
    width: 307px;
    height: 353px;
    background-color: #2c2c2c;
}
#fan_login .center_pict {
    position: absolute;
    top: 527px;
    left: 389px;
    width: 236px;
    height: 277px;
    background-color: #d9dce2;
}
#fan_login .twitter_right {
    position: absolute;
    top: 527px;
    left: 625px;
    width: 312px;
    height: 355px;
    background-color: #2c2c2c;
}
#fan_login .events {
    position: absolute;
    top: 703px;
    left: 625px;
    width: 312px;
    height: 354px;
    background-color: #b70009;
}
#fan_login .play_song {
    position: absolute;
    top: 662px;
    left: 182px;
    width: 443px;
    height: 300px;
    background-color: #73e3f3;
}
#fan_login .play_song2 {
    position: absolute;
    top: 779px;
    left: 0px;
    width: 478px;
    height: 278px;
    background-color: #5a6b68;
}
#fan_login .mad_tv {
    position: absolute;
    top: 880px;
    left: 0px;
    width: 290px;
    height: 177px;
    background-color: #5d578b;
}
#fan_login .mad_fm {
    position: absolute;
    top: 880px;
    left: 302px;
    width: 323px;
    height: 177px;
    background-color: #246667;
}

/**************/
/**************/

#fan_login .whats_new .left_arrow {
    position: absolute;
    top: 200px;
    left: 11px;
    height: 30px;
    width: 30px;
    background-color: #3e6e7c;
    border-radius: 30px;
    cursor: pointer;
}
#fan_login .whats_new .left_arrow:hover {
    background-color: #50bbba;
}
#fan_login .whats_new .right_arrow {
    position: absolute;
    top: 200px;
    left: 287px;
    height: 30px;
    width: 30px;
    background-color: #3e6e7c;
    border-radius: 30px;
    cursor: pointer;
}
#fan_login .whats_new .right_arrow:hover {
    background-color: #50bbba;
}
#fan_login .whats_new .title {
    position: absolute;
    top: 169px;
    left: 40px;
    right: 40px;
    color: white;
    font-size: 32px;
    font-family: "Teletex Light",sans-serif;
    text-align: center;
}
#fan_login .whats_new .detail {
    position: absolute;
    top: 211px;
    left: 50px;
    right: 50px;
    color: white;
    font-size: 18px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    text-align: left;
}
#fan_login .whats_new .dots {
    position: absolute;
    top: 372px;
    left: 0px;
    right: 0px;
    height: 11px;
    text-align: center;
    font-size: 0;
}
#fan_login .whats_new .dots .dot {
    display: inline-block;
    margin-left: 2px;
    margin-right: 3px;
    height: 11px;
    width: 11px;
    border-radius: 11px;
    background-color: #2a6b78;
    cursor: pointer;
}
#fan_login .whats_new .dots .dot.active {
    background-color: #34e5f9;
}
#fan_login .whats_new .dots .dot:hover {
    background-color: #34e5f9;
}
#fan_login .most_loved .red_circle {
    position: absolute;
    top: 30px;
    left: 68px;
    width: 190px;
    height: 190px;
    border-radius: 190px;
    background-color: rgba(128, 11, 11, 0.73);
}
#fan_login .most_loved .title {
    position: absolute;
    top: 83px;
    left: 14px;
    right: 0px;
    color: white;
    font-size: 32px;
    font-family: "Teletex Light",sans-serif;
    text-align: center;
}
#fan_login .most_loved .media_title {
    position: absolute;
    top: 125px;
    left: 14px;
    right: 0px;
    color: white;
    font-size: 26px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    text-align: center;
}
#fan_login .most_loved .media_artist {
    position: absolute;
    top: 153px;
    left: 14px;
    right: 0px;
    color: white;
    font-size: 21px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    text-align: center;
}
#fan_login .most_loved .love_icon {
    position: absolute;
    top: 275px;
    right: 14px;
    height: 34px;
    width: 41px;
    background-color: #d31223;
}
#fan_login .events .title {
    position: absolute;
    top: 175px;
    left: 67px;
    color: white;
    font-size: 32px;
    font-family: "Teletex Light",sans-serif;
    text-align: center;
}
#fan_login .events .left_arrow {
    position: absolute;
    top: 232px;
    right: 14px;
    width: 32px;
    height: 42px;
    background-color: white;
    cursor: pointer;
}
#fan_login .events .right_arrow {
    position: absolute;
    top: 232px;
    left: 14px;
    width: 32px;
    height: 42px;
    background-color: white;
    cursor: pointer;
}
#fan_login .events .event_details {
    position: absolute;
    top: 229px;
    left: 67px;
    width: 188px;
}
#fan_login .events .event_details .name {
    color: white;
    font-size: 18px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}
#fan_login .events .event_details .date {
    color: white;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}
#fan_login .events .event_details .location {
    color: white;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}
#fan_login .mad_tv .artist {
    position: absolute;
    top: 132px;
    left: 53px;
    width: 160px;
    color: white;
    font-size: 16px;
    font-family: "Teletex Light",sans-serif;
    text-transform: uppercase;
    overflow: hidden;
}
#fan_login .mad_tv .title {
    position: absolute;
    top: 151px;
    left: 53px;
    width: 190px;
    color: white;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    overflow: hidden;
}
#fan_login .mad_tv .play {
    position: absolute;
    top: 132px;
    left: 17px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: white;
    cursor: pointer;
}
#fan_login .mad_fm .artist {
    position: absolute;
    top: 132px;
    left: 148px;
    width: 170px;
    color: white;
    font-size: 16px;
    font-family: "Teletex Light",sans-serif;
    text-transform: uppercase;
    overflow: hidden;
}
#fan_login .mad_fm .title {
    position: absolute;
    top: 151px;
    left: 148px;
    width: 170px;
    color: white;
    font-size: 15px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    overflow: hidden;
}
#fan_login .mad_fm .play {
    position: absolute;
    top: 132px;
    left: 112px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: white;
    cursor: pointer;
}
#fan_login .twitter_center .twitter_icon {
    position: absolute;
    top: 48px;
    right: 23px;
    width: 30px;
    height: 30px;
    background-color: #c6a237;
}
#fan_login .twitter_center .content {
    position: absolute;
    top: 140px;
    left: 117px;
    width: 170px;
    height: 95px;
}
#fan_login .twitter_box .content .title {
    color: white;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    word-wrap: break-word;
}
#fan_login .twitter_box .content .other {
    color: #bcbcbc;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    word-wrap: break-word;
}
#fan_login .twitter_box .content .other a {
    color: #d7de4e;
    text-decoration: none;
    cursor: pointer;
}
#fan_login .twitter_right_arrow .twitter_icon {
    position: absolute;
    top: 48px;
    left: 17px;
    width: 30px;
    height: 30px;
    background-color: #c6a237;
}
#fan_login .twitter_right_arrow .content {
    position: absolute;
    top: 132px;
    left: 34px;
    width: 168px;
    height: 100px;
}

/***************************************************************************/
/***************************************************************************/
/***************************************************************************/

#popup_mask {
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #080808;
    opacity: 0.65;
    z-index: 99;
}

.popup_wrapper {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 100;
}
.popup_wrapper .popup {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 460px;
    background: white;
}

.popup .top_bar {
    height: 50px;
    background: url("/images/bg_login01.gif") repeat-x;
}

.popup .top_bar .title {
    float: left;
    padding-left: 20px;
    padding-top: 17px;
    color: #ddd;
    font-size: 22px;
    font-family: "Teletex Light",sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
.popup .top_bar .close {
    float: right;
    height: 100%;
    width: 45px;
    padding-left: 12px;
    padding-top: 18px;
    color: #51C3C4;
    font-size: 11px;
    font-family: sans-serif;
    background: url("/images/bg_close.gif") no-repeat;
    cursor: pointer;
    border: 0;
}
.popup .spacer {
    height: 20px;
}

.popup .description {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    color: #666;
    font-size: 13px;
    font-family: sans-serif;
}
.popup .center_input_container {
    padding-left: 75px;
    padding-right: 60px;
}
.popup .label {
    padding-bottom: 4px;
    color: #666;
    font-size: 13px;
    font-family: sans-serif;
}
.popup .center_input_container input {
    width: 304px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 2px;
    height: 27px;
    color: #222;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}

.popup .input_container {
    padding-left: 20px;
    padding-bottom: 10px;
}
.popup .input_container .label {
    color: #222;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}
.popup .input_container input {
    width: 304px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 2px;
    height: 27px;
    color: #222;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}

.popup .submit_container {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 30px;
    text-align: center;
}
.popup .submit_container .submit {
    height: 32px;
    padding-left: 30px;
    padding-right: 30px;
    color: #51C3C4;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: black;
    text-transform: uppercase;
    border: 0 none;
    cursor: pointer;
}
