
@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('Neuzeit-Grotesk.eot');
    src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuzeit Grotesk Light';
    src: url('Neuzeit-Grotesk-Light.eot');
    src: local('Neuzeit-Grotesk-Light'), url('Neuzeit-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teletex Light';
    src: url('Teletex_Light.eot');
    src: local('Teletex_Light'), url('Teletex_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('Lucida Grande.eot');
    src: local('Lucida Grande'), url('Lucida Grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#body_wrap {
    min-height: 100%;
    background-color: #f5f5f5;
}

#main_content {
    position: relative;
    min-height: 680px;
    overflow:auto;
}

#footer {
    position: relative;
    width: 100%;
    height: 48px;
    margin-top: -48px;
    clear:both;
}


body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.full_screen_bg { 
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0px;
}
.full_screen_bg .pad {
    display: inline-block;
    width: 0px;
    height: 100%;
    background: black;
}
.full_screen_bg .image_holder {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    vertical-align: top;
}
.full_screen_bg .image_holder div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.full_top_bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background: url("/images/home_top_bg.png") repeat;
    font-family: "Neuzeit Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.full_top_bar .left {
    float: left;
    margin-left: 87px;
    height: 48px;
    font-size: 0px;
    text-align: left;
}
.full_top_bar .left a {
    display: inline-block;
    margin-top: 20px;
    color: white;
    font-size: 11px;
    text-decoration: none;
    vertical-align: top;
}
.full_top_bar .left a:hover {
    text-decoration: underline;
}
.full_top_bar .left .slash {
    display: inline-block;
    width: 18px;
    padding-top: 20px;
    color: white;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
}

.full_top_bar .right {
    float: right;
    margin-right: 19px;
    height: 48px;
    font-size: 0px;
}

.full_top_bar .right .trap_button {
    position: relative;
    display: inline-block;
    margin-left: -43px;
    width: 188px;
    height: 50px;
    background: url("/images/grey_trap.png") no-repeat;
    text-align: center;
    vertical-align: top;
}
.full_top_bar .right .network .icon {
    display: inline-block;
    margin-top: 18px;
    padding-right: 8px;
    height: 13px;
    width: 29px;
    background: url("/images/mad_logo_29_13.png") no-repeat;
    vertical-align: top;
}
.full_top_bar .right .search .icon {
    display: inline-block;
    margin-top: 18px;
    padding-right: 10px;
    height: 13px;
    width: 12px;
    background: url("/images/icon_search_12_13.png") no-repeat;
    vertical-align: top;
}
.full_top_bar .right .trap_button .label {
    display: inline-block;
    margin-top: 20px;
    color: white;
    font-size: 11px;
    text-decoration: none;
    vertical-align: top;
}
.full_top_bar .right .trap_button .child {
    display: none;
    position: absolute;
    top: 41px;
    right: 41px;
    height: 41px;
    width: 178px;
    background: url("/images/home_sub_menu_trap.png") no-repeat;
}
.full_top_bar .right .trap_button:hover .child {
    display: block;
}
.full_top_bar .right .trap_button .first.child {
    top: 50px;
    right: 50px;
}
.full_top_bar .right .trap_button .child a {
    display: inline-block;
    padding-top: 16px;
    height: 23px;
    width: 178px;
    color: white;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.bottom_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    font-family: "Neuzeit Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("/images/home_bottom_bg.png") repeat-x;
}
.bottom_bar .left {
    float: left;
    margin-left: 87px;
    height: 48px;
    font-size: 0px;
    text-align: left;
}
.bottom_bar .left .copyright {
    display: inline-block;
    margin-top: 20px;
    color: white;
    font-size: 11px;
    vertical-align: top;
}
.bottom_bar .left .slashes {
    display: inline-block;
    color: white;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 11px;
    vertical-align: top;
}
.bottom_bar .left a {
    display: inline-block;
    margin-top: 20px;
    color: #ff9734;
    font-size: 11px;
    text-decoration: none;
    vertical-align: top;
    cursor: pointer;
}
.bottom_bar .left a:hover {
    text-decoration: underline;
}
.bottom_bar .right {
    float: right;
    margin-right: 80px;
    height: 48px;
    text-align: right;
}
.bottom_bar .right a.facebook {
    display: inline-block;
    margin-top: 14px;
    margin-right: 3px;
    height: 25px;
    width: 22px;
    background: url("/images/home_fb.png") no-repeat;
    vertical-align: top;
}
.bottom_bar .right .slashes {
    display: inline-block;
    margin-top: 20px;
    color: white;
    font-size: 11px;
    vertical-align: top;
}
.bottom_bar .right a.twitter {
    display: inline-block;
    margin-top: 14px;
    margin-left: 8px;
    height: 25px;
    width: 30px;
    background: url("/images/home_tw.png") no-repeat;
    vertical-align: top;
}

.body_mad_logo {
    position: absolute;
    top: 125px;
    left: 87px;
    height: 22px;
    width: 126px;
    background: url("/images/mad_logo_white_126_22.png") no-repeat;
}
.body_title {
    position: absolute;
    top: 186px;
    left: 87px;
    width: 415px;
    color: white;
    font-size: 35px;
    font-family: "Teletex Light", Helvetica, sans-serif;
    letter-spacing: -2px;
}
.body_under_title_line {
    position: absolute;
    top: 307px;
    left: 87px;
    font-size: 0px;
}
.body_under_title_line .text {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding-bottom: 2px;
    color: white;
    font-size: 16px;
    font-family: "Teletex Light", Helvetica, sans-serif;
    font-style: italic;
    border-bottom: 2px solid #00f1fd;
    vertical-align: top;
}
.body_under_title_line a {
    display: inline-block;
    padding-top: 16px;
    height: 25px;
    width: 135px;
    color: black;
    font-size: 11px;
    font-family: "Teletex Light", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    background: url("/images/home_aqua_button.png") no-repeat;
    cursor: pointer;
    vertical-align: top;
}
.body_buttons {
    position: absolute;
    top: 364px;
    left: 67px;
    font-size: 0px;
}
.body_buttons a {
    display: inline-block;
    margin-right: -24px;
    padding-top: 16px;
    height: 26px;
    width: 149px;
    color: white;
    font-size: 11px;
    font-family: "Teletex Light", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    background: url("/images/home_purple_button.png") no-repeat;
    cursor: pointer;
    vertical-align: top;
}
.body_content_info {
    position: absolute;
    top: 446px;
    left: 67px;
    padding-top: 14px;
    height: 24px;
    width: 366px;
    color: white;
    font-size: 11px;
    font-family: "Teletex Light", Helvetica, sans-serif;
    text-align: center;
    background: url("/images/home_artist_info_bg.png") no-repeat;
    vertical-align: top;
}
.body_content_info .logo {
    display: inline-block;
    margin-top: -2px;
    margin-right: 13px;
    width: 25px;
    height: 14px;
    background: url("/images/mad_logo_25_14.png") no-repeat;
    vertical-align: top;
}
.body_content_info a {
    color: white;
    text-decoration: none;
    vertical-align: top;
}
.body_content_info a:hover {
    text-decoration: underline;
}
.body_content_info .slashes {
    display: inline-block;
    letter-spacing: -2px;
    margin-right: 2px;
}
