
@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('/fonts/neuzeit-grotesk.eot');
    src: url('/fonts/neuzeit-grotesk-bold.svg#neuzeitgrobold') format('svg'),
    url('/fonts/neuzeit-grotesk.eot?#iefix') format('embedded-opentype'),
    url('/fonts/neuzeit-grotesk.woff') format('woff'),
    url('/fonts/neuzeit-grotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agency Regular';
    src: url('/fonts/agencyr.eot');
    src: url('/fonts/agencyr.eot?#iefix') format('embedded-opentype'),
    url('/fonts/agencyr.woff') format('woff'),
    url('/fonts/agencyr.ttf') format('truetype'),
    url('/fonts/agencyr.svg#AGENCYR') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Agency Bold';
    src: url('/fonts/agencyb.eot');
    src: url('/fonts/agencyb.eot?#iefix') format('embedded-opentype'),
    url('/fonts/agencyb.woff') format('woff'),
    url('/fonts/agencyb.ttf') format('truetype'),
    url('/fonts/agencyb.svg#AGENCYB') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

#video_bg {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 1;
}
#overlay .top_bar {
    height: 30px;
    background: rgba(0,0,0,0.5);
}
#overlay .top_bar .title {
    float: left;
    padding-top: 1px;
    padding-left: 10px;
    color: white;
    font-size: 22px;
    font-family: 'Agency Regular', Helvetica, sans-serif;
}
#overlay .top_bar .right {
    float: right;
    padding-right: 10px;
}
#overlay .top_bar .right .show_feed,
#overlay .top_bar .right .hide_feed {
    display: inline-block;
    padding-top: 1px;
    width: 120px;
    color: white;
    font-size: 22px;
    font-family: 'Agency Regular', Helvetica, sans-serif;
    vertical-align: top;
    cursor: pointer;
}
#overlay .top_bar .right .tw_button {
    display: inline-block;
    padding-top: 4px;
    width: 150px;
    vertical-align: top;
}
#overlay .top_bar .right .mad_fb_button {
    display: inline-block;
    padding-top: 4px;
    width: 100px;
    height: 22px;
    vertical-align: top;
    overflow: hidden;
}
#overlay .shop_button {
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;
    color: white;
    font-size: 50px;
    font-family: 'Agency Regular', Helvetica, sans-serif;
    cursor: pointer;
}
#mad_tw_timeline {
    display: none;
    position: fixed;
    top: 100px;
    bottom: 40px;
    right: 20px;
    width: 300px;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;

    background: rgba(48,48,48,0.8);
    border-radius: 9px;
    padding-left: 8px;
    padding-right: 8px;
}

/**************************************************/
/*****************  STORE  ************************/
/**************************************************/

.content_tab .close {
    position: absolute;
    top: 18px;
    right: 32px;
    height: 0px;
    white-space: nowrap;
    text-align: right;
    cursor: pointer;
    z-index: 2;
}
.content_tab .close .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    background: transparent url('/images/player_icons.png') no-repeat -206px -51px;
}
.no_touch .content_tab .close:hover .icon {
    background: transparent url('/images/player_icons.png') no-repeat -171px -51px;
}
.content_tab .close .name {
    display: inline-block;
    padding-top: 8px;
    height: 20px;
    color: white;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    vertical-align: top;
}
.no_touch .content_tab .close:hover .name {
    color: #888;
}

#store_tab {
    display: none;
    position: fixed;
    top: 48px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
}

#store_tab .store_inner {
    position: relative;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    max-height: 620px;
    background-color: rgba(48,48,48,0.8);
    border-radius: 8px;
}
#store_tab .right {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0px;
    bottom: 0px;
    overflow: auto;
}

#store_tab .product_list {
    max-width: 745px;
    padding-bottom: 30px;
}
#store_tab .product_list .store_title {
    padding-top: 27px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: normal;
}
#store_tab .product_list .item {
    display: inline-block;
    width: 204px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    vertical-align: top;
}
.no_touch #store_tab .product_list .item:hover {
    background-color: rgba(80,80,80,0.6);
}
#store_tab .product_list .item .image {
    width: 198px;
    height: 198px;
    padding: 3px;
    background-color: white;
}
#store_tab .product_list .item .image img {
    height: 100%;
    width: 100%;
}
#store_tab .product_list .item .name_price {
    position: relative;
    width: 100%;
    height: 34px;
    margin-top: 10px;
}
#store_tab .product_list .item .name_price .name {
    padding-right: 5px;
    height: 35px;
    color: white;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    word-wrap: normal;
    overflow: hidden;
}
#store_tab .product_list .item .name_price .price {
    float: right;
    padding-top: 8px;
    padding-right: 9px;
    padding-left: 9px;
    height: 20px;
    color: white;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    background-color: #c80012;
    border-radius: 3px;
}
#store_tab .product_info {
    display: none;
    max-width: 675px;
    padding-bottom: 30px;
}
#store_tab .product_info .store_title {
    padding-top: 27px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: normal;
}
#store_tab .product_info .pi_right {
    float: right;
    width: 290px;
    padding-left: 20px;
}
#store_tab .product_info .pi_right .name {
    padding-top: 12px;
    padding-bottom: 14px;
    color: white;
    font-size: 25px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: normal;
}
#store_tab .product_info .pi_right .hsep {
    width: 100%;
    height: 1px;
    background-color: #555;
    background-color: rgba(255,255,255,0.3);
}
#store_tab .product_info .pi_right .price_share {
    padding-top: 14px;
    height: 42px;
    padding-bottom: 13px;
}
#store_tab .product_info .pi_right .price_share .dollar_price {
    float: left;
    padding-top: 2px;
    height: 41px;
    color: white;
    font-size: 40px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#store_tab .product_info .pi_right .price_share .dollar_price .dollar {
    vertical-align: super;
    font-size: 25px;
}
#store_tab .product_info .pi_right .price_share .dollar_price.free .dollar {
    display: none;
}
#store_tab .product_info .pi_right .price_share .share {
    display: none;
    position: relative;
    float: right;
    width: 109px;
    height: 43px;
    background-color: #004965;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
#store_tab .product_info .pi_right .price_share .share .icon {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 45px;
    background-color: #006084;
}
#store_tab .product_info .pi_right .price_share .share .text {
    position: absolute;
    top: 0px;
    left: 45px;
    right: 0px;
    padding-top: 16px;
    color: white;
    font-size: 13px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}
#store_tab .product_info .pi_right .price_share .sizes {
    float: right;
    padding-top: 10px;
}

#store_tab .product_info .pi_right .buy {
    margin-top: 22px;
    width: 175px;
    padding-top: 13px;
    height: 30px;
    background-color: #ba0218;
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    border-radius: 3px;
    cursor: pointer;
}
#store_tab .product_info .pi_right .buy_free {
    display: none;
    margin-top: 22px;
    width: 175px;
    padding-top: 13px;
    height: 30px;
    background-color: #ba0218;
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    border-radius: 3px;
    cursor: pointer;
}
#store_tab .product_info .pi_right .description {
    padding-top: 22px;
    color: white;
    font-size: 13px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    white-space: normal;
}

#store_tab .product_info .pi_left {
    overflow: hidden;
}
#store_tab .product_info .pi_left .img_holder {
    padding: 3px 6px 3px 3px;
}
#store_tab .product_info .pi_left .img_holder img {
    width: 100%;
    padding: 3px;
    background-color: white;
}
#store_tab .buy_result {
    display: none;
    max-width: 675px;
    padding-bottom: 30px;
}
#store_tab .buy_result .store_title {
    padding-top: 27px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: normal;
}
#store_tab .buy_result .name {
    padding-top: 12px;
    padding-bottom: 14px;
    color: white;
    font-size: 25px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: normal;
}
#store_tab .buy_result .hsep {
    width: 100%;
    height: 1px;
    background-color: #555;
    background-color: rgba(255,255,255,0.3);
}
#store_tab .buy_result .text {
    padding-top: 12px;
    padding-bottom: 14px;
    color: white;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    white-space: normal;
}
#store_tab .buy_result .button {
    display: inline-block;
    margin-top: 22px;
    margin-right: 20px;
    padding-top: 13px;
    height: 30px;
    width: 175px;
    background-color: #ba0218;
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    border-radius: 3px;
    cursor: pointer;
}
#store_tab .buy_result .return_to_store {
    background-color: #006084;
}
#store_tab .buy_result .view_cart {
    background-color: #600084;
}
#store_tab .buy_result .checkout {
    background-color: #ba0218;
}
#store_tab .buy_result .fan_signup {
    background-color: #006084;
}
#store_tab .buy_result .fan_login {
    background-color: #600084;
}
#store_tab .buy_result .go_to_fan {
    background-color: #600084;
}

#iphone_top {
    display: none;
}
#iphone_show_twitter_button {
    display: none;
}
#iphone_show_store_button {
    display: none;
}
#iphone_pad {
    display: none;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    
    #video_bg {
        position: absolute;
        top: 40px;
        z-index: -1;
    }
    #overlay .top_bar .title {
        padding-left: 70px;
    }
    #overlay .shop_button {
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
        padding-top: 1px;
        padding-left: 5px;
        color: #3cc;
        font-size: 22px;
        font-family: 'Agency Regular', Helvetica, sans-serif;
        cursor: pointer;
    }
    #overlay .top_bar .right .show_feed,
    #overlay .top_bar .right .hide_feed {
        color: #3cc;
    }
    #video_bg.min_video {
        top: 600px
        height: 100px;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    
    #overlay .top_bar .title {
        padding-top: 3px;
        font-size: 18px;
    }
    #overlay .shop_button {
        padding-top: 3px;
        font-size: 18px;
    }
    #overlay .top_bar .right .show_feed,
    #overlay .top_bar .right .hide_feed {
        padding-top: 3px;
        font-size: 18px;
        width: 90px;
    }
    #video_bg.min_video {
        top: 600px
        height: 100px;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    
    #overlay {
        display: none;
    }
    
    #iphone_top {
        display: block;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #iphone_top .title {
        color: white;
        font-size: 20px;
        font-family: 'Agency Regular', Helvetica, sans-serif;
        text-align: center;
    }
    #video_bg {
        position: static;
        height: 175px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    #mad_tw_timeline {
        position: static;
        height: 359px;
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    #iphone_show_twitter_button {
        display: block;
    }
    #iphone_show_store_button {
        display: block;
    }
    #iphone_pad {
        display: block;
        height: 10px;
    }

    .button_container {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .button_container .button {
        display: inline-block;
        width: 288px;
        height: 37px;
        color: white;
        font-size: 30px;
        font-family: 'Agency Regular', Helvetica, sans-serif;
        text-align: center;
        border: 4px solid white;
        border-radius: 4px;
        background: #008b8a;
        box-shadow: inset 0px 3px 35px #066;
        cursor: pointer;
    }

    #mad_tw_timeline {
        margin-top: 8px;
    }
    
    .content_tab .close {
        display: none;
    }
    #store_tab {
        position: static;
        height: auto;
    }
    #store_tab .store_inner {
        position: static;
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 0px;
        max-height: none;
    }
    #store_tab .right {
        position: static;
    }
    #store_tab .product_list {
        padding-top: 6px;
        padding-bottom: 0px;
        text-align: center;
    }
    #store_tab .product_list .store_title {
        display: none;
    }
    #store_tab .product_info .store_title {
        display: none;
    }
    #store_tab .product_info .pi_left {
        display: none;
    }
    #store_tab .product_info .pi_right {
        float: none;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    #store_tab .product_info .pi_right .name {
        padding-top: 24px;
    }
}
@media (device-height: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : portrait) {
    
    #video_bg {
        padding-top: 35px;
        padding-bottom: 60px;
    }
}

video {
    -webkit-transform-style: preserve-3d;
}
