
body {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

.full_screen_bg { 
    position: fixed; 
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0px;
}
/*
#image #image_slider {
    height: 100%;
    width: 100%;
}

#image #image_slider .container {
    height: 100%;
    width: 100%;
}
*/
.full_screen_bg .pad {
    display: inline-block;
    width: 0px;
    height: 100%;
    background: black;
}
.full_screen_bg .image_holder {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    vertical-align: top;
}
.full_screen_bg .image_holder div { 
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.full_screen_bg .video_container {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.sprite_icon {
    background: transparent url('/images/default_v4_sprite.png') no-repeat;
    background-size: 306px 396px;
}

.content_tab {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background: transparent;
    overflow: hidden;
    
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}
.content_tab.open {
    max-height: none;
    
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.home_tab.content_tab {
    position: static;
    min-height: 0px;
    height: 0px;
    background: transparent;

    transform: none;
    -webkit-transform: none;
    transition: none;
    -webkit-transition: none;
}
.home_tab.content_tab.open {
    transform: none;
    -webkit-transform: none;
    transition: none;
    -webkit-transition: none;
}
.home_tab.content_tab .home_tab_item {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}
.home_tab.content_tab.open .home_tab_item {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.content_tab .content_tab_spacer {
    height: 45px;
}

.signup.content_tab {
    background: #5a4173;
    background: -moz-linear-gradient(top, #5a4173 0%, #6c5f95 30%, #564070 67%, #4c3262 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a4173), color-stop(30%,#6c5f95), color-stop(67%,#564070), color-stop(100%,#4c3262));
    background: -webkit-linear-gradient(top, #5a4173 0%,#6c5f95 30%,#564070 67%,#4c3262 100%);
    background: -ms-linear-gradient(top, #5a4173 0%,#6c5f95 30%,#564070 67%,#4c3262 100%);
    background: linear-gradient(to bottom, #5a4173 0%,#6c5f95 30%,#564070 67%,#4c3262 100%);
}

.content_tab.open.closed {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}

.signup.content_tab {
    font-family: "Lato",sans-serif;
}

.signup.content_tab .middle {
    position: absolute;
    top: 50%;
    height: 100px;
    width: 100%;
    margin-top: -50px;
    text-align: center;
    color: black;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 1px;
}
.signup.content_tab .middle .subtitle {
    font-style: italic;
    font-size: 17px;
}
.signup.content_tab .middle .next_arrow {
    padding-top: 20px;
    text-align: center;
}
.signup.content_tab .middle .next_arrow .arrow {
    margin-left: auto;
    margin-right: auto;
    width: 0;
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left:10px solid white;
}
.signup.content_tab .button {
    display: inline-block;
    margin-top: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 18px;
    padding-right: 18px;
    color: black;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 25px;
    font-weight: normal;
    background: #9bdbf4;
    border-radius: 3px;
}
.signup.content_tab .middle input[type=text] {
    width: 214px;
    margin-top: 36px;
    border: 0;
    font-size: 18px;
    line-height: 33px;
    padding-left: 8px;
    padding-right: 8px;
}

.signup.content_tab .middle .pick_list {
    width: 115px;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
}

.signup.content_tab .middle .pick_list {
    margin-top: 30px;
}
.signup.content_tab .middle .pick_list .item {
    margin-bottom: 10px;
}
.signup.signup6.content_tab .middle {
    margin-top: -100px;
}
.signup.signup6.content_tab .middle .pick_list {
    width: 120px;
    font-size: 16px;
}

/*****************************************/

input[type=checkbox],
input[type=radio] {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

input[type=checkbox] + label,
input[type=radio] + label {
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
}
input[type=checkbox] + label > span,
input[type=radio] + label > span {
    display: inline-block;
    width: 0.875em;
    height : 0.875em;
    margin: 0.25em 0.9em 0.18em 0.25em;
    border: 2px solid white;
    border-radius: 1em;
    vertical-align: bottom;
}
input[type=checkbox]:checked + label > span > span,
input[type=radio]:checked + label > span > span {
    display: block;
    width: 0.6em;
    height: 0.6em;
    margin: 0.13em;
    border-radius: 1em;
    background: white;
}


/*****************************************/

.content_tab .top_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 45px;
    background: rgba(34,64,77,0.9);
}
.content_tab .top_bar .sprite_icon {
    cursor: pointer;
    width: 40px;
    height: 45px;
}

.content_tab .top_bar .left_menu {
    position: absolute;
    left: 0px;
    top: 0px;
    background-position: -240px -9px;
}
.content_tab .top_bar .title {
    position: absolute;
    top: 0px;
    left: 40px;
    right: 40px;
    padding-top: 8px;
    color: white;
    font-size: 23px;
    text-align: center;
}
.content_tab .top_bar .right_menu {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 100%;
}

.content_tab .top_bar .right_menu .sprite_icon.plus {
    background-position: -196px -9px;
}
.content_tab .top_bar .right_menu .sprite_icon.close {
    background-position: -150px -9px;
}
.content_tab .top_bar .right_menu .sprite_icon.store {
    background-position: -58px -9px;
}
.content_tab .top_bar .right_menu .sprite_icon.social {
    background-position: -105px -9px;
}
.content_tab .top_bar .right_menu .sprite_icon.share {
    background-position: -14px -9px;
}
.content_tab .top_bar .right_menu .extended_menu {
    display: none;
    background: rgba(0,0,0,0.5);
}


.home_tab.content_tab .top_bar {
    background: rgba(0,0,0,0.5);
}

.home_tab .bottom_title {
    position: absolute;
    bottom: 29px;
    left: 0px;
    right: 0px;
    height: 38px;
    padding-top: 4px;
    padding-bottom: 12px;
    color: white;
    font-size: 36px;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

.home_tab .powered_by {
    position: absolute;
    bottom: 4px;
    left: 6px;
    right: 0px;
    color: white;
    font-size: 16px;
}

.home_tab .big_play_icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    margin-top: -175px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
}
.home_tab .big_play_icon .icon {
    display: inline-block;
    width: 82px;
    height: 82px;
    background-position: -109px -70px;
}
.home_tab .big_play_icon .text {
    padding-top: 20px;
    color: white;
    font-size: 70px;
    text-align: center;
}

.playlist_tab .playlist_list {
    padding-top: 45px;
    padding-right: 9px;
    padding-left: 9px;
}
.playlist_tab .playlist_list .playlist .title_arrow {
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.7);
    cursor: pointer;
}
.playlist_tab .playlist_list .playlist .title_arrow .title {
    padding-top: 19px;
    padding-right: 20px;
    padding-bottom: 13px;
    color: #777;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.playlist_tab .playlist_list .playlist.active .title_arrow .title {
    color: white;
}
.playlist_tab .playlist_list .playlist .title_arrow .arrow {
    position: absolute;
    right: 0px;
    width: 20px;
    height:
}
.playlist_tab .playlist_list .playlist .track_list {
    display: none;
    border-bottom: 1px solid rgba(255,255,255,0.7);
}
.playlist_tab .playlist_list .playlist.active .track_list {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
}
.playlist_tab .playlist_list .playlist .track_list .track_name {
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #777;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.playlist_tab .playlist_list .playlist .track_list .track_name.active {
    color: white;
}

.playlist_tab .section_title {
    padding-left: 9px;
    padding-top: 12px;
    padding-bottom: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.playlist_tab .tab_list {
    padding-left: 9px;
    padding-right: 9px;
}
.playlist_tab .tab_list .tab_name {
    padding-top: 14px;
    padding-bottom: 14px;
    color: white;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(255,255,255,0.7);
    cursor: pointer;
}

.user_tab .page_content {
    padding-top: 65px;
    padding-left: 9px;
    padding-right: 9px;
    color: #eee;
    font-size: 16px;
}

.share_tab .section_title {
    padding-top: 23px;
    padding-bottom: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.share_tab .section_content {
    padding-left: 9px;
    padding-right: 9px;
}
.share_tab .section_content textarea {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 100px;
    width: 100%;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    outline: 0;
    background: rgba(36,36,36,0.8);
    resize: none;
}
.share_tab .button {
    margin-right: 9px;
    margin-left: 9px;
    margin-bottom: 9px;
    padding-top: 16px;
    padding-bottom: 12px;
    color: white;
    font-size: 14px;
    text-align: center;
    background: rgba(36,36,36,0.8);
}

/*************************************************************************/

@media (device-height: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : portrait) {
    
    .full_screen_bg {
        bottom: auto;
        height: 529px;
    }

}

@media (device-height: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : landscape) {
    
    .full_screen_bg {
        bottom: auto;
        height: 268px;
    }
}


@media (device-height: 480px)
and (orientation : portrait) {

    .full_screen_bg {
        bottom: auto;
        height: 416px;
    }
}

@media (device-height: 480px)
and (orientation : landscape) {

    .full_screen_bg {
        bottom: auto;
        height: 268px;
    }
}

@media (max-height: 320px)
and (orientation : landscape) {
    .home_tab .big_play_icon {
        margin-top: -95px;
    }
    .home_tab .big_play_icon .text {
        padding-top: 0px;
    }
}



#under_construction {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 231px;
    margin-left: -250px;
    margin-top: -130px;
    background: url('/images/under_construction.jpg') no-repeat;
    z-index: 0;
}

#test_warning {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 50px;
    margin-left: -200px;
    margin-top: -25px;
    font-size: 50px;
    color: red;
    font-family: Helvetica, sans-serif;
    text-align: center;
    z-index: 1000000;
}

