
body {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

input[type=text]:focus {
    outline: none;
}

.full_screen_bg { 
    position: fixed; 
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0px;
}
/*
#image #image_slider {
    height: 100%;
    width: 100%;
}

#image #image_slider .container {
    height: 100%;
    width: 100%;
}
*/
.full_screen_bg .pad {
    display: inline-block;
    width: 0px;
    height: 100%;
    background: black;
}
.full_screen_bg .image_holder {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    vertical-align: top;
}
.full_screen_bg .image_holder div { 
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.full_screen_bg .video_container {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.sprite_icon {
    background: transparent url('/images/default_v4_sprite.png') no-repeat;
    background-size: 306px 396px;
}

.content_tab {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background: transparent;
    overflow: hidden;
    z-index: 1;
    
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}
.content_tab.open {
    max-height: none;
    
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.content_tab.instant_open {
    transition: none;
    -webkit-transition: none;
}

.content_tab .content_tab_spacer {
    height: 45px;
}

.content_tab.open.closed {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}

/**************************************************/

.signup.signup_bg {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #0a5c70;
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0px;
}
.signup.signup_bg video {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.signup.signup_bg .video_cover {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0,0,0,0.4);
}

/*
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .signup.signup_bg {
        background: #5a4173;
        background: -moz-linear-gradient(top, #5a4173 0%, #6c5f95 30%, #564070 67%, #4c3262 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a4173), color-stop(30%,#6c5f95), color-stop(67%,#564070), color-stop(100%,#4c3262));
        background: -webkit-linear-gradient(top, #5a4173 0%,#6c5f95 30%,#564070 67%,#4c3262 100%);
        background: -ms-linear-gradient(top, #5a4173 0%,#6c5f95 30%,#564070 67%,#4c3262 100%);
        background: linear-gradient(to bottom, #5a4173 0%,#6c5f95 30%,#564070 67%,#4c3262 100%);
    }
}
*/
.signup.content_tab {
    max-height: 100%;
    font-family: "Lato",sans-serif;
}
.signup.content_tab .header {
    position: absolute;
    top: 58px;
    left: 50%;
    width: 286px;
    height: 80px;
    margin-left: -143px;
    background: transparent url("/images/mychannel_icons.png") no-repeat -18px -21px;
    z-index: -1;
}

.signup.content_tab .middle {
    position: absolute;
    top: 50%;
    height: 100px;
    width: 100%;
    margin-top: -50px;
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 1px;
}
.signup.content_tab .middle .subtitle {
    font-style: italic;
    font-size: 17px;
}
.signup.content_tab .middle .next_arrow {
    padding-top: 20px;
    text-align: center;
}
.signup.content_tab .middle .next_arrow .arrow {
    margin-left: auto;
    margin-right: auto;
    width: 0;
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left:10px solid white;
}
.signup.content_tab .button {
    display: inline-block;
    margin-top: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 18px;
    padding-right: 18px;
    color: black;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 25px;
    font-weight: normal;
    background: #9bdbf4;
    border-radius: 3px;
}
.signup.content_tab .middle input.text {
    width: 214px;
    margin-top: 36px;
    border: 0;
    font-size: 18px;
    line-height: 33px;
    padding-left: 8px;
    padding-right: 8px;
}

.signup.content_tab .middle .pick_list {
    width: 115px;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
}

.signup.content_tab .middle .pick_list {
    margin-top: 30px;
}
.signup.content_tab .middle .pick_list .item {
    margin-bottom: 10px;
}
.signup.signup6.content_tab .middle {
    margin-top: -130px;
}
.signup.signup6.content_tab .middle .pick_list {
    margin-top: 20px;
    width: 190px;
    font-size: 16px;
}

.signup.signup6.content_tab .middle .pick_list .item {
    margin-bottom: 4px;
}

/*****************************************/

.welcome.content_tab {
    max-height: 100%;
    font-family: "Lato",sans-serif;
    background: #f09b49;
    background: -moz-linear-gradient(top, #f5a852 0%,#da742c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5a852), color-stop(100%,#da742c));
    background: -webkit-linear-gradient(top, #f5a852 0%,#da742c 100%);
    background: -ms-linear-gradient(top, #f5a852 0%,#da742c 100%);
    background: linear-gradient(to bottom, #f5a852 0%,#da742c 100%);
}
.welcome.content_tab .header {
    position: absolute;
    top: 40px;
    left: 46px;
    width: 186px;
    height: 68px;
    background: transparent url("/images/mychannel_icons.png") no-repeat -352px -28px;
    z-index: -1;
}
.welcome.content_tab .today_date {
    position: absolute;
    top: 51px;
    right: 53px;
    color: #974f1e;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: -1;
}

.welcome.content_tab .middle {
    position: absolute;
    top: 50%;
    height: 100px;
    width: 100%;
    margin-top: -50px;
    text-align: center;
    color: white;
    font-size: 64px;
    line-height: 80px;
    font-weight: 300;
    letter-spacing: 1px;
}
.welcome2.welcome.content_tab .middle {
    margin-top: -125px;
}
.welcome.content_tab .middle .next_arrow {
    padding-top: 20px;
    text-align: center;
}
.welcome.content_tab .middle .next_arrow .arrow {
    margin-left: auto;
    margin-right: auto;
    width: 0;
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left:10px solid white;
}
.welcome.content_tab .middle .user_first_name {
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.welcome.content_tab .middle .question {
    position: relative;
    font-size: 32px;
    line-height: 44px;
}
.welcome.content_tab .middle .question .behind {
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    color: #da742c;
    font-size: 120px;
    font-weight: 400;
    z-index: -1;
    text-align: center;
}
.welcome.content_tab .middle input[type=text] {
    width: 214px;
    margin-top: 36px;
    border-top: 3px solid #af5e26;
    border-left: 3px solid #af5e26;
    border-bottom: 1px solid #efa668;
    border-right: 0;
    background: #c86926;
    color: white;
    font-size: 18px;
    line-height: 33px;
    padding-left: 8px;
    padding-right: 8px;
}

.welcome.content_tab .daily_goal {
    position: absolute;
    bottom: 52px;
    left: 52px;
    width: 288px;
    height: 38px;
}
.welcome.content_tab .daily_goal .label {
    padding-bottom: 8px;
    font-size: 15px;
    color: #8d4b1e;
    font-weight: 400;
}
.welcome.content_tab .daily_goal .label .percent {
    display: inline-block;
    padding-left: 16px;
    vertical-align: bottom;
    font-size: 18px;
}
.welcome.content_tab .daily_goal .bar {
    height: 13px;
    border: 1px solid white;
    border-radius: 7px;
}
.welcome.content_tab .daily_goal .bar .whole_bar {
    background: #c86926;
    margin: 3px;
    height: 7px;
    border-radius: 5px;
}
.welcome.content_tab .daily_goal .bar .whole_bar .filled_bar {
    width: 37%;
    height: 7px;
    background: white;
    border-radius: 5px 0px 0px 5px;
}

@media only screen 
and (max-width : 500px) {
    .welcome.content_tab .header {
        top: 38px;
        left: 50%;
        margin-left: -93px;
    }
    .welcome.content_tab .today_date {
        display: none;
    }
    .welcome.content_tab .daily_goal {
        left: 50%;
        margin-left: -144px;
    }
}

/*****************************************/

input[type=checkbox],
input[type=radio] {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

input[type=checkbox] + label,
input[type=radio] + label {
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
}
input[type=checkbox] + label > span,
input[type=radio] + label > span {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0.25em 0.9em 0.18em 0.25em;
    border: 2px solid white;
    border-radius: 17px;
    vertical-align: bottom;
}
input[type=checkbox]:checked + label > span > span,
input[type=radio]:checked + label > span > span {
    display: block;
    width: 11px;
    height: 11px;
    margin: 3px;
    border-radius: 11px;
    background: white;
}
input[type=checkbox].small + label > span,
input[type=radio].small + label > span {
    width: 15px;
    height: 15px;
    border-radius: 15px;
}
input[type=checkbox].small:checked + label > span > span,
input[type=radio].small:checked + label > span > span {
    width: 9px;
    height: 9px;
    margin: 3px;
    border-radius: 9px;
}

/************************************************/

.home_tab.content_tab {
    position: static;
    min-height: 0px;
    height: 0px;
    background: transparent;

    transform: none;
    -webkit-transform: none;
    transition: none;
    -webkit-transition: none;
}
.home_tab.content_tab.open {
    transform: none;
    -webkit-transform: none;
    transition: none;
    -webkit-transition: none;
}
.home_tab.content_tab .home_tab_item {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}
.home_tab.content_tab.open .home_tab_item {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.home_tab .top_items {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0px;
    overflow: visible;
}
.home_tab .top_items .side_menu_button {
    position: absolute;
    top: 53px;
    left: 55px;
}
.side_menu_button {
    width: 34px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
}
.side_menu_button div {
    width: 100%;
    height: 4px;
    background: white;
    margin-bottom: 6px;
}
.no_touch .home_tab .top_items .side_menu_button:hover div {
    background: #eca057;
}

.home_tab .top_items .share_star {
    position: absolute;
    right: 53px;
    top: 36px;
    width: 115px;
    height: 23px;
    text-align: right;
    font-size: 0px;
    overflow: visible;
    white-space: nowrap;
}
.home_tab .top_items .share_star .share {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    padding-right: 30px;
    color: white;
    font-size: 16px;
    text-shadow: #c5c5c5;
    cursor: pointer;
}
.no_touch .home_tab .top_items .share_star .share:hover {
    color: #eca057;
}
.home_tab .top_items .share_star .star {
    display: inline-block;
    vertical-align: top;
    height: 28px;
    width: 28px;
    background: transparent url("/images/oen_icons@2x.png") no-repeat -126px -236px;
    background-size: 854px 676px;
    cursor: pointer;
}

.home_tab .controls {
    position: absolute;
    bottom: 36px;
    left: 0px;
    right: 0px;
    height: 102px;
}
.home_tab .controls .info_bar {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 66px;
    color: white;
    background: #ed9442;
    background: -moz-linear-gradient(left, #e88236 0%,#f6a953 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e88236), color-stop(100%,#f6a953));
    background: -webkit-linear-gradient(left, #e88236 0%,#f6a953 100%);
    background: -ms-linear-gradient(left, #e88236 0%,#f6a953 100%);
    background: linear-gradient(to right, #e88236 0%,#f6a953 100%);
}

.home_tab .controls .info_bar .info {
    position: absolute;
    bottom: 1px;
    right: 0px;
    width: 176px;
    padding-bottom: 19px;
    color: #964f15;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.home_tab .controls .info_bar .volume {
    position: absolute;
    width: 56px;
    height: 64px;
    right: 176px;
    bottom: 1px;
    border-right: 2px solid #ac6423;
    background: transparent url("/images/oen_icons@2x.png") no-repeat -140px -531px;
    background-size: 854px 676px;
    cursor: pointer;
}
.home_tab .controls .info_bar .next {
    position: absolute;
    width: 56px;
    height: 64px;
    right: 234px;
    bottom: 1px;
    border-right: 2px solid #ac6423;
    background: transparent url("/images/oen_icons@2x.png") no-repeat -74px -531px;
    background-size: 854px 676px;
    cursor: pointer;
}
.home_tab .controls .info_bar .play_pause {
    position: absolute;
    width: 56px;
    height: 64px;
    right: 292px;
    bottom: 1px;
    border-right: 2px solid #ac6423;
    background: transparent url("/images/oen_icons@2x.png") no-repeat -10px -594px;
    background-size: 854px 676px;
    cursor: pointer;
}
.home_tab .controls .info_bar .play_pause.playing {
    background: transparent url("/images/oen_icons@2x.png") no-repeat -10px -531px;
    background-size: 854px 676px;
}
.no_touch .home_tab .controls .info_bar .info:hover {
    color: white;
}
.home_tab .controls .info_bar .now_playing {
    position: absolute;
    left: 0px;
    height: 64px;
    right: 350px;
    bottom: 1px;
    border-right: 2px solid #ac6423;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home_tab .controls .info_bar .now_playing .label {
    display: inline-block;
    padding-left: 54px;
    padding-top: 20px;
    vertical-align: top;
    color: #964f15;
    font-size: 20px;
}
.home_tab .controls .info_bar .now_playing .track_title {
    display: inline-block;
    padding-left: 38px;
    padding-top: 20px;
    vertical-align: top;
    color: white;
    font-size: 20px;
}

.home_tab .controls .tracker_bar {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 36px;
    font-size: 0px;
}
.home_tab .controls .tracker_bar .whole_bar {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 8px;
    background: rgba(138,74,19,0.6);
    border-radius: 3px;
    text-align: left;
    cursor: pointer;
}
.home_tab .controls .tracker_bar .whole_bar .filled_bar {
    display: inline-block;
    width: 0%;
    height: 8px;
    background: white;
    border-radius: 3px 0px 0px 3px;
    vertical-align: top;
}
.home_tab .controls .tracker_bar .whole_bar .current_pos {
    display: inline-block;
    width: 3px;
    height: 20px;
    margin-top: -6px;
    background: white;
    vertical-align: top;
}

@media only screen 
and (max-width: 862px) {
    .home_tab .controls .info_bar .now_playing .label {
        display: none;
    }
}
@media only screen 
and (max-width: 675px) {
    .home_tab .controls .info_bar .info {
        width: 100px;
    }
    .home_tab .controls .info_bar .volume {
        right: 100px;
    }
    .home_tab .controls .info_bar .next {
        right: 158px;
    }
    .home_tab .controls .info_bar .play_pause {
        right: 216px;
    }
    .home_tab .controls .info_bar .now_playing {
        right: 272px;
    }
}

/**********************************************/

.side_menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    max-height: 100%;

    font-size: 0px;
    background: transparent;
    overflow: hidden;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    z-index: 200;
}
.side_menu.overlay_open {
    z-index: 250;
}
.side_menu.overlay_open,
.side_menu.side_open {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}
.side_menu .cover {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
}
.side_menu .shown_menu {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    max-width: 266px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: rgba(240,155,73,0.9);
    background: -moz-linear-gradient(top, rgba(245,168,82,0.9) 0%,rgba(218,116,44,0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,168,82,0.9)), color-stop(100%,rgba(218,116,44,0.9)));
    background: -webkit-linear-gradient(top, rgba(245,168,82,0.9) 0%,rgba(218,116,44,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(245,168,82,0.9) 0%,rgba(218,116,44,0.9) 100%);
    background: linear-gradient(to bottom, rgba(245,168,82,0.9) 0%,rgba(218,116,44,0.9) 100%);
    border-right: 1px solid #ac6423;
    z-index: 300;
}

.side_menu .shown_menu .logo {
    margin-top: 54px;
    height: 82px;
}
.side_menu .shown_menu .logo div {
    margin-left: 35px;
    width: 210px;
    height: 78px;
    background: transparent url("/images/oen_icons@2x.png") no-repeat -396px -33px;
    background-size: 854px 676px;
}
.side_menu .shown_menu .close_holder {
    height: 24px;
    padding-top: 8px;
    padding-bottom: 12px;
}
.side_menu .shown_menu .close_holder .icon_close {
    margin-right: 18px;
    float: right;
}
.icon_close {
    height: 24px;
    width: 24px;
    background: transparent url("/images/oen_icons@2x.png") no-repeat -271px -451px;
    background-size: 854px 676px;
    cursor: pointer;
}
.no_touch .side_menu .shown_menu .close_holder .close:hover {
    background: transparent url("/images/oen_icons@2x.png") no-repeat -161px -454px;
    background-size: 854px 676px;
}
.side_menu .shown_menu .menu_item_list {
    font-size: 0px;
}
.side_menu .shown_menu .menu_item_list .menu_item {
    padding-left: 34px;
    line-height: 71px;
    color: #965020;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-top: 1px solid #ac6423;
    cursor: pointer;
}
.no_touch .side_menu .shown_menu .menu_item_list .menu_item:hover {
    color: white;
}
.side_menu .shown_menu .menu_item_list .menu_item.last {
    border-bottom: 1px solid #ac6423;
}

/**********************************************/

.right_tab {
    position: absolute;
    right: 0px;
    left: 267px;
    top: 0px;
    bottom: 0px;
    background: #f09b49;
    background: -moz-linear-gradient(top, #f5a852 0%,#da742c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5a852), color-stop(100%,#da742c));
    background: -webkit-linear-gradient(top, #f5a852 0%,#da742c 100%);
    background: -ms-linear-gradient(top, #f5a852 0%,#da742c 100%);
    background: linear-gradient(to bottom, #f5a852 0%,#da742c 100%);
    border-left: 1px solid #ac6423;
    z-index: 210;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}
.right_tab.open {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

/**********************************************/

.content_list_tab {
    
}

.content_list_tab .mobile_header {
    display: none;
    position: relative;
    text-align: center;
}
.content_list_tab .mobile_header .side_menu_button {
    position: absolute;
    top: 26px;
    left: 28px;
}
.content_list_tab .mobile_header .title {
    position: absolute;
    top: 27px;
    left: 62px;
    right: 62px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
}

.content_list_tab .desktop_header {
    position: absolute;
    top: 0px;
    height: 80px;
    left: 0px;
    right: 0px;
    text-align: center;
}
.content_list_tab .desktop_header .icon_close {
    float: right;
    margin-right: 50px;
    margin-top: 28px;
    vertical-align: top;
}
/*******/
.content_list_tab .top_line_holder_holder {
    position: absolute;
    top: 78px;
    left: 0px;
    right: 0px;
}
.content_list_tab .top_line_holder_holder .top_line_holder {
    width: 100%;
    max-width: 594px;
    margin-left: auto;
    margin-right: auto;
}
.content_list_tab .top_line_holder_holder .top_line_holder .top_line {
    margin-left: 22px;
    margin-right: 22px;
    height: 0px;
    border-bottom: 2px solid #ac6423;
}
/*******/
.content_list_tab .content_list_holder {
    position: absolute;
    top: 80px;
    bottom: 20px;
    left: 0px;
    right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 0px;
}
.content_list_tab .content_list {
    width: 100%;
    max-width: 594px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0px;
}
.play_list_tab .content_list .content_item {
    padding-top: 30px;
    padding-bottom: 22px;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 0px;
    vertical-align: top;
    border-bottom: 2px solid #ac6423;
}
.play_list_tab .content_list .content_item .left {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    width: 284px;
    font-family: 'Lato', sans-serif;
    vertical-align: top;
}
.play_list_tab .content_list .content_item .left .type {
    padding-bottom: 20px;
    color: #954e15;
    font-size: 18px;
    font-weight: 400;
}
.play_list_tab .content_list .content_item .left .title {
    padding-bottom: 5px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.play_list_tab .content_list .content_item .left .description {
    color: white;
    font-size: 16px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.play_list_tab .content_list .content_item .right {
    display: inline-block;
    width: 250px;
    vertical-align: top;
}
.play_list_tab .content_list .content_item .right .image_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 186px;
    height: 100px;
    cursor: pointer;
}
.play_list_tab .content_list .content_item .right .image_container img {
    width: 100%;
    height: 100%;
}
.play_list_tab .content_list .content_item .right .image_container video {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 1px;
    width: 1px;
    z-index: -1;
}
.play_list_tab .content_list .content_item .right .image_container .play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px;
    width: 50px;
    height: 50px;
    border: 4px solid rgba(255,255,255,0.8);
    border-radius: 48px;
}
.play_list_tab .content_list .content_item .right .image_container .play_button div {
    position: absolute;
    height: 0px;
    width: 0px;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -5px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 16px solid rgba(255,255,255,0.8);
}

@media only screen 
and (max-width: 862px) {
    .side_menu.side_open {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
    .right_tab {
        left: 0px;
        border: 0;
    }
    .content_list_tab .mobile_header {
        display: block;
    }
    .content_list_tab .desktop_header {
        display: none;
    }
}
@media only screen 
and (max-width: 594px) {
    .play_list_tab .content_list .content_item .right {
        width: auto;
        padding-top: 20px;
    }
    .play_list_tab .content_list .content_item .right .image_container {
        width: 90%;
        height: auto;
    }
    .play_list_tab .content_list .content_item .right .image_container .play_button {
        margin-left: -49px;
        margin-top: -49px;
        width: 90px;
        height: 90px;
    }
    .play_list_tab .content_list .content_item .right .image_container .play_button div {
        margin-top: -25px;
        margin-left: -10px;
        border-top: 24px solid transparent;
        border-bottom: 24px solid transparent;
        border-left: 32px solid rgba(255,255,255,0.8);
    }
}

@media (max-device-height: 736px) {
    .full_screen_bg {
        display: none !important;
    }
    .right_tab.play_list_tab {
        display: block !important;
        z-index: 0;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        transition: none;
        -webkit-transition: none;
    }
    .home_tab {
        display: none !important;
    }
}

/**********************************************/

.news_tab .top_line_holder_holder {
    top: 79px;
}

.news_tab .top_line_holder_holder .top_line_holder {
    width: 510px;
}
.news_tab .top_line_holder_holder .top_line_holder .top_line {
    margin: 0;
    border-bottom: 1px solid #ac6423;
}

.news_tab .content_list {
    max-width: 510px;
    text-align: left;
}

.news_tab .content_list .content_item {
    display: inline-block;
    height: 126px;
    width: 224px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0px;
    vertical-align: top;
    border-bottom: 1px solid #ac6423;
    border-right: 1px solid #ac6423;
    font-family: "Lato",sans-serif;
    text-align: left;
}

.news_tab .content_list .content_item .top_line {
    height: 30px;
}
.news_tab .content_list .content_item .top_line .title {
    display: inline-block;
    width: 160px;
    float: left;
    vertical-align: top;

    color: #96511f;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news_tab .content_list .content_item .top_line .date {
    color: white;
    float: right;
    font-size: 14px;
    vertical-align: top;
}
.news_tab .content_list .content_item .summary {
    display: inline-block;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: 15px;
    font-weight: 300;
}
.news_tab .content_list .content_item .read_more_container {
    height: 24px;
}
.news_tab .content_list .content_item .read_more_container .read_more {
    float: right;
    padding-top: 5px;
    color: black;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    cursor: pointer;
}

@media only screen 
and (max-width: 510px) {
    .news_tab .content_list .content_item {
        border-right: 0;
        width: auto;
    }
}


/*************************************************************************/

@media (device-height: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : portrait) {
    
    .full_screen_bg {
        bottom: auto;
        height: 529px;
    }

}

@media (device-height: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : landscape) {
    
    .full_screen_bg {
        bottom: auto;
        height: 268px;
    }
}


@media (device-height: 480px)
and (orientation : portrait) {

    .full_screen_bg {
        bottom: auto;
        height: 416px;
    }
}

@media (device-height: 480px)
and (orientation : landscape) {

    .full_screen_bg {
        bottom: auto;
        height: 268px;
    }
}

@media (max-height: 320px)
and (orientation : landscape) {
    .home_tab .big_play_icon {
        margin-top: -95px;
    }
    .home_tab .big_play_icon .text {
        padding-top: 0px;
    }
}



#under_construction {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 231px;
    margin-left: -250px;
    margin-top: -130px;
    background: url('/images/under_construction.jpg') no-repeat;
    z-index: 0;
}

#test_warning {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 50px;
    margin-left: -200px;
    margin-top: -25px;
    font-size: 50px;
    color: red;
    font-family: Helvetica, sans-serif;
    text-align: center;
    z-index: 1000000;
}

