
/*
@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('Neuzeit-Grotesk.eot');
    src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuzeit Grotesk Light';
    src: url('Neuzeit-Grotesk-Light.eot');
    src: local('Neuzeit-Grotesk-Light'), url('Neuzeit-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teletex Light';
    src: url('Teletex_Light.eot');
    src: local('Teletex_Light'), url('Teletex_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('Lucida Grande.eot');
    src: local('Lucida Grande'), url('Lucida Grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

a {
    text-decoration: none;
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: grey;
}
#player_body {
    position: relative;
    background-color: black;
}

@media only screen and (orientation:portrait) {
    #player_body {
        height: 420px;
    }
    .desktop #player_body {
        width: 320px;
        margin-right: auto;
        margin-left: auto;
    }
    #tracker_bar .buttons .button.buttons_1 {
        width: 320px;
    }
    #tracker_bar .buttons .button.buttons_2 {
        width: 159px;
    }
    #tracker_bar .buttons .button.buttons_3 {
        width: 105px;
    }
}
@media only screen and (orientation:landscape) {
    #player_body {
        height: 270px;
    }
    .desktop #player_body {
        width: 480px;
        margin-right: auto;
        margin-left: auto;
    }
    #tracker_bar .buttons .button.buttons_1 {
        width: 480px;
    }
    #tracker_bar .buttons .button.buttons_2 {
        width: 239px;
    }
    #tracker_bar .buttons .button.buttons_3 {
        width: 159px;
    }
}

.full_screen_bg { 
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0px;
}
/*
#image #image_slider {
    height: 100%;
    width: 100%;
}

#image #image_slider .container {
    height: 100%;
    width: 100%;
}
*/
.full_screen_bg .pad {
    display: inline-block;
    width: 0px;
    height: 100%;
    background: black;
}
.full_screen_bg .image_holder {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    vertical-align: top;
}
.full_screen_bg .image_holder div { 
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video_container {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    background-color: blue;
    z-index: -100;
}

#top_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 41px;
    background: black;
    overflow: hidden;
}
#top_bar .track_name {
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 4px;
    color: white;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}
#top_bar .artist_name {
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 2px;
    color: white;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
}

#bottom_container {
    position: absolute;
    bottom: 0px;
    height: 76px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}
#tracker_bar {
    height: 51px;
    overflow: hidden;
    background: rgba(0,0,0,0.85);
}

#tracker_bar .buttons {
    height: 51px;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}
#tracker_bar .buttons .button {
    display: inline-block;
    height: 51px;
    text-align: center;
    vertical-align: top;
}
#tracker_bar .buttons .button .name_icon {
    display: inline-block;
    width: 40px;
    height: 51px;
}
#tracker_bar .buttons .button .name_icon .name {
    padding-top: 6px;
    height: 14px;
    color: #999999;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#tracker_bar .buttons .button.active .name_icon .name {
    color: white;
}
#tracker_bar .buttons .button .name_icon .icon {
    height: 30px;
}
#tracker_bar .buttons .photos.button .name_icon .icon {
    background: transparent url('/images/mobile_icons_2x.png') no-repeat 0px 0px / 171px auto;
}
#tracker_bar .buttons .photos.button.active .name_icon .icon {
    background: transparent url('/images/player_icons.png') no-repeat -66px -606px;
}
#tracker_bar .buttons .music.button .name_icon .icon {
    background: transparent url('/images/player_icons.png') no-repeat -130px -675px;
}
#tracker_bar .buttons .music.button.active .name_icon .icon {
    background: transparent url('/images/player_icons.png') no-repeat -130px -607px;
}
#tracker_bar .buttons .video.button .name_icon .icon {
    background: transparent url('/images/player_icons.png') no-repeat -189px -677px;
}
#tracker_bar .buttons .video.button.active .name_icon .icon {
    background: transparent url('/images/player_icons.png') no-repeat -189px -609px;
}

#tracker_bar .buttons .sep {
    display: inline-block;
    height: 55px;
    width: 0px;
    border-left: 1px solid black;
    border-right: 1px solid #444;
}
#bottom_container .bottom_bar {
    height: 25px;
    background: black;
}
#bottom_container .bottom_bar .left {
    float: left;
    padding-left: 11px;
    padding-top: 7px;
    color: white;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}
#bottom_container .bottom_bar .right {
    float: right;
    padding-right: 11px;
    padding-top: 7px;
    color: white;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

#video_bg {
    display: none;
}

#big_play_icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0px;
    width: 0px;
    margin-left: -36px;
    margin-top: -36px;
    z-index: 100;
}
#big_play_icon .outer {
    width: 72px;
    height: 72px;
    background-color: rgba(100,100,100,0.7);
    border-radius: 72px;
}
#big_play_icon .inner {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 4px solid white;
}
#big_play_icon .triangle {
    position: absolute;
    top: 18px;
    left: 24px;
    width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-left: 32px solid rgba(255,255,255,0.8);
}

#big_play_icon.playing {
    display: none !important;
}

#test_warning {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 50px;
    margin-left: -200px;
    margin-top: -25px;
    font-size: 50px;
    color: red;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    z-index: 1000000;
}

