

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('Neuzeit-Grotesk.eot');
    src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuzeit Grotesk Light';
    src: url('Neuzeit-Grotesk-Light.eot');
    src: local('Neuzeit-Grotesk-Light'), url('Neuzeit-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teletex Light';
    src: url('Teletex_Light.eot');
    src: local('Teletex_Light'), url('Teletex_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('Lucida Grande.eot');
    src: local('Lucida Grande'), url('Lucida Grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#bg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    background: black url('../images/madcom_bg.png') no-repeat;
    background-size: 100% 100%;
}

#music_bg { 
    position: fixed; 
    top: 0px;
    bottom: 49px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
}
/*
#image #image_slider {
    height: 100%;
    width: 100%;
}

#image #image_slider .container {
    height: 100%;
    width: 100%;
}
*/
#music_bg .image_holder {
    display: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}
#music_bg .image_holder div { 
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video_container {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 49px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#top_bar {
    position: absolute;
    top: 0px;
    left: 73px;
    right: 0px;
    height: 48px;
    background: black url('../images/topbar_texture.png') repeat-x;
    overflow: hidden;
}
#top_bar_mad_logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 73px;
    height: 48px;
    background: black url('../images/madcom_logo.png');
    cursor: pointer;
}
#top_bar .artist_name {
    float: left;
    padding-left: 20px;
    padding-top: 18px;
    color: white;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
#top_bar .search {
    float: right;
    width: 28px;
    height: 24px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    background: transparent url('../images/player_icons.png') no-repeat -304px -67px;
}
#top_bar .search:hover {
    background: transparent url('../images/player_icons.png') no-repeat -301px -2px;
}
#top_bar .sep {
    float: right;
    width: 2px;
    height: 48px;
    background: black url('../images/topbar_sep.png') no-repeat;
}
#top_bar .view_count {
    float: right;
    padding-top: 18px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 12px;
    margin-left: 12px;
    color: white;
    font-size: 13px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0px -1px #0e0e0e;
    text-transform: uppercase;
}
#top_bar .content_tabs {
    float: right;
    padding-right: 14px;
    padding-top: 13px;
    white-space: nowrap;
}
#top_bar .content_tabs .tab {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 12px;
    margin-left: 12px;
    color: #888;
    font-size: 13px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0px -1px #0e0e0e;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 3px;
}
#top_bar .content_tabs .tab:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
#bottom_bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 49px;
    background-color: black;
    overflow: hidden;
    color: #484848;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#bottom_bar .be_heard, #bottom_bar .slash, #bottom_bar .sign_up {
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
}
#bottom_bar .slash {
    padding-left: 2px;
    letter-spacing: -1px;  
}
#bottom_bar .sign_up {
    padding-left: 2px;
    cursor: pointer;
}
#bottom_bar .sign_up:hover {
    color: white;
}
#bottom_bar .copyright {
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}
#bottom_container {
    position: absolute;
    bottom: 48px;
    height: 55px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}
#tracker_bar {
    position: relative;
    width: 100%;
    height: 55px;
    overflow: hidden;
    background: black url('../images/tracker_bar_bg.png') repeat-x;
    box-shadow: 0px 2px 14px black;
}
#tracker_bar .media_controls {
    position: relative;
    display: block;
    height: 55px;
    width: auto;
    overflow: hidden;
}
#tracker_bar .media_controls .play_pause {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 55px;
    width: 54px;
}
#tracker_bar .media_controls .play_pause .icon {
    width: 28px;
    height: 24px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}
#tracker_bar .media_controls .play_pause .icon {
    background: transparent url('/images/player_icons.png') no-repeat 1px -61px;
}
#tracker_bar .media_controls .play_pause .icon:hover {
    background: transparent url('/images/player_icons.png') no-repeat 1px 9px;
}
#tracker_bar .media_controls .play_pause.playing .icon {
    background: transparent url('/images/controls.png') no-repeat 4px -71px;
}
#tracker_bar .media_controls .play_pause.playing .icon:hover {
    background: transparent url('/images/controls.png') no-repeat 4px -1px;
}
#tracker_bar .media_controls .progress_bar {
    position: absolute;
    left: 54px;
    right: 2px;
    top: 9px;
    height: 38px;
    background: black url('../images/progress_bg.png') repeat-x;
    border-radius: 5px;
}
#tracker_bar .media_controls .progress_bar .track_name {
    position: absolute;
    left: 17px;
    top: 13px;
    color: #eee;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal; 
    text-transform: uppercase;
}
#tracker_bar .media_controls .progress_bar .progress_play_times {
    position: absolute;
    right: 16px;
    top: 13px;
    color: #676767;
    font-size: 13px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    white-space: nowrap;
}
#tracker_bar .media_controls .progress_bar .progress_play_times div {
    display: inline-block;
}
#tracker_bar .media_controls .progress_bar .current_bar_holder {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 2px;
}
#tracker_bar .media_controls .progress_bar .current_bar_holder .current_bar {
    width: 50%;
    height: 100%;
    background: black url('../images/progress_current_bg.png') repeat-x;
    border-radius: 2px;
}
#tracker_bar .buttons {
    float: right;
    height: 55px;
    white-space: nowrap;
}
#tracker_bar .buttons .button {
    display: inline-block;
    height: 55px;
    width: 59px;
}
#tracker_bar .buttons .button .icon {
    width: 28px;
    height: 24px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}
#tracker_bar .buttons .photos.button .icon {
    background: transparent url('/images/player_icons.png') no-repeat -54px -61px;
}
#tracker_bar .buttons .photos.button .icon:hover {
    background: transparent url('/images/player_icons.png') no-repeat -54px 9px;
}
#tracker_bar .buttons .music.button .icon {
    background: transparent url('/images/player_icons.png') no-repeat -118px -61px;
}
#tracker_bar .buttons .music.button .icon:hover {
    background: transparent url('/images/player_icons.png') no-repeat -118px 7px;
}
#tracker_bar .buttons .video.button .icon {
    background: transparent url('/images/player_icons.png') no-repeat -178px -61px;
}
#tracker_bar .buttons .video.button .icon:hover {
    background: transparent url('/images/player_icons.png') no-repeat -178px 7px;
}
#tracker_bar .buttons .love.button .icon {
    background: transparent url('/images/player_icons.png') no-repeat -241px -61px;
}
#tracker_bar .buttons .love.button .icon:hover {
    background: transparent url('/images/player_icons.png') no-repeat -241px 7px;
}
#tracker_bar .buttons .love.button.love_active .icon {
    background: transparent url('/images/controls.png') no-repeat -788px -3px;
}
#tracker_bar .buttons .love.button.love_active .icon:hover {
    background: transparent url('/images/player_icons.png') no-repeat -241px 7px;
}


#tracker_bar .buttons .sep {
    display: inline-block;
    height: 55px;
    width: 2px;
    background: black url('../images/tracker_bar_sep.png') no-repeat;
}

.tooltip {
    display: none;
}

#media_social_boxes {
    height: 220px;
    width: 100%;
    background-color: white;
}
#media_social_boxes .social_boxes {
    float: right;
    width: 580px;
    height: 100%;
    background: black url('../images/inactive_button_texture.png') repeat;
}
#media_social_boxes .social_boxes .social_buttons {
    float: left;
    background: blue;
    width: 174px;
    padding-top: 2px;
    background: black url('../images/inactive_button_texture.png') repeat;
}
#media_social_boxes .social_boxes .social_buttons .button {
    height: 53px;
    background: black url('../images/inactive_button_texture.png') repeat;
    cursor: pointer;
}
#media_social_boxes .social_boxes .social_buttons .button .icon {
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    height: 20px;
    width: 22px;
}
#media_social_boxes .social_boxes .social_buttons .button.twitter .icon {
    background: transparent url('../images/player_icons.png') no-repeat -623px -86px;
}
#media_social_boxes .social_boxes .social_buttons .button.twitter:hover .icon {
    background: transparent url('../images/player_icons.png') no-repeat -623px -16px;
}
#media_social_boxes .social_boxes .social_buttons .button.facebook .icon {
    background: transparent url('../images/player_icons.png') no-repeat -580px -15px;
}
#media_social_boxes .social_boxes .social_buttons .button.facebook:hover .icon {
    background: transparent url('../images/player_icons.png') no-repeat -580px -85px;
}
#media_social_boxes .social_boxes .social_buttons .button.share .icon {
    background: transparent url('../images/player_icons.png') no-repeat -541px -85px;
}
#media_social_boxes .social_boxes .social_buttons .button.share:hover .icon {
    background: transparent url('../images/player_icons.png') no-repeat -541px -15px;
}
#media_social_boxes .social_boxes .social_buttons .button.email .icon {
    background: transparent url('../images/player_icons.png') no-repeat -502px -86px;
}
#media_social_boxes .social_boxes .social_buttons .button.email:hover .icon {
    background: transparent url('../images/player_icons.png') no-repeat -502px -15px;
}

#media_social_boxes .social_boxes .social_buttons .button .label {
    display: inline-block;
    margin-top: 22px;
    margin-left: 8px;
    color: #5a5a5a;
    font-size: 13px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-shadow: 0px -1px #0e0e0e;
    vertical-align: top;
}
#media_social_boxes .social_boxes .social_buttons .sep {
    height: 2px;
    background: black url('../images/vert_button_sep.png') repeat-x;
}
#media_social_boxes .social_boxes .social_content {
    width: auto;
    height: 100%;
    overflow: hidden;
    background: black url('../images/share_bg_texture.png') repeat;
}
#media_social_boxes .media_boxes {
    width: auto;
    height: 100%;
    background: black url('../images/inactive_button_texture.png') repeat;
    overflow: hidden;
}
#media_social_boxes .media_boxes .media_buttons {
    float: left;
    width: 175px;
    height: 100%;
    box-shadow: 2px 0px 14px black;
}
#media_social_boxes .media_boxes .media_buttons .button {
    height: 72px;
    background: black url('../images/inactive_button_texture.png') repeat;
    cursor: pointer;
}
#media_social_boxes .media_boxes .media_buttons .button .icon {
    display: inline-block;
    margin-top: 8px;
    margin-left: 24px;
    width: 45px;
    height: 48px;
}
#media_social_boxes .media_boxes .media_buttons .photos.button .icon {
    background: transparent url('../images/player_icons.png') no-repeat -54px -61px;
}
#media_social_boxes .media_boxes .media_buttons .photos.button:hover .icon {
    background: transparent url('../images/player_icons.png') no-repeat -54px 9px;
}
#media_social_boxes .media_boxes .media_buttons .music.button .icon {
    background: transparent url('../images/player_icons.png') no-repeat -118px -61px;
}
#media_social_boxes .media_boxes .media_buttons .music.button:hover .icon {
    background: transparent url('../images/player_icons.png') no-repeat -118px 7px;
}
#media_social_boxes .media_boxes .media_buttons .video.button .icon {
    background: transparent url('../images/player_icons.png') no-repeat -178px -61px;
}
#media_social_boxes .media_boxes .media_buttons .video.button:hover .icon {
    background: transparent url('../images/player_icons.png') no-repeat -178px 7px;
}

#media_social_boxes .media_boxes .media_buttons .button .label {
    display: inline-block;
    margin-top: 30px;
    margin-left: 11px;
    color: #5a5a5a;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-shadow: 0px -1px #0e0e0e;
    vertical-align: top;
}
#media_social_boxes .media_boxes .media_buttons .button:hover .label {
    color: white;
}
#media_social_boxes .media_boxes .media_buttons .sep {
    height: 2px;
    background: black url('../images/vert_button_sep.png') repeat-x;
}
#media_social_boxes .media_boxes .media_content {
    width: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: black url('../images/media_even_texture.png') repeat;
}
#media_social_boxes .media_list {
    display: none;
}
#media_social_boxes .sep_line {
    height: 2px;
    width: 100%;
    background: #444;
}
#media_social_boxes .play_line {
    height: 32px;
    width: 100%;
}
#media_social_boxes .play_line.odd {
    background: black url('../images/media_odd_texture.png') repeat;
}
#media_social_boxes .play_line .love_song_name {
    float: left;
    overflow: hidden;
}
#media_social_boxes .play_line .love_song_name .song_title {
    display: inline-block;
    padding-left: 12px;
    width: 65px;
    padding-top: 12px;
    text-align: left;
    color: #5a5a5a;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;    
    text-overflow: ellipsis;
}
#media_social_boxes .play_line .love_song_name .love {
    display: inline-block;
    margin-left: 10px;
    margin-right: 8px;
    margin-top: 9px;
    width: 14px;
    height: 14px;
    background: white;
    vertical-align: top;
    cursor: pointer;
}
#media_social_boxes .play_line .love_song_name .song_name {
    display: inline-block;
    padding-top: 10px;
    color: #7d7d7d;
    font-size: 13px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    cursor: pointer;
    vertical-align: top;
}
#media_social_boxes .play_line .love_song_name .song_name:hover {
    color: white;
}
#media_social_boxes .play_line .buy_length_listens {
    float: right;
}
#media_social_boxes .play_line .buy_length_listens .buy {
    display: inline-block;
    margin-top: 7px;
    width: 39px;
    padding-top: 4px;
    margin-right: 5px;
    text-align: center;
    color: white;
    font-size: 11px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    cursor: pointer;
    background-color: #006084;
    border-radius: 2px;
}
#media_social_boxes .play_line .buy_length_listens .buy.free {
    background-color: #94000d;
}
#media_social_boxes .play_line .buy_length_listens .buy.none {
    display: inline-block;
    width: 39px;
    margin-right: 5px;
    background-color: transparent;
    cursor: default;
}
#media_social_boxes .play_line .buy_length_listens .sep {
    display: inline-block;
    width: 2px;
    height: 32px;
    background: #444;
    vertical-align: top;
}
#media_social_boxes .play_line .buy_length_listens .length {
    display: inline-block;
    width: 65px;
    padding-top: 12px;
    text-align: center;
    color: #5a5a5a;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;    
    vertical-align: top;
}
#media_social_boxes .play_line .buy_length_listens .played {
    display: inline-block;
    width: 65px;
    padding-top: 12px;
    text-align: center;
    color: #5a5a5a;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;    
    vertical-align: top;
}

#video_list {
    position: relative;
    height: 100%;
    width: 100%;
}
#video_list .left_nav {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 44px;
    height: 44px;
    background: transparent url('../images/player_icons.png') no-repeat -432px -61px;
}
#video_list .left_nav:hover {
    background: transparent url('../images/player_icons.png') no-repeat -432px 4px;
}
#video_list .right_nav {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 44px;
    height: 44px;
    background: transparent url('../images/player_icons.png') no-repeat -432px -61px;
}
#video_list .right_nav:hover {
    background: transparent url('../images/player_icons.png') no-repeat -432px 4px;
}
#video_list .content {
    position: absolute;
    right: 44px;
    left: 44px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}
#video_list .content .item {
    display: inline-block;
    width: 33.333%;
    padding-right: 2px;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
}
#video_list .content .item .picture {
    margin-right: 4px;
    padding-right: 6px;
}
#video_list .content .item .picture img {
    max-width: 200px;
    width: 100%;
    padding: 3px;
    background-color: white;
}
#video_list .content .item .label {
    max-width: 200px;
    width: 100%;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    color: #888;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    white-space: normal;
}

#media_social_boxes .social_boxes .social_content .social_item {
    display: none;
}

#social_share .title {
    padding-top: 13px;
    padding-left: 14px;
    padding-bottom: 9px;
    color: #555;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#social_share .sep {
    height: 3px;
    width: 100%;
    background: black url('/images/share_sep.png') repeat-x;
}
#social_share .sub_title {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 14px;
    color: white;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#social_share .links {
    height: 36px;
    padding-bottom: 5px;
    padding-left: 10px;
}
#social_share .links .item {
    float: left;
    width: 126px;
    height: 36px;
    margin-right: 4px;
    white-space: nowrap;
}
#social_share .links .item .icon {
    display: inline-block;
    width: 39px;
    height: 36px;
    background-color: gray;
}
#social_share .links .item.facebook {
    background-color: #283981;
}
#social_share .links .item.twitter {
    background-color: #009cb7;
}
#social_share .links .item.tumblr {
    background-color: #466c95;
}
#social_share .links .item.pinterest {
    background-color: #af124c;
}
#social_share .links .item.google {
    background-color: #831219;
}
#social_share .links .item.email {
    background-color: #e07329;
}
#social_share .links .item.facebook .icon {
    background: url('/images/share_icons.png') -2px -2px;
}
#social_share .links .item.twitter .icon {
    background: url('/images/share_icons.png') -43px -2px;
}
#social_share .links .item.tumblr .icon {
    background: url('/images/share_icons.png') -84px -2px;
}
#social_share .links .item.pinterest .icon {
    background: url('/images/share_icons.png') -2px -43px;
}
#social_share .links .item.google .icon {
    background: url('/images/share_icons.png') -43px -43px;
}
#social_share .links .item.email .icon {
    background: url('/images/share_icons.png') -84px -43px;
}
#social_share .links .item .name {
    display: inline-block;
    padding-top: 13px;
    width: 79px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: top;
}


#social_email .title {
    padding-top: 13px;
    padding-left: 14px;
    padding-bottom: 9px;
    color: #555;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#social_email .sep {
    height: 3px;
    width: 100%;
    background: black url('/images/share_sep.png') repeat-x;
}
#social_email .sub_title {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 14px;
    color: white;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#social_email .detail {
    padding-left: 14px;
    padding-right: 18px;
    padding-bottom: 12px;
    color: #555;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#social_email .input_button {
    white-space: nowrap;
}
#social_email input {
    display: inline-block;
    margin-left: 15px;
    margin-right: 8px;
    width: 288px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 8px;
    background-color: #333;
    color: #777;
    font-size: 12px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    outline: 0;
    border: 0;
}
#social_email button {
    display: inline-block;
    width: 66px;
    padding-top: 11px;
    padding-bottom: 6px;
    color: white;
    font-size: 13px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-shadow: -1px -1px #0F8496;
    background-color: #00c5e8;
    border: 0;
    border-radius: 4px;
}

