

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('Neuzeit-Grotesk.eot');
    src: local('Neuzeit-Grotesk'), url('Neuzeit-Grotesk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuzeit Grotesk Light';
    src: url('Neuzeit-Grotesk-Light.eot');
    src: local('Neuzeit-Grotesk-Light'), url('Neuzeit-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teletex Light';
    src: url('Teletex_Light.eot');
    src: local('Teletex_Light'), url('Teletex_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('Lucida Grande.eot');
    src: local('Lucida Grande'), url('Lucida Grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body {
    margin: 0;
    border: 0 none;
    padding: 0;
    background-color: black;
    height: 100%;
    min-height: 100%;
}

.signup_bg {
    background-image: url("/images/landing_bg3.jpg");
}
.signup_bg_cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: #080808;
    opacity: 0.65;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}
#signup_container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
#signup {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    background: #e9e9e9;
    font-family: 'Neuzeit Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#signup .header {
    height: 114px;
    background: #1d182a;
    border-top: 1px solid #2c1b55;
    border-left: 1px solid #2c1b55;
    border-right: 1px solid #2c1b55;
    border-bottom: 1px solid #7a7a7a;
}
#signup .header .text {
    padding-top: 41px;
    padding-left: 44px;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}
#signup .select {
    padding-top: 25px;
    height: 85px;
    font-size: 0;
    text-align: center;
}
#signup .select .label {
    display: inline-block;
    padding-top: 15px;
    padding-right: 32px;
    padding-left: 32px;
    color: #333;
    font-size: 24px;
    vertical-align: top;
}
#signup .select .check_item {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    width: 237px;
    height: 48px;
    background-color: #ececec;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 8px;
    text-align: left;
    vertical-align: top;
}
#signup .select .check_item input {
    margin-left: 13px;
    margin-top: 20px;
    vertical-align: top;
}
#signup .select .check_item .text {
    display: inline-block;
    padding-top: 15px;
    padding-left: 12px;
    color: #454545;
    font-size: 24px;
    vertical-align: top;
}
#signup .line_container {
    height: 133px;
    padding-top: 30px;
}
#signup .line_container .container {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 889px;
    height: 69px;
    background-color: #e2e2e2;
    background-image: linear-gradient(bottom, #F1F1F1 0%, #E1E1E1 50%);
    background-image: -webkit-linear-gradient(bottom, #F1F1F1 0%, #E1E1E1 50%);
    background-image: -moz-linear-gradient(bottom, #F1F1F1 0%, #E1E1E1 50%);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 8px;
}
#signup .line_container .container input {
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    height: 42px;
    width: 835px;
    color: #333;
    font-size: 28px;
    border: 1px solid #bababa;
    vertical-align: top;
}
#signup .line_container .container input.placeholder {
    color: #ccc;
}
#signup .site_link.line_container .container input {
    width: 470px
}
#signup .line_container .container .postfix {
    display: inline-block;
    padding-left: 10px;
    padding-top: 21px;
    color: #333;
    font-size: 33px;
    text-align: left;
    vertical-align: top;
}
#signup .container_sep {
    height: 0px;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid white;
}
#signup .line_container .detail {
    padding-top: 20px;
    padding-left: 30px;
    color: #343434;
    font-size: 16px;
}
#signup .credentials {
    margin-top: 25px;
    width: 890px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;
}
#signup .credentials .title {
    padding-top: 32px;
    color: #24948e;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#signup .credentials .detail {
    padding-top: 0px;
    color: #333;
    font-size: 16px;
    text-align: center;
}
#signup .credentials .fb_tw {
    padding-top: 18px;
    height: 40px;
    font-size: 0px;
    text-align: center;
}
#signup .credentials .fb_tw .icon {
    display: inline-block;
    width: 230px;
    height: 30px;
    vertical-align: top;
    background: blue;
}
#signup .credentials .fb_tw .fb.icon {
    background: url('/images/signup_fb.gif') 17px 0px no-repeat;
}
#signup .credentials .fb_tw .tw.icon {
    background: url('/images/twitter.jpg') 18px 0px no-repeat;
}
#signup .credentials .or {
    height: 30px;
    font-size: 0;
    text-align: center;
}
#signup .credentials .or .text {
    display: inline-block;
    width: 62px;
    color: #666;
    font-size: 24px;
    text-align: center;
    vertical-align: top;
}
#signup .credentials .or .line {
    display: inline-block;
    margin-top: 8px;
    height: 1px;
    width: 340px;
    background: #bebebe;
}




