<?php header("Content-type: text/css"); ?>


@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('neuzeit-grotesk.eot');
    src: url('neuzeit-grotesk-bold.svg#neuzeitgrobold') format('svg'),
    url('neuzeit-grotesk.eot?#iefix') format('embedded-opentype'),
    url('neuzeit-grotesk.woff') format('woff'),
    url('neuzeit-grotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

<?php

if( preg_match("/Windows.*Chrome/",$_SERVER['HTTP_USER_AGENT']) === 1 )
{
    /*  Windows Chrome */
    print <<<END
    
    @font-face {
        font-family: 'Neuzeit Grotesk Large Regular';
        src: url('neuzeit-grotesk.eot');
        src: url('neuzeit-grotesk.eot?#iefix') format('embedded-opentype'),
        url('neuzeit-grotesk.svg#neuzeitgroregular') format('svg'),
        url('neuzeit-grotesk.woff') format('woff'),
        url('neuzeit-grotesk.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
END;
}
else
{
    /* Everything else */
    print <<<END
    
    @font-face {
        font-family: 'Neuzeit Grotesk Large Regular';
        src: url('neuzeit-grotesk.eot');
        src: url('neuzeit-grotesk.eot?#iefix') format('embedded-opentype'),
        url('neuzeit-grotesk.woff') format('woff'),
        url('neuzeit-grotesk.ttf') format('truetype'),
        url('neuzeit-grotesk.svg#neuzeitgroregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
END;
}

?>

@font-face {
    font-family: 'Teletex Light';
    src: url('teletex_reg.eot');
    src: url('teletex_reg.svg#teletexregular') format('svg'),
    url('teletex_reg.eot?#iefix') format('embedded-opentype'),
    url('teletex_light.woff') format('woff'),
    url('teletex_reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#body_wrap {
    position: relative;
    min-height: 100%;
    background: url("/images/signup_bg.jpg") top center no-repeat;
    background-size: 100% auto;
}
.login_page #body_wrap {
    background: url("/images/login_bg.jpg") top center no-repeat;
    background-size: 100% auto;
}
.forgot_password_page #body_wrap {
    background: url("/images/forgot_password_bg.jpg") top center no-repeat;
    background-size: 100% auto;
}
.recover_account_page #body_wrap {
    background: url("/images/recover_account_bg.jpg") top center no-repeat;
    background-size: 100% auto;
}

#main_content {
    padding-bottom: 47px;
    min-height: 560px;
    overflow:auto;
}


html, body {
    margin: 0;
    border: 0 none;
    padding: 0;
    background-color: black;
}

.signup_bg {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: url("/images/signup_bg.jpg") top center no-repeat;
    background-size: 100% auto;
    z-index: -2;
}
.signup_bg_cover {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #080808;
    opacity: 0.65;
    z-index: -1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}
#signup_container {
    padding-top: 70px;
    padding-bottom: 40px;
}
#signup {
    padding-bottom: 45px;
    margin-right: auto;
    margin-left: auto;
    width: 710px;
    background: #e9e9e9;
    font-family: 'Neuzeit Grotesk Large Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#signup .header {
    height: 85px;
    background: #1d182a url("/images/signup_header_bg.jpg") repeat-x;
    border-top: 1px solid #2c1b55;
    border-left: 1px solid #2c1b55;
    border-right: 1px solid #2c1b55;
    border-bottom: 1px solid #7a7a7a;
}
#signup .header .text {
    padding-top: 30px;
    padding-left: 44px;
    color: white;
    font-size: 34px;
    font-family: 'Teletex Light', Helvetica, sans-serif;
    text-transform: uppercase;
}
#signup .select {
    padding-top: 18px;
    height: 62px;
    font-size: 0;
    text-align: center;
}
#signup .select .label {
    display: inline-block;
    padding-top: 13px;
    padding-right: 17px;
    padding-left: 17px;
    color: #333;
    font-size: 18px;
    vertical-align: top;
}
#signup .select .check_item {
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;
    width: 175px;
    height: 35px;
    background-color: #ececec;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 8px;
    text-align: left;
    vertical-align: top;
    cursor: pointer;
}
#signup .select .check_item input {
    margin-left: 13px;
    margin-top: 13px;
    vertical-align: top;
}
#signup .select .check_item .text {
    display: inline-block;
    padding-top: 10px;
    padding-left: 12px;
    color: #454545;
    font-size: 18px;
    vertical-align: top;
}
#signup #artist_items {
    display: none;
}

#signup .line_container {
    padding-top: 22px;
    height: 98px;
}
#signup .line_container .container {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 658px;
    height: 50px;
    font-size: 0;
    background-color: #e2e2e2;
    background-image: linear-gradient(bottom, #F1F1F1 0%, #E1E1E1 50%);
    background-image: -webkit-linear-gradient(bottom, #F1F1F1 0%, #E1E1E1 50%);
    background-image: -moz-linear-gradient(bottom, #F1F1F1 0%, #E1E1E1 50%);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 8px;
}
#signup .line_container .container input {
    margin-left: 7px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    height: 30px;
    width: 621px;
    color: #333;
    font-size: 16px;
    border: 1px solid #bababa;
    vertical-align: top;
}
#signup .line_container .container input.placeholder {
    color: #ccc;
}
#signup .site_link.line_container .container input {
    width: 350px
}
#signup .line_container .container .postfix {
    display: inline-block;
    padding-left: 10px;
    padding-top: 16px;
    color: #333;
    font-size: 24px;
    text-align: left;
    vertical-align: top;
}
#signup .container_sep {
    height: 0px;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid white;
}
#signup .line_container .detail {
    padding-top: 13px;
    padding-left: 30px;
    color: #343434;
    font-size: 12px;
}
#signup .credential_container {
    padding-top: 25px;
}
#signup .credentials {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;
    border-radius: 8px;
}
#signup .credentials .title {
    padding-top: 24px;
    color: #24948e;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#signup .credentials .detail {
    padding-top: 7px;
    margin-right: auto;
    margin-left: auto;
    width: 565px;
    color: #333;
    font-size: 14px;
    text-align: center;
}
#signup .credentials .detail.left {
    text-align: left;
}
#signup .credentials .detail a {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}

#signup .credentials .fb_tw {
    padding-top: 18px;
    height: 40px;
    font-size: 0px;
    text-align: center;
}
#signup .credentials .fb_tw .icon {
    display: inline-block;
    width: 230px;
    height: 30px;
    vertical-align: top;
    background: blue;
    cursor: pointer;
}
#signup .credentials .fb_tw .fb.icon {
    background: url('/images/signup_fb.gif') 17px 0px no-repeat;
}
#signup .credentials .fb_tw .tw.icon {
    background: url('/images/twitter.jpg') 18px 0px no-repeat;
}
#signup .credentials .or {
    height: 30px;
    font-size: 0;
    text-align: center;
}
#signup .credentials .or .text {
    display: inline-block;
    width: 46px;
    color: #666;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
}
#signup .credentials .or .line {
    display: inline-block;
    margin-top: 7px;
    height: 1px;
    width: 250px;
    background: #bebebe;
}
#signup .credentials .or .left.line {
    background-image: linear-gradient(left , #FAFAFA 0%, #BCBCBC 75%);
    background-image: -moz-linear-gradient(left , #FAFAFA 0%, #BCBCBC 75%);
    background-image: -webkit-linear-gradient(left , #FAFAFA 0%, #BCBCBC 75%);
}
#signup .credentials .or .right.line {
    background-image: linear-gradient(right , #FAFAFA 0%, #BCBCBC 75%);
    background-image: -moz-linear-gradient(right , #FAFAFA 0%, #BCBCBC 75%);
    background-image: -webkit-linear-gradient(right , #FAFAFA 0%, #BCBCBC 75%);
}
#signup .credentials .input_container {
    margin-top: 14px;
    margin-right: auto;
    margin-left: auto;
    width: 611px;
    height: 50px;
    font-size: 0;
    background-color: #e2e2e2;
    background-image: linear-gradient(bottom, #F1F1F1 0%, #E1E1E1 50%);
    background-image: -webkit-linear-gradient(bottom, #F1F1F1 0%, #E1E1E1 50%);
    background-image: -moz-linear-gradient(bottom, #F1F1F1 0%, #E1E1E1 50%);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 8px;
}
#signup .credentials .input_container .label {
    display: inline-block;
    padding-left: 20px;
    padding-top: 18px;
    width: 185px;
    color: #333;
    font-size: 20px;
    text-align: left;
}
#signup .credentials .input_container input {
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    height: 32px;
    width: 376px;
    color: #333;
    font-size: 16px;
    border: 1px solid #c4c4c4;
    vertical-align: top;
}
#signup .credentials .submit_container {
    padding-top: 27px;
    height: 53px;
}
#signup .credentials .forgot_password {
    margin-left: auto;
    margin-right: auto;
    width: 611px;
    height: 30px;
    text-align: right;
}
#signup .credentials .forgot_password {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    width: 585px;
    height: 0px;
    text-align: right;
}
#signup .credentials .forgot_password a {
    color: #333;
    font-size: 14px;
    text-decoration: underline;
}
#signup .credentials .submit_container .submit {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8px;
    height: 22px;
    width: 127px;
    color: black;
    font-size: 16px;
    text-align: center;
    background-color: #e2e2e2;
    background-image: linear-gradient(top, #F5F5F5 0%, #E3E3E3 50%);
    background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #E3E3E3 50%);
    background-image: -moz-linear-gradient(top, #F5F5F5 0%, #E3E3E3 50%);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 30px;
    cursor: pointer;
}

#login_error {
    height: 50px;
}
#login_error .error_msg {
    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
    height: 18px;
    width: 600px;
    color: white;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    background-color: #d00;
    border-radius: 4px;
    border: 1px solid #f00;
    box-shadow: 1px 1px 0px #222;
}

