
@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('/fonts/neuzeit-grotesk.eot');
    src: url('/fonts/neuzeit-grotesk-bold.svg#neuzeitgrobold') format('svg'),
    url('/fonts/neuzeit-grotesk.eot?#iefix') format('embedded-opentype'),
    url('/fonts/neuzeit-grotesk.woff') format('woff'),
    url('/fonts/neuzeit-grotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuzeit Grotesk Light';
    src: url('/fonts/Neuzeit-Grotesk-Light.eot');
    src: local('Neuzeit-Grotesk-Light'), url('/fonts/Neuzeit-Grotesk-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Teletex Light';
    src: url('/fonts/teletex_reg.eot');
    src: url('/fonts/teletex_reg.svg#teletexregular') format('svg'),
    url('/fonts/teletex_reg.eot?#iefix') format('embedded-opentype'),
    url('/fonts/teletex_light.woff') format('woff'),
    url('/fonts/teletex_reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Agency Regular';
    src: url('/fonts/agencyr.eot');
    src: url('/fonts/agencyr.eot?#iefix') format('embedded-opentype'),
    url('/fonts/agencyr.woff') format('woff'),
    url('/fonts/agencyr.ttf') format('truetype'),
    url('/fonts/agencyr.svg#AGENCYR') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Agency Bold';
    src: url('/fonts/agencyb.eot');
    src: url('/fonts/agencyb.eot?#iefix') format('embedded-opentype'),
    url('/fonts/agencyb.woff') format('woff'),
    url('/fonts/agencyb.ttf') format('truetype'),
    url('/fonts/agencyb.svg#AGENCYB') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    /*
    background: black url(../images/meek-bg.jpg) no-repeat center center;
    background-size: 100% auto;
    */
}

#body_wrap {
    position: relative;
    min-height: 100%;
}

#main_content {
    min-height: 560px;
    overflow:auto;
    min-width: 850px;
}

.full_screen_bg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0px;
}
.full_screen_bg .pad {
    display: inline-block;
    width: 0px;
    height: 100%;
    background: black;
}
.full_screen_bg .image_holder {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    vertical-align: top;
}
.full_screen_bg .image_holder div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top_title1 {
    padding-top: 56px;
    padding-bottom: 0px;
    padding-left: 20px;
    color: white;
    font-size: 30px;
    font-family: "Neuzeit Grotesk Light", Helvetica, sans-serif;
    text-align: left;
    line-height: 30px;
}
.top_title2 {
    padding-top: 16px;
    padding-bottom: 0px;
    padding-left: 20px;
    color: white;
    font-size: 76px;
    font-family: "Neuzeit Grotesk Light", Helvetica, sans-serif;
    text-align: left;
    line-height: 96px;
}
.bottom_title1 {
    padding-left: 20px;
    color: white;
    font-size: 64px;
    font-family: "Neuzeit Grotesk Light", Helvetica, sans-serif;
    text-align: left;
}

/************************************/
/****** Bottom Bar ******************/
/************************************/

#footer {
    position: relative;
    height: 171px;
    margin-top: -171px;
    clear: both;
}
#footer .slider {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 96px;
    background: black;
    background: rgba(0,0,0,0.8);
    overflow: hidden;
}
#footer .slider .audio_player {
    font-size: 20px;
}
#footer .audio_player .album_image {
    display: inline-block;
    padding-top: 9px;
    padding-left: 30px;
    width: 78px;
    float: left;
    height: 78px;
    vertical-align: top;
}
#footer .audio_player .album_image img {
    width: 78px;
    height: 78px;
}
#footer .audio_player .song_title {
    display: inline-block;
    padding-top: 25px;
    padding-left: 10px;
    color: white;
    font-size: 22px;
    font-family: "Neuzeit Grotesk Light", Helvetica, sans-serif;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}
#footer .audio_player .sep {
    display: inline-block;
    margin-top: 39px;
    width: 3px;
    height: 24px;
    background-color: white;
    vertical-align: top;
}
#footer .audio_player .time {
    display: inline-block;
    padding-top: 35px;
    width: 70px;
    color: white;
    font-size: 26px;
font-family: "Neuzeit Grotesk Light", Helvetica, sans-serif;
    text-align: right;
    vertical-align: top;
}
#footer .audio_player .time div {
    display: inline-block;
    width: 12px;
    text-align: center;
}
#footer .audio_player .controls {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 20px;
    padding-right: 30px;
}
#footer .audio_player .controls .prev {
    display: inline-block;
    margin-top: 36px;
    width: 30px;
    height: 30px;
    background: url("/images/splash_audio_controls.png") -10px -20px no-repeat;
    vertical-align: top;
    cursor: pointer;
}
.no_touch #footer .audio_player .controls .prev:hover {
    background: url("/images/splash_audio_controls.png") -10px -98px no-repeat;
}
#footer .audio_player .controls .play_pause {
    display: inline-block;
    margin-top: 18px;
    margin-left: 11px;
    width: 65px;
    height: 65px;
    background: url("/images/splash_audio_controls.png") -51px -1px no-repeat;
    vertical-align: top;
    cursor: pointer;
}
.no_touch #footer .audio_player .controls .play_pause:hover {
    background: url("/images/splash_audio_controls.png") -51px -79px no-repeat;
}
#footer .audio_player .controls .play_pause.playing {
    background: url("/images/splash_audio_controls.png") -167px -1px no-repeat;
}
.no_touch #footer .audio_player .controls .play_pause.playing:hover {
    background: url("/images/splash_audio_controls.png") -167px -79px no-repeat;
}
#footer .audio_player .controls .next {
    display: inline-block;
    margin-top: 36px;
    margin-left: 11px;
    width: 30px;
    height: 30px;
    background: url("/images/splash_audio_controls.png") -130px -20px no-repeat;
    vertical-align: top;
    cursor: pointer;
}
.no_touch #footer .audio_player .controls .next:hover {
    background: url("/images/splash_audio_controls.png") -130px -98px no-repeat;
}

/*****************************************/






#top_bar_nav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 46px;
    padding-right: 10px;
    background: #1a1a1a;
    text-align: right;
    font-size: 0px;
    white-space: nowrap;
    z-index: 101;
}
#top_bar_nav .upper_left_logo {
    float: left;
}

#top_bar_nav .button {
    display: inline-block;
    margin-top: 12px;
    margin-right: 8px;
    cursor: pointer;
}
#top_bar_nav .button .icon {
    display: inline-block;
    width: 32px;
    height: 30px;
    background: blue;
}
#top_bar_nav .button.active .icon {
    background: red;
}
#top_bar_nav .button .text {
    display: none;
}

#top_bar_nav .button.tab .icon {
    background: transparent url("/images/player_icons.png") -12px -227px no-repeat;
}
#top_bar_nav .button.store .icon {
    background: transparent url("/images/player_icons.png") -58px -227px no-repeat;
}
#top_bar_nav .button.facebook .icon {
    background: transparent url("/images/player_icons.png") -104px -227px no-repeat;
}
#top_bar_nav .button.twitter .icon {
    background: transparent url("/images/player_icons.png") -139px -227px no-repeat;
}
#top_bar_nav .button.instagram .icon {
    background: transparent url("/images/player_icons.png") -177px -227px no-repeat;
}

#top_bar_nav .button.tab.active .icon,
.no_touch #top_bar_nav .button.tab:hover .icon {
    background: transparent url("/images/player_icons.png") -12px -176px no-repeat;
}
#top_bar_nav .button.store.active .icon,
.no_touch #top_bar_nav .button.store:hover .icon {
    background: transparent url("/images/player_icons.png") -58px -176px no-repeat;
}
#top_bar_nav .button.facebook.active .icon,
.no_touch #top_bar_nav .button.facebook:hover .icon {
    background: transparent url("/images/player_icons.png") -104px -176px no-repeat;
}
#top_bar_nav .button.twitter.active .icon,
.no_touch #top_bar_nav .button.twitter:hover .icon {
    background: transparent url("/images/player_icons.png") -139px -176px no-repeat;
}
#top_bar_nav .button.instagram.active .icon,
.no_touch #top_bar_nav .button.instagram:hover .icon {
    background: transparent url("/images/player_icons.png") -177px -176px no-repeat;
}

.content_tab {
    display: none;
    position: absolute;
    top: 46px;
    bottom: 96px;
    left: 0px;
    right: 0px;
    overflow: auto;
    z-index: 101;
    background: black;
    background: rgba(0,0,0,0.7);
}
.content_tab.social_item {
    left: auto;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content_tab.social_item.facebook {
    width: 400px;
}
.content_tab.social_item.instagram ul {
    list-style-type: none;
    padding-bottom: 50px;
}
.content_tab.social_item.instagram ul li {
    padding-bottom: 10px;
}
.content_tab.social_item.instagram ul li img {
    max-width: 90%;
}

.content_tab .close {
    position: fixed;
    top: 110px;
    left: 278px;
    right: 24px;
    height: 0px;
    max-width: 750px;
    white-space: nowrap;
    text-align: right;
    cursor: pointer;
    z-index: 2;
}
.content_tab .close .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    background: transparent url('../images/player_icons.png') no-repeat -206px -51px;
}
.no_touch .content_tab .close:hover .icon {
    background: transparent url('../images/player_icons.png') no-repeat -171px -51px;
}
.content_tab .close .name {
    display: inline-block;
    padding-top: 8px;
    height: 20px;
    color: white;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    vertical-align: top;
}
.ie.windows .content_tab .close .name {
    padding-top: 5px;
}
.firefox.windows .content_tab .close .name {
    padding-top: 5px;
}

.no_touch .content_tab .close:hover .name {
    color: #888;
}

.phone .content_tab .close {
    display: none;
}

.content_tab.user_tab {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    overflow: hidden;
}
.content_tab.user_tab .content_container {
    overflow: auto;
    color: white;
    font-size: 20px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}

/*********************************************/


#store_tab {
    background-color: rgba(0,0,0,0.85);
}
#store_tab .sep {
    position: absolute;
    left: 240px;
    width: 2px;
    top: 36px;
    bottom: 0px;
    background-color: #aaa;
    background-color: rgba(255,255,255,0.4);
}
#store_tab .right {
    margin-left: auto;
    margin-right: auto;
    max-width: 672px;
    overflow: auto;
}

#store_tab .right .nav {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    height: 15px;
    font-size: 12px;
    color: white;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}
#store_tab .right .nav div {
    cursor: pointer;
}
#store_tab .right .nav .store_back {
    float: left;
}
#store_tab .right .nav .view_cart {
    float: right;
}
#store_tab .right .nav .store_close {
    float: right;
    padding-left: 20px;
}
#store_tab .right .nav .arrow {
    display: inline-block;
    height: 0px;
    width: 0px;
    margin-right: 5px;
    vertical-align: top;
	border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 10px solid white;
}
#store_tab .right .nav .store_close .icon {
    display: inline-block;
    height: 19px;
    width: 19px;
    margin-top: -3px;
    margin-right: 5px;
    vertical-align: top;
    background: transparent url("/images/player_icons.png") -672px -332px no-repeat;
}
#store_tab .right .nav .text {
    display: inline-block;
    margin-top: 2px;
    vertical-align: top;
}

#store_tab .product_list {
    max-width: 745px;
    padding-bottom: 30px;
    padding-right: 0px;
}
#store_tab .product_list .store_title {
    padding-top: 27px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: normal;
}
#store_tab .product_list .item {
    display: inline-block;
    width: 204px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    vertical-align: top;
}
.no_touch #store_tab .product_list .item:hover {
    background-color: rgba(80,80,80,0.6);
}
#store_tab .product_list .item .image {
    width: 198px;
    height: 198px;
    padding: 3px;
    background-color: white;
}
#store_tab .product_list .item .image img {
    height: 100%;
    width: 100%;
}
#store_tab .product_list .item .name_price {
    position: relative;
    width: 100%;
    height: 34px;
    margin-top: 10px;
}
#store_tab .product_list .item .name_price .name {
    padding-right: 5px;
    height: 35px;
    color: white;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    word-wrap: normal;
    overflow: hidden;
}
#store_tab .product_list .item .name_price .price {
    float: right;
    padding-top: 8px;
    padding-right: 9px;
    padding-left: 9px;
    height: 20px;
    color: white;
    font-size: 14px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    background-color: #c80012;
    border-radius: 3px;
}
#store_tab .product_info {
    display: none;
    max-width: 675px;
    padding-bottom: 30px;
    padding-right: 0px;
}
#store_tab .product_info .store_title {
    padding-top: 27px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: normal;
}
#store_tab .product_info .pi_right {
    float: right;
    width: 290px;
    padding-left: 20px;
}
#store_tab .product_info .pi_right .name {
    padding-top: 12px;
    padding-bottom: 14px;
    color: white;
    font-size: 25px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: normal;
}
#store_tab .product_info .pi_right .hsep {
    width: 100%;
    height: 1px;
    background-color: #555;
    background-color: rgba(255,255,255,0.3);
}
#store_tab .product_info .pi_right .price_share {
    padding-top: 14px;
    height: 42px;
    padding-bottom: 13px;
}
#store_tab .product_info .pi_right .price_share .dollar_price {
    float: left;
    padding-top: 2px;
    height: 41px;
    color: white;
    font-size: 40px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
}
#store_tab .product_info .pi_right .price_share .dollar_price .dollar {
    vertical-align: super;
    font-size: 25px;
}
#store_tab .product_info .pi_right .price_share .dollar_price.free .dollar {
    display: none;
}
#store_tab .product_info .pi_right .price_share .sizes {
    float: right;
    padding-top: 10px;
}
#store_tab .product_info .pi_right .price_share .sizes select {
    font-size: 18px;
    text-transform: capitalize;
}
#store_tab .product_info .out_stock {
    display: none;
}
#store_tab .product_info .in_stock {
    display: none;
}
#store_tab .product_info .out_stock.stock_count {
    padding-top: 15px;
    padding-bottom: 7px;
    color: red;
    font-size: 25px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}
#store_tab .product_info .in_stock.stock_count {
    padding-top: 15px;
    padding-bottom: 7px;
    color: white;
    font-size: 25px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
}

#store_tab .product_info .pi_right .buy {
    margin-top: 22px;
    width: 175px;
    padding-top: 10px;
    height: 45px;
    background-color: #ba0218;
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
#store_tab .product_info .pi_right .buy:disabled {
    background-color: #555;
}
#store_tab .product_info .pi_right .buy_free {
    display: none;
    margin-top: 22px;
    width: 175px;
    padding-top: 10px;
    height: 45px;
    background-color: #ba0218;
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
#store_tab .product_info .pi_right .description {
    padding-top: 22px;
    color: white;
    font-size: 13px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    white-space: normal;
}

#store_tab .product_info .pi_left {
    overflow: hidden;
}
#store_tab .product_info .pi_left .img_holder {
    padding: 3px 6px 3px 3px;
}
#store_tab .product_info .pi_left .img_holder img {
    width: 100%;
    padding: 3px;
    background-color: white;
}
#store_tab .buy_result {
    display: none;
    max-width: 675px;
    padding-bottom: 30px;
    padding-right: 0px;
}
#store_tab .buy_result .store_title {
    padding-top: 27px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: normal;    
}
#store_tab .buy_result .name {
    padding-top: 12px;
    padding-bottom: 14px;
    color: white;
    font-size: 25px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: normal;
}
#store_tab .buy_result .hsep {
    width: 100%;
    height: 1px;
    background-color: #555;
    background-color: rgba(255,255,255,0.3);
}
#store_tab .buy_result .text {
    padding-top: 12px;
    padding-bottom: 14px;
    color: white;
    font-size: 16px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    white-space: normal;
}
#store_tab .buy_result .button {
    display: inline-block;
    margin-top: 22px;
    margin-right: 20px;
    padding-top: 13px;
    height: 30px;
    width: 175px;
    background-color: #ba0218;
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: "Neuzeit Grotesk", Helvetica, sans-serif;
    font-weight: normal;
    border-radius: 3px;
    cursor: pointer;
}
#store_tab .buy_result .return_to_store {
    background-color: #006084;
}
#store_tab .buy_result .view_cart {
    background-color: #600084;
}
#store_tab .buy_result .checkout {
    background-color: #ba0218;
}
#store_tab .buy_result .fan_signup {
    background-color: #006084;
}
#store_tab .buy_result .fan_login {
    background-color: #600084;
}
#store_tab .buy_result .go_to_fan {
    background-color: #600084;
}

/*********************************************/


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    #main_content {
        min-width: 768px;
        overflow-x: hidden;
    }
    
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

    .play_top_space {
        height: 70px;
    }
    .play_bottom_space {
        height: 48px;
    }
}

@media only screen
and (max-device-width : 480px) {

    #main_content {
        min-width: 320px;
        min-height: 370px;
        overflow-x: hidden;
    }
    .top_title1 {
        padding-top: 56px;
        padding-bottom: 0px;
        padding-left: 7px;
        font-size: 16px;
        line-height: 16px;
    }
    .top_title2 {
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left: 7px;
        font-size: 38px;
        line-height: 40px;
    }
    .bottom_title1 {
        padding-left: 7px;
        font-size: 36px;
    }
    
    #footer {
        position: relative;
        height: 146px;
        margin-top: -146px;
        clear: both;
    }
    
    #footer .audio_player .album_image {
        display: none;
    }
    #footer .audio_player .song_title {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 135px;
        padding-top: 8px;
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
        font-size: 18px;
        line-height: 27px;
        white-space: normal;
    }
    #footer .audio_player .sep {
        display: none;
    }
    #footer .audio_player .time {
        display: none;
    }
    
    #footer .audio_player .controls {
        width: 135px;
        padding-left: 0px;
        padding-right: 10px;
        font-size: 0px;
        text-align: right;
    }
    #footer .audio_player .controls .prev {
        margin-left: 0px;
        margin-right: 0px;
    }
    #footer .audio_player .controls .play_pause {
        margin-left: 0px;
        margin-right: 0px;
    }
    #footer .audio_player .controls .next {
        margin-left: 0px;
        margin-right: 0px;
    }

    .content_tab.social_item.facebook {
        width: auto;
        left: 0px;
        right: 0px;
    }
}

@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone 5 or iPod Touch 5th generation */
    #main_content {
        min-height: 460px;
    }
}

.hidden {
    display: none !important;
}

