
@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('/fonts/neuzeit-grotesk.eot');
    src: url('/fonts/neuzeit-grotesk-bold.svg#neuzeitgrobold') format('svg'),
    url('/fonts/neuzeit-grotesk.eot?#iefix') format('embedded-opentype'),
    url('/fonts/neuzeit-grotesk.woff') format('woff'),
    url('/fonts/neuzeit-grotesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    /*
    background: black url(../images/meek-bg.jpg) no-repeat center center;
    background-size: 100% auto;
    */
}

#body_wrap {
    position: relative;
    min-height: 100%;
}

#main_content {
    min-height: 560px;
    overflow:auto;
    min-width: 850px;
}

.full_screen_bg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0px;
}
.full_screen_bg .pad {
    display: inline-block;
    width: 0px;
    height: 100%;
    background: black;
}
.full_screen_bg .image_holder {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    vertical-align: top;
}
.full_screen_bg .image_holder div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top_title1 {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    color: white;
    font-size: 30px;
    font-family: "Neuzeit Grotesk Light", Helvetica, sans-serif;
    text-align: left;
    line-height: 30px;
}
.top_title2 {
    padding-top: 16px;
    padding-bottom: 0px;
    padding-left: 20px;
    color: white;
    font-size: 76px;
    font-family: "Neuzeit Grotesk Light", Helvetica, sans-serif;
    text-align: left;
    line-height: 96px;
}
.bottom_title1 {
    padding-left: 20px;
    color: white;
    font-size: 64px;
    font-family: "Neuzeit Grotesk Light", Helvetica, sans-serif;
    text-align: left;
}

/************************************/
/****** Bottom Bar ******************/
/************************************/

#footer {
    position: relative;
    height: 171px;
    margin-top: -171px;
    clear: both;
}
#footer .slider {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 96px;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
}
#footer .slider .audio_player {
    font-size: 20px;
}
#footer .audio_player .album_image {
    display: inline-block;
    padding-top: 9px;
    padding-left: 30px;
    width: 78px;
    float: left;
    height: 78px;
    vertical-align: top;
}
#footer .audio_player .album_image img {
    width: 78px;
    height: 78px;
}
#footer .audio_player .song_title {
    display: inline-block;
    padding-top: 25px;
    padding-left: 10px;
    color: white;
    font-size: 22px;
    font-family: "Neuzeit Grotesk Light", Helvetica, sans-serif;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}
#footer .audio_player .sep {
    display: inline-block;
    margin-top: 39px;
    width: 3px;
    height: 24px;
    background-color: white;
    vertical-align: top;
}
#footer .audio_player .time {
    display: inline-block;
    padding-top: 35px;
    width: 70px;
    color: white;
    font-size: 26px;
font-family: "Neuzeit Grotesk Light", Helvetica, sans-serif;
    text-align: right;
    vertical-align: top;
}
#footer .audio_player .time div {
    display: inline-block;
    width: 12px;
    text-align: center;
}
#footer .audio_player .controls {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 20px;
    padding-right: 30px;
}
#footer .audio_player .controls .prev {
    display: inline-block;
    margin-top: 36px;
    width: 30px;
    height: 30px;
    background: url("/images/splash_audio_controls.png") -10px -20px no-repeat;
    vertical-align: top;
    cursor: pointer;
}
.no_touch #footer .audio_player .controls .prev:hover {
    background: url("/images/splash_audio_controls.png") -10px -98px no-repeat;
}
#footer .audio_player .controls .play_pause {
    display: inline-block;
    margin-top: 18px;
    margin-left: 11px;
    width: 65px;
    height: 65px;
    background: url("/images/splash_audio_controls.png") -51px -1px no-repeat;
    vertical-align: top;
    cursor: pointer;
}
.no_touch #footer .audio_player .controls .play_pause:hover {
    background: url("/images/splash_audio_controls.png") -51px -79px no-repeat;
}
#footer .audio_player .controls .play_pause.playing {
    background: url("/images/splash_audio_controls.png") -167px -1px no-repeat;
}
.no_touch #footer .audio_player .controls .play_pause.playing:hover {
    background: url("/images/splash_audio_controls.png") -167px -79px no-repeat;
}
#footer .audio_player .controls .next {
    display: inline-block;
    margin-top: 36px;
    margin-left: 11px;
    width: 30px;
    height: 30px;
    background: url("/images/splash_audio_controls.png") -130px -20px no-repeat;
    vertical-align: top;
    cursor: pointer;
}
.no_touch #footer .audio_player .controls .next:hover {
    background: url("/images/splash_audio_controls.png") -130px -98px no-repeat;
}

/*****************************************/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    #main_content {
        min-width: 768px;
        overflow-x: hidden;
    }
    
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

    .play_top_space {
        height: 70px;
    }
    .play_bottom_space {
        height: 48px;
    }
}

@media only screen
and (max-device-width : 480px) {

    #main_content {
        min-width: 320px;
        min-height: 370px;
        overflow-x: hidden;
    }
    .top_title1 {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 7px;
        font-size: 16px;
        line-height: 16px;
    }
    .top_title2 {
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left: 7px;
        font-size: 38px;
        line-height: 50px;
    }
    .bottom_title1 {
        padding-left: 7px;
        font-size: 36px;
    }
    
    #footer {
        position: relative;
        height: 146px;
        margin-top: -146px;
        clear: both;
    }
    
    #footer .audio_player .album_image {
        display: none;
    }
    #footer .audio_player .song_title {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 135px;
        padding-top: 8px;
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
        font-size: 18px;
        line-height: 27px;
        white-space: normal;
    }
    #footer .audio_player .sep {
        display: none;
    }
    #footer .audio_player .time {
        display: none;
    }
    
    #footer .audio_player .controls {
        width: 135px;
        padding-left: 0px;
        padding-right: 10px;
        font-size: 0px;
        text-align: right;
    }
    #footer .audio_player .controls .prev {
        margin-left: 0px;
        margin-right: 0px;
    }
    #footer .audio_player .controls .play_pause {
        margin-left: 0px;
        margin-right: 0px;
    }
    #footer .audio_player .controls .next {
        margin-left: 0px;
        margin-right: 0px;
    }

    
}

@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone 5 or iPod Touch 5th generation */
    #main_content {
        min-height: 460px;
    }
}


